@import "../../styles/variables/variables";

.div-home-container {

  .div-location-search-container {
    width: 775px;
    max-width: 100%;
  }

  .div-banner-container {
    position: relative;
    
    height: calc(100vh - 60px);
    min-height: 450px;

    .div-banner-center {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      max-width: calc(100% - 50px);

      .div-title {
        text-align: center;
        font-size: $large-font-size;

        @media (max-width: 710px) {
          font-size: $regular-font-size;
        }
      }
    }

    @media (max-width: 710px) {
      max-height: 350px;
    }
  }

  .div-section-title {
    text-align: center;
    margin-top: 100px;
    font-size: $large-font-size;

    @media (max-width: 710px) {
      font-size: $regular-font-size;
      margin-top: 50px;
    }
  }

  .div-featured-menu-container {
    display: flex;
    flex-direction: column;

    .div-featured-menus {
      max-width: calc(100% - 200px);
      margin-top: 70px;
      padding-left: 0px;
      padding-right: 0px;

      .div-featured-menu-wrapper {
        padding-left: 0px;
        padding-right: 0px;
      }

      @media (max-width: 1366px) {
        max-width: calc(100% - 100px);
      }

      @media (max-width: 710px) {
        margin-top: 30px;
      }
    }

    .div-all-products-container {
      text-align: center;
      margin-top: 60px;

      .btn-all-products {
        width: 294px;
        height: 69px;
        border-radius: 8px;
        
        img {
          width: 26px;
          height: 26px;
          margin-left: 20px;
        }
      }

      @media (max-width: 710px) {
        width: calc(100% - 80px);
        margin-left: 40px;
    
        .btn-all-products {
          font-size: 17px;
          height: 60px;
          width: 100%;
        }
      }
    }
  }

  .div-how-it-works-container {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    text-align: center;
    font-size: $large-font-size;

    @media (max-width: 710px) {
      margin-top: 40px;
    }
  }

  .div-feedback-container {
    position: relative;

    .div-feedbacks {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 1400px;
      margin-top: 100px;
      text-align: center;

      @media(max-width: 710px) {
        display: none;
      }
    }

    .responsive-div-feedbacks {
      display: none;
      margin-bottom: 80px;
      
      .slick-slider {
        .responsive-div-feedback {
          margin-left: 40px;
          margin-right: 40px;
        }

        .slick-dots {
          bottom: -40px;
        }
  
        .slick-arrow {
          display: none;
        }
      }

      @media (max-width: 710px) {
        display: block;
      }
    }
  }

  .div-location-search {
    position: relative;
    height: 228px;
    background-color: $bg-gray;
    border: 1px solid #EBE2E2;
    margin-top: 100px;
    padding: 0 20px;
   
    .div-location-search-container {
      position: relative;
      left: 50%;
      top: calc(50% - 50px);
      transform: translateX(-50%) translateY(-50%);
    }

    @media (max-width: 710px) {
      display: none;
    }
  }
}
