@import "../../styles/variables/variables";

$page-padding: 110px;

.div-checkout-container {
  background-color: #F1F1F1;
  padding: $page-padding $page-padding 0 $page-padding;

  .div-checkout-title {
    font-size: $large-font-size;
    font-family: 'Montserrat-SemiBold';
  }

  .div-checkout-forms {
    margin-bottom: 50px;

    position: relative;
    display: flex;
    flex-direction: row;

    .div-checkout-steps-section {
      width: 60%;
      padding: 18px;
      color: $text-light-gray;

      .checkout-step-form-container {
        margin-bottom: 30px;
      }

      input {
        width: 100%;
        height: 70px;
        border: 1px solid $light-green-primary;
        border-radius: 4px;
        color: $text-light-gray;
        font-size: $footer-secondary-font-size;
        caret-color: $green-primary;
        margin-top: 10px;
        padding: 20px;
      }

      input:focus {
        border: 1px solid $green-primary;
      }

      .div-checkout-section-content {
        background-color: white;
        padding: 0 50px;
        display: flex;
        flex-direction: column;
      }

      .div-checkout-account {
        .div-checkout-account-names {
          display: flex;
          flex-direction: row;
  
          .div-checkout-account-firstname {
            flex-grow: 1;
            margin-right: 15px;
          }

          .div-checkout-account-lastname {
            flex-grow: 1;
            margin-left: 15px;
          }
        }

        .div-checkout-account-login {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 30px 0;

          .clickable {
            color: $green-primary;
            margin-left: 5px;
          }
        }
  
        .div-checkout-account-names, .div-checkout-account-email, .div-checkout-account-password {
          margin-top: 35px;
        }
      }

      .div-checkout-address {
        .div-checkout-address-first-row {
          .div-checkout-address-firstname {
            width: 30%;
            padding-right: 15px;
          }

          .div-checkout-address-lastname {
            width: 30%;
            padding-left: 15px;
            padding-right: 15px;
          }

          .div-checkout-address-contact-number {
            width: 40%;
            padding-left: 15px;
          }
        }

        .div-checkout-address-second-row {
          .div-checkout-address-street {
            width: 60%;
            padding-right: 15px
          }

          .div-checkout-address-apartment {
            width: 40%;
            padding-left: 15px;
          }
        }

        .div-checkout-address-third-row {
          margin-bottom: 50px;

          .div-checkout-address-city {
            width: 60%;
            padding-right: 15px;
          }

          .div-checkout-address-state-zip {
            display: flex;
            flex-direction: row;
            width: 40%;

            .div-checkout-address-state {
              width: 50%;
              padding-left: 15px;
  
              display: flex;
              flex-direction: column;
  
              .select-us-state {
                margin-top: 10px;
                border: 1px solid $light-green-primary;
                background-color: white;
                outline: none;
                height: 70px;
                color: $text-light-gray;
              }
            }
  
            .div-checkout-address-zip {
              width: 50%;
              padding-left: 15px;
            }
          }
        }

        .div-checkout-address-first-row, .div-checkout-address-second-row, .div-checkout-address-third-row {
          margin-top: 35px;
          display: flex;
          flex-direction: row;
        }
      }

      .div-checkout-payment {
        .div-checkout-payment-credit-card {
          border: 1px solid $light-green-primary;
          margin-top: 40px;
          padding: 24px;

          .div-checkout-payment-credit-card-number {
            margin: 30px 20px 0 40px;

            .div-checkout-payment-credit-card-number-wrapper {
              margin-top: 10px;

              .input {
                border: 1px solid #56B05A;
                height: 70px;

                label {
                  flex-grow: 1;

                  input {
                    border: none;
                    margin-top: 5px;
                    padding: 0;
                    font-size: $footer-primary-font-size;
                  }

                  .credit-card-input {
                    min-width: unset;
                  }
                }
              }
            }
          }
          
          .div-checkout-payment-credit-card-name {
            margin: 30px 20px 20px 35px;
          }
        }

        .div-checkout-payment-paypal {
          position: relative;
          border: 1px solid $light-green-primary;
          margin-top: 30px;
          margin-bottom: 30px;
          padding: 24px;

          .div-checkout-payment-paypal-instruction {
            font-size: $footer-primary-font-size;
            margin: 10px 100px 40px 35px;
          }

          .img-paypal {
            position: absolute;
            top: 0;
            right: -40px;
            height: 75px;
          }
        }

        .div-checkout-payment-active {
          border: 1px solid $extra-light-gray;
          background-color: $extra-light-gray;
          border-radius: 4px;
        }
      }
    }

    .div-checkout-summary-section {
      width: 40%;
      padding: 18px;
    }
  }

  .div-checkout-separator {
    height: 1px;
    background-color: $text-light-gray;
    margin-left: -($page-padding);
    margin-right: -($page-padding);
  }

  .div-help-container {
    padding: 50px 0 150px 0;
    text-align: center;

    span {
      color: $green-primary;
      text-decoration: underline;
    }
  }

  @media (max-width: 1440px) {
    padding: $page-padding 20px 0 20px;

    .div-checkout-title {
      text-align: center;
    }

    .div-checkout-separator {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  @media (max-width: 1200px) {
    .div-checkout-forms {
      flex-direction: column-reverse;

      .div-checkout-steps-section, .div-checkout-summary-section {
        width: 100%;
      }
    }
  }

  @media (max-width: 710px) {
    padding-top: 60px;

    .div-checkout-title {
      font-size: $regular-font-size;
    }

    .div-checkout-forms {
      margin-bottom: 0px;

      .div-checkout-summary-section {
        padding-left: 0;
        padding-right: 0;
      }

      .div-checkout-steps-section {
        padding-left: 0;
        padding-right: 0;
        font-size: $mobile-regular-font-size;

        input {
          height: 50px;
          font-size: $mobile-regular-font-size;
          caret-color: $green-primary;
          margin-top: 10px;
          padding: 15px;
        }

        .div-checkout-section-content {
          padding: 0 15px;
        }

        .div-checkout-account {
          .div-checkout-account-names {
            flex-direction: column;

            .div-checkout-account-firstname {
              margin-right: 0;
            }
  
            .div-checkout-account-lastname {
              margin-left: 0;
              margin-top: 15px;
            }
          }
  
          .div-checkout-account-login {
            margin: 20px 0;
          }
    
          .div-checkout-account-names, .div-checkout-account-email, .div-checkout-account-password {
            margin-top: 15px;
          }
        }
  
        .div-checkout-address {
          .div-checkout-address-first-row {
            .div-checkout-address-firstname {
              width: 100%;
              padding: 0;
            }
  
            .div-checkout-address-lastname {
              width: 100%;
              padding: 0;
              margin-top: 15px;
            }
  
            .div-checkout-address-contact-number {
              width: 100%;
              padding: 0;
              margin-top: 15px;
            }
          }
  
          .div-checkout-address-second-row {
            .div-checkout-address-street {
              width: 100%;
              padding: 0;
            }
  
            .div-checkout-address-apartment {
              width: 100%;
              padding: 0;
              margin-top: 15px;
            }
          }
  
          .div-checkout-address-third-row {
            margin-bottom: 25px;
  
            .div-checkout-address-city {
              width: 100%;
              padding: 0;
            }

            .div-checkout-address-state-zip {
              width: 100%;
              margin-top: 15px;
              
              .div-checkout-address-state {
                width: 50%;
                padding: 0;
    
                .select-us-state {
                  margin-top: 10px;
                  height: 50px;
                }
              }
    
              .div-checkout-address-zip {
                width: 50%;
              }
            }
          }
  
          .div-checkout-address-first-row, .div-checkout-address-second-row, .div-checkout-address-third-row {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
          }
        }
  
        .div-checkout-payment {
          .div-checkout-payment-credit-card {
            border: 1px solid $light-green-primary;
            margin-top: 15px;
            padding: 0;

            .radio-button {
              margin-left: 15px;
              margin-top: 15px;
            }
  
            .div-checkout-payment-credit-card-number {
              margin: 15px 15px 0 15px;
  
              .div-checkout-payment-credit-card-number-wrapper {
                .input {
                  height: 50px;
  
                  label {
                    input {
                      font-size: $minor-font-size;
                    }
                  }
                }
              }
            }
            
            .div-checkout-payment-credit-card-name {
              margin: 15px 15px 25px 15px;
            }
          }
  
          .div-checkout-payment-paypal {
            margin-top: 20px;
            padding: 15px;
  
            .div-checkout-payment-paypal-instruction {
              font-size: $minor-font-size;
              margin: 10px 0 20px 30px;
            }
  
            .img-paypal {
              right: -30px;
              height: 50px;
            }
          }
        }
      }
    }

    .div-help-container {
      padding-top: 30px;
      padding-bottom: 60px;
      font-size: $mobile-regular-font-size;
    }
  }
}
