@import "../../styles/variables/variables";

$page-padding: 110px;

.div-checkout-container {
  background-color: #F1F1F1;
  padding: $page-padding $page-padding 0 $page-padding;

  .div-checkout-title {
    font-size: $large-font-size;
    font-family: 'Montserrat-SemiBold';
  }

  .div-checkout-forms {
    margin-bottom: 50px;

    position: relative;
    display: flex;
    flex-direction: row;

    .div-checkout-steps-section {
      width: 60%;
      padding: 18px;
      color: $text-light-gray;

      .checkout-step-form-container {
        margin-bottom: 30px;
      }

      input {
        width: 100%;
        height: 70px;
        border: 1px solid #B7CBB8;
        border-radius: 4px;
        color: $text-light-gray;
        font-size: 27px;
        caret-color: $bg-green;
        margin-top: 10px;
        padding: 20px;
      }

      input:focus {
        border: 1px solid $bg-green;
      }

      .div-checkout-section-content {
        background-color: white;
        padding: 0 50px;
        display: flex;
        flex-direction: column;
      }

      .div-checkout-account {
        .div-checkout-account-names {
          display: flex;
          flex-direction: row;
  
          .div-checkout-account-firstname {
            flex-grow: 1;
            margin-right: 15px;
          }

          .div-checkout-account-lastname {
            flex-grow: 1;
            margin-left: 15px;
          }
        }

        .div-checkout-account-login {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 30px 0;

          .clickable {
            color: $bg-green;
            margin-left: 5px;
          }
        }
  
        .div-checkout-account-names, .div-checkout-account-email, .div-checkout-account-password {
          margin-top: 35px;
        }
      }

      .div-checkout-address {
        .div-checkout-address-first-row {
          .div-checkout-address-firstname {
            width: 30%;
            padding-right: 15px;
          }

          .div-checkout-address-lastname {
            width: 30%;
            padding-left: 15px;
            padding-right: 15px;
          }

          .div-checkout-address-contact-number {
            width: 40%;
            padding-left: 15px;
          }
        }

        .div-checkout-address-second-row {
          .div-checkout-address-street {
            width: 60%;
            padding-right: 15px
          }

          .div-checkout-address-apartment {
            width: 40%;
            padding-left: 15px;
          }
        }

        .div-checkout-address-third-row {
          margin-bottom: 50px;

          .div-checkout-address-city {
            width: 60%;
            padding-right: 15px;
          }

          .div-checkout-address-state {
            width: 20%;
            padding-left: 15px;
            padding-right: 15px;

            display: flex;
            flex-direction: column;

            .select-us-state {
              margin-top: 10px;
              border: 1px solid #B7CBB8;
              background-color: white;
              outline: none;
              height: 70px;
              color: $text-light-gray;
            }
          }

          .div-checkout-address-zip {
            width: 20%;
            padding-left: 15px;
          }
        }

        .div-checkout-address-first-row, .div-checkout-address-second-row, .div-checkout-address-third-row {
          margin-top: 35px;
          display: flex;
          flex-direction: row;
        }
      }

      .div-checkout-payment {
        .div-checkout-payment-credit-card {
          border: 1px solid #B7CBB8;
          margin-top: 40px;
          padding: 24px;

          .div-checkout-payment-credit-card-number {
            margin: 30px 20px 0 40px;

            .div-checkout-payment-credit-card-number-wrapper {
              margin-top: 10px;

              .input {
                border: 1px solid #56B05A;
                height: 70px;

                label {
                  flex-grow: 1;

                  input {
                    border: none;
                    margin-top: 5px;
                    padding: 0;
                    font-size: 22px;
                  }

                  .credit-card-input {
                    min-width: unset;
                  }
                }
              }
            }
          }
          
          .div-checkout-payment-credit-card-name {
            margin: 30px 20px 20px 35px;
          }
        }

        .div-checkout-payment-paypal {
          position: relative;
          border: 1px solid #B7CBB8;
          margin-top: 30px;
          margin-bottom: 30px;
          padding: 24px;

          .div-checkout-payment-paypal-instruction {
            font-size: 22px;
            margin: 10px 100px 40px 35px;
          }

          .img-paypal {
            position: absolute;
            top: 0;
            right: -40px;
            height: 75px;
          }
        }

        .div-checkout-payment-active {
          border: 1px solid #F2FFF3;
          background-color: #F2FFF3;
          border-radius: 4px;
        }
      }
    }

    .div-checkout-summary-section {
      width: 40%;
      padding: 18px;
    }
  }

  .div-checkout-separator {
    height: 1px;
    background-color: $text-light-gray;
    margin-left: -($page-padding);
    margin-right: -($page-padding);
  }

  .div-help-container {
    padding: 50px 0 150px 0;
    text-align: center;

    span {
      color: $bg-green;
      text-decoration: underline;
    }
  }
}
