.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  .img-checkbox {
    height: 25px;
    margin-right: 10px;
  }

  span {
    color: #A0A0A0;
  }

  @media (max-width: 710px) {
    .img-checkbox {
      height: 15px;
      margin-right: 5px;
    }

    span {
      font-size: 12px;
    }
  }
}
