@import "../../../../styles/variables/variables";

.help-question-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 40px;

  .help-question {
    background-color: white;
    border: 1.5px solid $green-primary;
    border-radius: 8px;
    height: 100px;
    line-height: 100px;
    color: $green-primary;
    font-family: 'Montserrat-Bold';
    text-align: center;

    &:hover {
      background-color: $green-primary;
      color: white;
    }
  }
}
