@import "../../../../styles/variables/variables";

.div-description-text {
  opacity: 0.58;

  a {
    color: $green-primary;
  }

  @media (max-width: 710px) {
    font-size: $mobile-small-font-size;
  }
}
