@import "../../../../../../styles/variables/variables";

.div-cart {
  position: relative;

  img {
    height: 38px;
  }

  span {
    position: absolute;
    box-sizing: content-box;
    top: -18px;
    left: 24px;
    width: 28px;
    height: 28px;
    color: white;
    background-color: $green-primary;
    border: 4px solid white;
    border-radius: 50px;
    text-align: center;
    line-height: 28px;
    font-size: $small-font-size;
  }

  @media (max-width: 710px) {
    img {
      height: 19px;
    }

    span {
      width: 14px;
      height: 14px;
      line-height: 14px;
      font-size: $mobile-small-font-size;
      left: 12px;
      top: -2px;
      border: 1px solid white;
    }
  }
}
