@import "../../../../styles/variables/variables";

.reset-password-form {
  background-color: white;
  border: 1px solid #D2D2D2;
  color: $text-light-gray;
  box-shadow: $shadow-primary;

  .reset-password-form-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: $extra-light-green;
    height: 100px;

    .reset-password-form-header-title {
      width: 100%;
      line-height: 100px;
      font-family: 'Montserrat-Bold';
      font-size: 28px;
      text-align: center;
      color: $text-primary;
    }
  }

  .reset-password-form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;

    .reset-password-form-input {
      margin-top: 20px;
      padding: 0 40px;
      width: 100%;
      
      span {
        font-size: $mobile-regular-font-size;
        font-family: 'Montserrat-Medium';
      }

      input {
        width: 100%;
        height: 53px;
        margin-top: 5px;
        padding: 0 10px;
        border: 1px solid $light-green-primary;
        border-radius: 4px;
        font-size: $small-font-size;
        caret-color: $green-primary;
      }

      input:focus {
        border: 1px solid $green-primary;
      }
    }

    .btn-reset {
      margin: 20px 40px 0;
      width: calc(100% - 80px);
      height: 56px;
      border-radius: 4px;
      font-size: $mobile-regular-font-size;
    }
  }

  .reset-password-form-links {
    display: flex;
    align-items: center;
    margin: 40px 0;

    a {
      font-family: 'Montserrat-Medium';
      font-size: $mobile-regular-font-size;
      color: $text-light-gray;
      text-decoration: underline;
    }

    .div-separator {
      width: 1px;
      height: 20px;
      background-color: #707070;
      margin: 0 20px;
    }
  }

  @media (max-width: 710px) {
    .reset-password-form-header {
      height: 80px;
      line-height: 80px;

      .reset-password-form-header-title {
        font-size: $regular-font-size;
        font-family: 'Montserrat-Regular';
        color: $text-primary;
      }
    }

    .reset-password-form-inputs {
      .reset-password-form-input {
        margin-top: 15px;
        padding: 0 20px;
        font-size: $mobile-regular-font-size;
  
        input {
          height: 50px;
          font-size: $mobile-regular-font-size;
          padding: 20px 15px;
        }
      }

      .btn-reset {
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
        height: 50px;
        font-size: $mobile-regular-font-size;
      }
    }

    .forgot-password-form-links {
      margin: 20px 0;
      a {
        font-size: $mobile-regular-font-size;
      }

      .div-separator {
        height: 10px;
        margin: 0 10px;
      }
    }
  }
}
