@import "./variables/variables";

button, button:focus {
  outline: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

input, textarea {
  outline: none;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #D0D0D0;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #D0D0D0;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #D0D0D0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.clickable {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

// Override Bootstrap
.container {
  padding: 0;

  @media (max-width: 710px) {
    max-width: calc(100% - 60px) !important;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

// Override rc-rate styles
.rc-rate-star {
  outline: none;
  .img-star {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.rc-rate-star-full {
  .img-star {
    background-image: url('../assets/images/star_full.svg');
  }
}

.rc-rate-star-zero {
  .img-star {
    background-image: url('../assets/images/star_empty.svg');
  }
}

// override react date picker styles
.react-datepicker {
  .react-datepicker__triangle {
    border-bottom-color: white;  
  }

  .react-datepicker__header {
    background-color: white;
    border-bottom: unset;
  }

  .react-datepicker__current-month {
    font-size: $mobile-regular-font-size;
    color: black;
    font-family: 'Montserrat-Bold';
  }

  .react-datepicker__day-name {
    color: #B1B1B1;
    font-size: $mobile-small-font-size;
  }

  .react-datepicker__day {
    background-color: $extra-light-gray;
    border-radius: 3px;
    font-size: $mobile-small-font-size;
    color: #B1B1B1;
  }

  .react-datepicker__day--selected {
    color: white;
    background-color: $green-primary;
  }
}
