@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../assets/fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../assets/fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url('../assets/fonts/Montserrat/Montserrat-Thin.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../assets/fonts/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('../assets/fonts/Lato/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Black';
  src: url('../assets/fonts/Lato/Lato-Black.ttf');
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url('../assets/fonts/Lato/Lato-BoldItalic.ttf');
}

@font-face {
  font-family: 'Inkfree';
  src: url('../assets/fonts/Inky/Inkfree.ttf');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../assets/fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../assets/fonts/OpenSans/OpenSans-Light.ttf');
}


@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../assets/fonts/OpenSans/OpenSans-Semibold.ttf');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../assets/fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Brandon-Regular';
  src: url('../assets/fonts/Brandon/Brandon_reg.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon-Medium';
  src: url('../assets/fonts/Brandon/Brandon_med.otf') format('opentype');
}

@font-face {
  font-family: 'CeraPro-Medium';
  src: url('../assets/fonts/Cera/Cera Pro Medium.otf') format('opentype');
}

@font-face {
  font-family: 'CeraPro-Regular';
  src: url('../assets/fonts/Cera/Cera Pro Regular.otf') format('opentype');
}

@font-face {
  font-family: 'CeraPro-Bold';
  src: url('../assets/fonts/Cera/Cera Pro Bold.otf') format('opentype');
}
