@import "../../../../styles/variables/variables";

$ordered-item-size: 78px;

.ordered-item {
  display: flex;
  flex-direction: row;

  .img-item {
    width: $ordered-item-size;
    height: $ordered-item-size;
    border: 1px solid $border-gray;
    flex-shrink: 0;
  }

  .ordered-item-info {
    margin-left: 12px;
    margin-top: 12px;
    color: $text-light-gray;
    font-size: $mobile-regular-font-size;
    font-family: 'Montserrat-Medium';

    .ordered-item-info-count {
      font-size: $mobile-regular-font-size - 1;
      color: #959BA2;
      padding-left: 10px;
    }
  }

  @media (max-width: 710px) {
    .img-item {
      width: 75px;
      height: 75px;
    }

    .ordered-item-info {
      font-size: $mobile-regular-font-size; 
    }
  }
}
