@import "../../../../styles/variables/variables";

$ordered-item-size: 120px;

.ordered-item {
  display: flex;
  flex-direction: row;

  .img-item {
    width: $ordered-item-size;
    height: $ordered-item-size;
  }

  .ordered-item-info {
    margin-left: 16px;
    color: $text-light-gray;
    font-size: $footer-secondary-font-size;
  }

  @media (max-width: 710px) {
    .img-item {
      width: 75px;
      height: 75px;
    }

    .ordered-item-info {
      font-size: $mobile-regular-font-size; 
    }
  }
}
