@import "../../../../styles/variables/variables";

.auth-form {
  background-color: white;
  box-shadow: $shadow-primary;
  padding: 40px 28px;
  color: $text-light-gray;
  border: 1px solid #B7CBB8;

  .span-link {
    color: $green-secondary;
    text-decoration: underline;
    cursor: pointer;
  }

  .auth-form-header-normal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .auth-form-title {
      font-size: 29px;
      font-family: 'Montserrat-SemiBold';
      color: #4B4B4B;
    }

    .auth-form-switch {
      font-size: $mobile-regular-font-size + 1;
    }
  }

  .auth-form-header-green {
    margin: -30px -30px 0 -30px;
    height: 60px;
    line-height: 60px;

    .auth-form-title {
      font-size: 29px;
      font-family: 'Montserrat-SemiBold';
      text-align: center;
      color: #4B4B4B;
    }
  }

  .auth-form-inputs {
    .auth-form-input {
      margin-top: 15px;

      .auth-form-input-name {
        font-size: $mobile-regular-font-size;
        font-family: 'Montserrat-Medium';
        color: $text-light-gray;
      }

      input {
        width: 100%;
        height: 52px;
        margin-top: 10px;
        padding: 0 10px;
        border: 1px solid $light-green-primary;
        border-radius: 4px;
        font-size: $small-font-size;
        caret-color: $green-primary;
      }

      input:focus {
        border: 1px solid $green-primary;
      }
    }

    .auth-form-double-inputs {
      display: flex;

      #input_firstname {
        margin-right: 9px;
        width: 50%;
      }
      #input_lastname {
        margin-left: 9px;
        width: 50%;
      }
    }

    .btn-continue {
      margin-top: 20px;
      width: 100%;
      height: 52px;
      font-size: $mobile-regular-font-size;
      font-family: 'Montserrat-Medium';
      border-radius: 4px;
    }

    .auth-form-forgot-password {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;

      .checkbox {
        color: #CFCFCF;

        img {
          height: 22px;
        }
        span {
          font-size: $mobile-regular-font-size;
        }
      }

      .span-forgot-password {
        font-size: $mobile-regular-font-size;
        color: $green-secondary;
        margin-right: 10px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .auth-form-separator {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    
    .auth-form-separator-line {
      flex-grow: 1;
      height: 1px;
      background-color: $light-green-primary;
    }

    span {
      padding: 0 8px;
      font-size: $mobile-regular-font-size - 1;
    }
  }

  .facebook-button {
    width: 100%;
    margin-top: 20px;
  }

  .auth-form-footer {
    text-align: center;
    margin-top: 20px;
    font-size: $mobile-regular-font-size;
    font-family: 'OpenSans-Regular';

    .auth-form-footer-signup {
      margin-top: 20px;
    }
  }

  @media (max-width: 710px) {
    padding-left: 15px;
    padding-right: 15px;

    .auth-form-header-normal {
      .auth-form-title {
        font-size: $regular-font-size;
      }

      .auth-form-switch {
        font-size: $small-font-size;
      }
    }

    .auth-form-header-green {
      margin: -30px -15px 0 -15px;
      border-bottom: unset;

      .auth-form-title {
        font-size: $regular-font-size;
        font-family: 'Montserrat-Regular';
        color: $text-primary;
      }
    }

    .auth-form-inputs {
      margin-top: 15px;
      
      .auth-form-input {
        margin-top: 15px;
        font-size: $mobile-regular-font-size;
  
        input {
          height: 50px;
          font-size: $mobile-regular-font-size;
          padding: 20px 15px;
        }
      }
  
      .btn-continue {
        margin-top: 15x;
        height: 50px;
        font-size: $mobile-regular-font-size;
      }

      .auth-form-double-inputs {
        #input_firstname {
          margin-right: 5px;
        }
        #input_lastname {
          margin-left: 5px;
        }
      }

      .auth-form-forgot-password {
        .span-forgot-password {
          font-size: $mobile-regular-font-size;
        }
      }
    }
  
    .auth-form-separator {
      margin-top: 15px;
    
      span {
        font-size: $small-font-size;
      }
    }
  
    .btn-facebook {
      margin-top: 0px;
    }
  
    .auth-form-footer {
      text-align: center;
      margin-top: 30px;
      font-size: $small-font-size;

      .auth-form-footer-signup {
        font-size: $small-font-size;
      }
    }
  }
}