@import "../../../../styles/variables/variables";

.auth-form {
  background-color: white;
  border: 1px solid #D2D2D2;
  padding: 50px;
  color: $text-light-gray;

  .span-link {
    color: $green-secondary;
    text-decoration: underline;
    cursor: pointer;
  }

  .auth-form-header-normal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .auth-form-title {
      font-size: 32px;
      font-family: 'Montserrat-SemiBold';
    }
  }

  .auth-form-header-green {
    margin: -50px -50px 0 -50px;
    height: 135px;
    line-height: 135px;
    border-bottom: 1px solid $light-green-primary;
    background: $extra-light-green;

    .auth-form-title {
      font-size: 41px;
      font-family: 'Montserrat-Medium';
      text-align: center;
    }
  }

  .auth-form-inputs {
    .auth-form-input {
      margin-top: 30px;

      input {
        width: 100%;
        height: 80px;
        margin-top: 10px;
        padding: 0 20px;
        border: 1px solid $light-green-primary;
        border-radius: 4px;
        font-size: $footer-secondary-font-size;
        caret-color: $green-primary;
      }

      input:focus {
        border: 1px solid $green-primary;
      }
    }

    .auth-form-double-inputs {
      display: flex;

      #input_firstname {
        margin-right: 15px;
        width: 50%;
      }
      #input_lastname {
        margin-left: 15px;
        width: 50%;
      }
    }

    .btn-continue {
      margin-top: 50px;
      width: 100%;
      height: 80px;
    }

    .auth-form-forgot-password {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;

      .checkbox {
        color: #CFCFCF;
      }

      .span-forgot-password {
        color: $green-primary;
        margin-right: 10px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .auth-form-separator {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    
    .auth-form-separator-line {
      flex-grow: 1;
      height: 1px;
      background-color: $light-green-primary;
    }

    span {
      padding: 0 16px;
    }
  }

  .facebook-button {
    width: 100%;
    margin-top: 30px;
  }

  .auth-form-footer {
    text-align: center;
    margin-top: 50px;

    .auth-form-footer-signup {
      margin-top: 50px;
    }
  }

  @media (max-width: 710px) {
    padding-left: 15px;
    padding-right: 15px;

    .auth-form-header-normal {
      .auth-form-title {
        font-size: $regular-font-size;
      }

      .auth-form-switch {
        font-size: $small-font-size;
      }
    }

    .auth-form-header-green {
      margin: -50px -15px 0 -15px;
      height: 80px;
      line-height: 80px;
      border-bottom: unset;

      .auth-form-title {
        font-size: $regular-font-size;
        font-family: 'Montserrat-Regular';
        color: $text-primary;
      }
    }

    .auth-form-inputs {
      margin-top: 30px;
      
      .auth-form-input {
        margin-top: 15px;
        font-size: $mobile-regular-font-size;
  
        input {
          height: 50px;
          font-size: $mobile-regular-font-size;
          padding: 20px 15px;
        }
      }
  
      .btn-continue {
        margin-top: 30px;
        height: 50px;
        font-size: $mobile-regular-font-size;
      }

      .auth-form-double-inputs {
        #input_firstname {
          margin-right: 5px;
        }
        #input_lastname {
          margin-left: 5px;
        }
      }

      .auth-form-forgot-password {
        .span-forgot-password {
          font-size: $mobile-regular-font-size;
        }
      }
    }
  
    .auth-form-separator {
      margin-top: 15px;
    
      span {
        font-size: $small-font-size;
      }
    }
  
    .btn-facebook {
      margin-top: 15px;
    }
  
    .auth-form-footer {
      text-align: center;
      margin-top: 30px;
      font-size: $small-font-size;

      .auth-form-footer-signup {
        font-size: $small-font-size;
      }
    }
  }
}