@import "../../styles/variables/variables";

.div-menus-container {
  background-color: $extra-light-gray;
  margin-top: 78px;

  .div-menus {
    padding: 120px 60px 40px;

    .div-menus-section {
      margin-bottom: 60px;

      .div-menus-section-title {
        display: flex;
        align-items: center;
        font-size: $footer-secondary-font-size;

        .div-line {
          height: 1px;
          background-color: #232222;
          opacity: 0.24;
          flex-grow: 1;
          margin-left: 30px;
        }
      }

      .div-menus-grid {
        margin-top: 10px;
        margin-left: -15px;
        margin-right: -15px;

        .div-menu-wrapper {
          padding-left: 0px;
          padding-right: 0px;
        }
      }
    }
  }

  @media (max-width: 710px) {
    margin-top: 60px;
    // .div-menus {
    //   margin-top: 60px;
    //   padding-bottom: 40px;

    //   .div-menus-grid {
    //     .div-load-more {
    //        height: 60px;
    //        line-height: 60px;
    //        font-size: $small-font-size;

    //        width: calc(100% - 30px);
    //        max-width: 333px;
    //     }
    //   }
    // }
  }
}