@import "../../../styles/variables/variables";

.job-apply-modal {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%);
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 6px;
  box-shadow: $shadow-primary;
  padding: 30px 35px 30px;
  color: $text-light-gray;

  width: 686px;
  height: 610px;

  .job-apply-title {
    color: #414141;
    font-family: 'Montserrat-Bold';
    font-size: $small-font-size - 1;
  }

  .job-apply-form-container{
    overflow:hidden;
    margin-left: -17px;
    position: relative;
    display: flex;
    .job-apply-form {
      position: relative;
      right: -17px;
      margin-top: 20px;
      margin-bottom: 30px;
      overflow-y: scroll;
      font-size: $mobile-regular-font-size;

      input, textarea {
        width: 100%;
        height: 47px;
        border: 1px solid $light-green-primary;
        border-radius: 4px;
        color: $text-light-gray;
        caret-color: $green-primary;
        margin-top: 3px;
        resize: none;
        padding: 15px;
        font-size: $mobile-regular-font-size + 1;

        &:focus {
          border: 1px solid $green-primary;
        }
      }
      textarea {
        height: 129px;
      }

      .input-file-uploader {
        visibility: hidden;
        border: unset;
        width: 0;
        height: 0;
        padding: unset;
        margin: unset,
      }

      .btn-attach {
        width: unset;
        min-width: 169px;
        height: 52px;
        padding: 0 20px;
        border-radius: 4px;
        border: .75px solid #3E8541;
        margin-top: 10px;
        font-size: $mobile-regular-font-size + 1;
        font-family: 'Montserrat-Medium';
      }

      .job-apply-form-double-input {
        display: flex;
        justify-content: space-between;

        .job-apply-form-single-input {
          width: calc(50% - 12px);
        }
      }

      .job-apply-form-single-input {
        margin-bottom: 25px;
      }

      .job-apply-form-description {
        width: calc(100% - 30px);
        color: black;
        font-size: $mobile-regular-font-size + 1;
      }

      .job-apply-form-selection-group {
        margin-top: 30px;

        .job-apply-form-selection-group-title {
          color: $text-light-gray;
          font-family: 'Montserrat-Medium';
        }

        .checkbox {
          margin-left: 10px;
          margin-top: 15px;

          img {
            height: 20px;
            border-radius: 2px;
            margin-right: 8px;
          }
          span {
            color: $text-light-gray;
            font-size: $mobile-regular-font-size + 1;
          }
        }
      }
    }
  }

  .job-apply-next-prev-buttons {
    position: absolute;
    right: 25px;
    bottom: -25px;
    display: flex;

    %button {
      width: 169px;
      height: 51px;
      margin: 0 8px;
      border-radius: 4px;
      font-size: $mobile-regular-font-size + 1;
      font-family: 'Montserrat-Medium';
      background-color: #3D3D3D;
    }

    .btn-move {
      @extend %button;

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
      .img-move {
        height: 15px;
      }
    }

    .btn-submit {
      @extend %button;
    }
  }

  .has-scroll {
    overflow-y: scroll;
  }
}
