@import "../../../../styles/variables/variables";

.order-history-item {
  padding: 45px 0;
  border-bottom: 1px solid #92A493;

  .order-history-main-responsive {
    display: none;
  }

  .order-history-main {
    display: flex;
    font-size: $small-font-size;
    color: $text-light-gray;
    text-align: center;

    .order-history-item-name {
      width: 33%;
      text-align: left; 
      display: flex;
      padding-left: 25px;

      .img-item {
        width: 90px;
        height: 90px;
        margin-right: 5px;
        border-radius: 45px;
        overflow: hidden;
        flex-shrink: 0;
      }

      .order-history-item-info {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .span-order-number-title {
          color: #393838;
        }
        .span-order-number {
          font-size: 16px;
        }
        .span-cancel {
          color: $green-primary;
          font-size: $mobile-regular-font-size;
        }
      }
    }

    .order-history-item-status, .order-history-item-date, .order-history-item-total {
      margin-top: 20px;
    }

    .order-history-item-status {
      width: 17%;
    }

    .order-history-item-date {
      width: 20%;
    }

    .order-history-item-total {
      width: 30%;
    }
  }

  .order-history-sub {
    margin-left: 120px;
    margin-top: 30px;
  }

  @media (max-width: 1024px) {
    .order-history-sub {
      margin-left: 50px;
    }
  }

  @media (max-width: 710px) {
    border-bottom-color: #DEDEDE;
    padding: 20px 0;

    .order-history-main {
      display: none;
    }

    .order-history-sub {
      margin-left: 30px;
    }

    .order-history-main-responsive {
      display: flex;

      .img-item {
        width: 80px;
        height: 80px;
        border-radius: 40px;
        flex-shrink: 0;
        overflow: hidden;
        margin-right: 20px;
      }

      .order-history-main-responsive-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        font-size: $mobile-regular-font-size;
        color: #707070;
        line-height: 24px;

        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .span-number-title {
          font-family: 'Montserrat-SemiBold';
          color: #393838;
        }
        .span-cancel {
          color: $green-primary;
        }
        .span-date {
          font-family: 'Montserrat-Medium';
        }
        .span-price {
          font-family: 'Montserrat-Medium';
          font-size: 13px;
        }
      }
    }
  }


}
