@import "../../../../styles/variables/variables";

.order-history-item {
  display: flex;
  color: $text-light-gray;
  margin-top: 30px;
  
  .order-history-item-column-title {
    font-family: 'Montserrat-SemiBold';
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .order-history-item-name-column {
    width: 40%;

    .order-history-item-detail {
      display: flex;
      .img-item {
        width: 80px;
        height: 80px;
      }

      .order-history-item-title {
        margin-top: 20px;
        font-size: $small-font-size;
      }

      .order-history-item-more {
        font-size: 16px;
        margin-top: 5px;
      }
    }
  }

  .order-history-item-quantity-column {
    width: 10%;
    text-align: center;
  }

  .order-history-item-status-column {
    width: 30%;
    text-align: center;

    .order-history-item-status {
      font-size: $small-font-size;
    }
  }

  .order-history-item-price-column {
    width: 20%;
    text-align: center;

    .order-history-item-price {
      font-size: $small-font-size;
      margin-bottom: 30px;
    }

    .btn-rate {
      width: 95px;
      height: 41px;
      font-size: $small-font-size;
      background-color: #72BD75;
      border-radius: 100px;
    }

    .img-star {
      width: 25px;
      height: 25px;
    }
  }
}

.order-history-item-underlined {
  border-bottom: 1px solid #92A493;
  padding-bottom: 50px;
}