@import "../../../../styles/variables/variables";

.div-menu-item {
  padding: 24px;
  display: flex;
  flex-direction: column;
  color: $text-light-gray;

  .img-menu-item {
    max-height: 331px;
    min-height: 300px;
    height: 0;
    border: 1px solid $border-gray;
  }

  .div-menu-item-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
    font-size: 29px;

    .span-menu-item-price {
      margin-left: 20px;
    }
  }

  .div-numeric-counter, .div-add-to-cart {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }

  // .div-time-rating {
  //   display: flex;
  //   flex-direction: row;
  //   margin-top: 20px;

  //   div {
  //     border: 1px solid #CFCFCF;
  //     border-radius: 24px;
  //     height: 43px;
  //     text-align: center;
  //     font-size: $small-font-size;
  //     padding-left: 16px;
  //     padding-right: 16px;
  //   }

  //   .div-time {
  //     line-height: 43px;
  //   }

  //   .div-rating {
  //     display: flex;
  //     flex-direction: row;
  //     align-items: center;
  //     margin-left: 10px;

  //     img {
  //       height: 14px;
  //       margin-right: 5px;
  //     }
  //   }
  // }

  @media (max-width: 710px) {
    padding: 15px;

    .div-menu-item-name-price {
      font-size: $mobile-regular-font-size;
    }

    // .div-time-rating {
    //   div, span {
    //     font-size: 9px;
    //   }
      
    //   img {
    //     width: 9px;
    //   }

    //   .div-time, .div-rating {
    //     height: 25px;
    //     line-height: 25px;
    //   }
    // }
  }

  @media (max-width: 414px) {
    .img-menu-item {
      min-height: 200px;
    }
  }
}