@import "../../../../styles/variables/variables";

.div-menu-item {
  margin: 15px;
  border-radius: 10px;
  border: 1px solid #70707080;
  box-shadow: $shadow-secondary;
  background: white;

  .img-menu-item {
    max-height: 280px;
    min-height: 240px;
    height: 0;
    border-bottom: 1px solid $border-gray;
  }

  .div-menu-item-name-description {
    padding: 20px;

    %one-line {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .div-menu-item-name {
      font-size: 18px;
      @extend %one-line;
    }

    .div-menu-item-description {
      font-size: 16px;
      font-family: 'Montserrat-Light';
      margin: 10px 0 10px 0;
      @extend %one-line;
    }
  }

  .div-menu-item-bottom {
    display: flex;
    border-top: 1px solid #A2A2A280;
    height: 78px;

    %one-third-part {
      width: 33.3%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .div-menu-item-price {
      @extend %one-third-part;
      font-size: $small-font-size;
    }

    .div-numeric-counter {
      @extend %one-third-part;
      border-left: 1px solid #A2A2A280;
      border-right: 1px solid #A2A2A280;
    }

    .div-menu-item-add {
      @extend %one-third-part;

      .btn-add {
        color: $green-primary;
        font-size: $mobile-regular-font-size;
        padding: 5px 15px;
        border: 1px solid $green-primary;
        border-radius: 8px;
      }
    }
  }

  // .div-time-rating {
  //   display: flex;
  //   flex-direction: row;
  //   margin-top: 20px;

  //   div {
  //     border: 1px solid #CFCFCF;
  //     border-radius: 24px;
  //     height: 43px;
  //     text-align: center;
  //     font-size: $small-font-size;
  //     padding-left: 16px;
  //     padding-right: 16px;
  //   }

  //   .div-time {
  //     line-height: 43px;
  //   }

  //   .div-rating {
  //     display: flex;
  //     flex-direction: row;
  //     align-items: center;
  //     margin-left: 10px;

  //     img {
  //       height: 14px;
  //       margin-right: 5px;
  //     }
  //   }
  // }

  // @media (max-width: 710px) {
  //   padding: 15px;

  //   .div-menu-item-name-price {
  //     font-size: $mobile-regular-font-size;
  //   }

  //   // .div-time-rating {
  //   //   div, span {
  //   //     font-size: 9px;
  //   //   }
      
  //   //   img {
  //   //     width: 9px;
  //   //   }

  //   //   .div-time, .div-rating {
  //   //     height: 25px;
  //   //     line-height: 25px;
  //   //   }
  //   // }
  // }

  // @media (max-width: 414px) {
  //   .img-menu-item {
  //     min-height: 200px;
  //   }
  // }
}