@import "../../../../styles/variables/variables";

.div-menu-item {
  margin: 15px;
  border-radius: 10px;
  border: 1px solid #70707080;
  box-shadow: $shadow-secondary;
  background: white;

  .img-menu-item {
    max-height: 280px;
    min-height: 240px;
    height: 0;
    border-bottom: 1px solid $border-gray;

    img {
      border-top-left-radius: 10px !important;
      border-top-right-radius: 10px !important;
    }
  }

  .div-menu-item-name-description {
    padding: 20px;

    %one-line {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .div-menu-item-name {
      font-size: 18px;
      @extend %one-line;
    }

    .div-menu-item-description {
      font-size: 16px;
      font-family: 'Montserrat-Light';
      margin: 10px 0 10px 0;
      @extend %one-line;
    }
  }

  .div-menu-item-bottom {
    display: flex;
    border-top: 1px solid #A2A2A280;
    height: 78px;

    %one-third-part {
      width: 33.3%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .div-menu-item-price {
      @extend %one-third-part;
      font-size: $small-font-size;
    }

    .div-numeric-counter {
      @extend %one-third-part;
      border-left: 1px solid #A2A2A280;
      border-right: 1px solid #A2A2A280;
    }

    .div-menu-item-add {
      @extend %one-third-part;

      .btn-add {
        color: $green-primary;
        font-size: $mobile-regular-font-size;
        padding: 5px 15px;
        border: 1px solid $green-primary;
        border-radius: 8px;
      }
    }
  }

  @media (max-width: 414px) {
    margin: 10px;
    
    .img-menu-item {
      min-height: 150px;
      max-height: 200px;
    }

    .div-menu-item-name-description {
      padding: 20px 15px;

      .div-menu-item-description {
        display: none;
      }

      .div-menu-item-name {
        font-size: $mobile-regular-font-size;
        font-family: 'Montserrat-Medium';
      }
    }

    .div-menu-item-bottom {
      height: 60px;

      .div-menu-item-price {
        font-size: 12px;
      }

      .div-menu-item-add {
        .btn-add {
          background-color: $green-primary;
          color: white;
          font-size: $mobile-small-font-size;
          padding: 10px 20px;
        }
      }
    }
  }
}