@import "../../../../styles/variables/variables";

.help-tabitem {
  background-color: white;
  padding: 3px 40px 16px 16px;
  display: flex;
  width: 356px;
  height: 93px;

  .img-tabitem {
    height: 55px;
    margin-right: 5px;
  }

  .help-tabitem-info {
    display: flex;
    flex-direction: column;
    padding-top: 15px;

    .span-title {
      font-size: $small-font-size;
      font-family: 'Montserrat-SemiBold';
      margin-bottom: 3px;
      line-height: 20px;
    }

    .span-subtitle {
      font-size: $mobile-regular-font-size - 1;
      font-family: 'montserrat-Regular';
      color: #9F9F9F;
      line-height: 16px;
    }
  }
}