@import "../../../../styles/variables/variables";

.div-menus-header-container {
  position: fixed;
  left: 0;
  right: 0;
  height: 78px;
  z-index: $zindex-menu-header;
  background-color: $extra-light-green;
  transition: all ease-out 0.1s;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 40px 0 60px;

  .div-menus-header-left {
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    align-items: center;

    .div-recommended {
      width: 69px;
      height: 37px;
      margin-left: 20px;
      background-image: url('../../../../assets/images/recommended_button.svg');
      background-repeat: no-repeat;
      background-position: center;

      &:active {
        background-image: url('../../../../assets/images/recommended_button_highlight.svg');
      }
    }

    .menu-datepicker {
      margin-left: 60px;
    }
  }

  .div-menus-header-right {
    display: flex;
    align-items: center;

    .div-search-container {
      width: 325px;
      height: 52px;
      padding: 16px;
      display: flex;
      align-items: center;
      background: white;
      border-radius: 6px;
      border: 1px solid #54595480;

      input {
        flex-grow: 1;
        font-size: $small-font-size;
        color: #545954;
        caret-color: $green-primary;

        @media (max-width: 1200px) {
          font-size: $regular-font-size;
        }
      }

      img {
        height: 28px;
      }
    }

    .div-zip-code {
      display: flex;
      align-items: center;
      margin-right: 100px;

      img {
        height: 32px;
        margin-right: 10px;
      }

      .div-zip-code-description {
        color: #3D403F;
        font-family: 'Montserrat-Bold';
      }
      .div-zip-code-info {
        color: #3D403F;
        margin-top: -10px;
      }
    }
  }

  @media (max-width: 1365px) {
    .div-menus-header-left .menu-datepicker {
      display: none;
    }
    .div-menus-header-right .div-zip-code {
      display: none;
    }
  }

  @media (max-width: 710px) {
    position: absolute;
    padding: 0 22px;
    height: 63px;

    .div-menus-header-left {
      .div-recommended {
        width: 46px;
        height: 31px;
        margin-left: 10px;
      }
    }

    .div-menus-header-right .div-search-container {
      width: 200px;
      height: 31px;
      border-radius: 4px;
      padding: 10px;

      img {
        height: 13px;
      }
      input {
        font-size: $mobile-regular-font-size;
      }
    }
  }

  // @media (max-width: 710px) {
  //   .div-menus-header-left {
  //     flex-direction: column;
  //     padding: 15px 15px 0 15px;

  //     .div-dropdown-container, .div-search-container {
  //       height: 50px;
  //       width: 100%;
  //       margin-bottom: 15px; 

  //       input, span {
  //         font-size: $mobile-regular-font-size;
  //       }
  //       img {
  //         width: 21px;
  //       }
  //     }
  //   }

  //   .div-menus-header-right {
  //     height: 70px;
  //     .div-menus-type-item {
  //       font-size: $mobile-regular-font-size;
  //       line-height: 70px;
  //       margin: 0px;
  //       overflow: hidden;

  //       @media (max-width: 414px) {
  //         font-size: $mobile-small-font-size;
  //       }
  //     }
  //   }
  // }
}

.div-menus-header-squizzed {
  right: 375px;
}
