@import "../../../../styles/variables/variables";

$increment-color: #D3D3D3;

.div-increment-counter {
  border-radius: 8px;
  border: 1px solid $increment-color;
  padding: 20px 30px;
  color: $increment-color;

  display: flex;
  flex-direction: row;
  align-items: center;

  span {
    font-size: $medium-font-size;
  }

  input {
    text-align: center;
    font-size: $footer-secondary-font-size;
    color: $increment-color;
    flex-grow: 1;
    min-width: 40px;
  }

  @media (max-width: 710px) {
    padding: 0 15px;
    height: 45px;

    span {
      font-size: 22px;
    }

    input {
      font-size: 13px;
      min-width: 20px;
    }
  }
}
