@import "../../styles/variables/variables";

.div-terms-of-service-container {
  background-color: $extra-light-gray;
  padding-bottom: 70px;

  .div-terms-of-service-title {
    height: 240px;
    line-height: 240px;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.16);
    text-align: center;
    font-size: $large-font-size;
    font-family: 'Montserrat-SemiBold';
  }

  .div-terms-of-service-content {
    margin: 70px 140px 0;
    padding: 80px 120px;
    background-color: white;
    border-radius: 54px;
    border: 1px solid #B7CBB8;
    box-shadow: $shadow-secondary;

    .div-terms-of-service-header {
      display: flex;
      align-items: center;

      .title {
        font-size: 32px;
        font-family: 'Montserrat-SemiBold';
      }
      .timestamp {
        color: $green-primary;
        margin-left: 100px;
      }
    }

    .div-separator {
      height: 1px;
      background-color: rgba(0,0,0,0.38);
      margin-top: 20px;
      margin-bottom: 40px;
    }

    .div-terms-of-service-body {
      .div-terms-of-service-paragraph {
        margin-bottom: 30px;
      }

      .div-terms-of-service-subtitle {
        font-family: 'Montserrat-Bold';
      }
    }
  }

  @media (max-width: 1366px) {
    .div-terms-of-service-content {
      margin: 40px 60px;
    }
  }

  @media (max-width: 1024px) {
    .div-terms-of-service-content {
      padding: 40px 60px;
    }
  }

  @media (max-width: 710px) {
    .div-terms-of-service-title {
      margin-top: 60px;
      height: 100px;
      line-height: 100px;
      font-size: $regular-font-size;
      font-family: 'Montserrat-Regular';
    }

    .div-terms-of-service-content {
      margin: 30px 40px;
      padding: 20px 15px;
      border-radius: 7px;

      .div-terms-of-service-header {
        flex-direction: column;
        align-items: flex-start;

        .title {
          font-size: $small-font-size;
        }
        .timestamp {
          font-size: 12px;
          margin-left: 0;
          margin-top: 10px;
        }
      }
  
      .div-separator {
        display: none;
      }
  
      .div-terms-of-service-body {
        margin-top: 20px;

        .div-terms-of-service-paragraph {
          margin-bottom: 30px;
          line-height: 24px;
          font-size: 12px;
          font-family: 'Montserrat-Medium';
        }
  
        .div-terms-of-service-subtitle {
          font-family: 'Montserrat-SemiBold';
          font-size: $mobile-regular-font-size;
        }
      }
    }
  }
}
