@import "../../styles/variables/variables";

.div-terms-of-service-container {
  background-color: $extra-light-gray;
  padding-top: 10px;
  padding-bottom: 70px;

  .bold {
    font-family: 'Montserrat-Bold';
  }

  .div-terms-of-service-content {
    margin: 70px 200px 0;
    padding: 60px 60px 500px;
    background-color: white;
    box-shadow: $shadow-secondary;

    .div-terms-of-service-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .div-terms-of-service-header-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
  
        .title {
          font-size: 32px;
          font-family: 'Montserrat-SemiBold';
        }
        .timestamp {
          color: $green-primary;
          margin-top: 10px;
          font-size: 15px;
        }
      }
      
      .btn-download {
        width: 155px;
        height: 50px;
        font-size: $small-font-size;
        font-family: 'Montserrat-Medium';
        border-radius: 2px;
      }
    }

    .div-separator {
      height: 1px;
      background-color: rgba(0,0,0,0.38);
      margin-top: 20px;
      margin-bottom: 40px;
    }

    .div-terms-of-service-body {
      font-size: 15px;
      .div-terms-of-service-paragraph {
        margin-bottom: 20px;
      }

      .div-terms-of-service-subtitle {
        font-family: 'Montserrat-Bold';
      }
    }
  }

  @media (max-width: 1366px) {
    .div-terms-of-service-content {
      margin: 40px 60px;
    }
  }

  @media (max-width: 1024px) {
    .div-terms-of-service-content {
      padding: 40px 60px;
    }
  }

  @media (max-width: 710px) {
    .div-terms-of-service-content {
      margin: 40px 40px;
      padding: 20px 15px;

      .div-terms-of-service-header {
        .div-terms-of-service-header-left {
          .title {
            font-size: $mobile-regular-font-size;
          }
          .timestamp {
            font-size: $mobile-small-font-size;
            margin-top: 0;
          }
        }

        .btn-download {
          font-size: $mobile-regular-font-size;
          width: 100px;
          height: 35px;
        }
      }
  
      .div-separator {
        display: none;
      }
  
      .div-terms-of-service-body {
        margin-top: 20px;

        .div-terms-of-service-paragraph {
          margin-bottom: 30px;
          line-height: 24px;
          font-size: 12px;
          font-family: 'Montserrat-Medium';
        }
  
        .div-terms-of-service-subtitle {
          font-family: 'Montserrat-SemiBold';
          font-size: $mobile-regular-font-size;
        }
      }
    }
  }
}
