@import "../../../../styles/variables/variables";

$padding: 28px;
$margin: 15px;
$order-summary-header-height: 70px;

.order-summary-container {
  background-color: white;
  box-shadow: $shadow-primary;

  .order-summary-header {
    height: $order-summary-header-height;
    background-color: $bg-gray;
    padding-left: $padding;
    padding-right: $padding;

    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    font-size: $small-font-size;

    .order-summary-title {
      color: $text-light-gray;
    }
  }

  .order-summary-separator-gray {
    height: 1px;
    background-color: #ACACAC;
  }

  .order-summary-separator-green {
    height: 1px;
    background-color: $light-green-primary;
  }

  .order-summary-info {
    color: $text-light-gray;
    font-size: $mobile-regular-font-size;

    %order-summary-info-block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: $padding;
      padding-right: $padding;
      margin-top: $margin;
    }

    .order-summary-info-block {
      @extend %order-summary-info-block;
    }
    
    .order-summary-info-block-highlighted {
      @extend %order-summary-info-block;
      font-family: 'Montserrat-Medium';
      color: $green-primary;
    }

    .span-light-gray {
      color: #ACACAC;
    }

    .order-summary-promo-enable, .order-summary-promo-input, .order-summary-promo-price {
      font-size: $mobile-regular-font-size - 1;
      padding: 0 $padding;
      margin: $margin 0;
      font-family: 'Montserrat-Bold';
    }

    .order-summary-promo-enable {
      color: #266D16;
    }

    .order-summary-promo-price {
      display: flex;
      justify-content: space-between;
      align-items: center;    
      color: #266D16;
    }

    .order-summary-promo-input {
      position: relative;

      input {
        width: calc(100% - 170px);
        height: 22px;
        padding-left: 20px;
        padding-bottom: 3px;
        margin-right: 180px;
        caret-color: $text-light-gray;
        border-bottom: 1px solid $text-light-gray;
      }

      span {
        position: absolute;
        right: 28px;
        bottom: 0;
        height: 22px;
        line-height: 22px;
        color: #56B05A;
        text-align: center;
        border-radius: 5px;
        font-family: 'Montserrat-Medium';
      }
    }

    .order-summary-total-price-block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: $padding;
      padding-right: $padding;
      margin: 15px 0;

      span {
        color: #003300;
        font-family: 'Montserrat-Bold';
      }

      .span-total-price {
        font-size: $mobile-regular-font-size + 1;
        font-family: 'Montserrat-Medium';
        color: $text-light-gray;
      }
    }
  }

  .order-summary-items {
    padding: 25px;

    .order-summary-items-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: $small-font-size;

      .order-summary-items-title {
        color: $text-light-gray;  
      }
    }

    .order-summary-items-list {
      margin-top: 25px;
      overflow-y: hidden;
      max-height: 400px;

      &:hover {
        overflow-y: scroll;
      }

      /* width */
      &::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #F5F5F5; 
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #747474; 
        border-radius: 100px;

        &:hover {
          background: #555; 
        }
      }

      .ordered-item {
        margin-bottom: $margin;
      }
    }
  }

  @media (max-width: 710px) {
    .order-summary-header {
      font-size: $regular-font-size;
      height: 70px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .order-summary-info {
      font-size: $mobile-regular-font-size;

      .order-summary-info-block, .order-summary-info-block-highlighted {
        padding-left: 20px;
        padding-right: 20px;
      }

      .order-summary-promo-enable {
        padding: 0 20px;
      }

      .order-summary-promo-input {
        span {
          right: 20px;
        }
      }

      .order-summary-total-price-block {
        font-size: $mobile-regular-font-size;
        font-family: 'Montserrat-Bold';
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    
    .order-summary-items {
      padding: 20px 20px;

      .order-summary-items-header {
        font-size: $regular-font-size;
      }
    }
  }
}
