@import "../../../../styles/variables/variables";

$padding: 40px;
$margin: 20px;
$order-summary-header-height: 108px;

.order-summary-container {
  background-color: white;
  border: 1px solid $light-green-primary;
  box-shadow: $shadow-primary;

  .order-summary-header {
    height: $order-summary-header-height;
    background-color: $bg-gray;
    padding-left: $padding;
    padding-right: $padding;

    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    font-size: $footer-secondary-font-size;

    .order-summary-title {
      color: $text-light-gray;
    }

    .order-summary-edit {
      color: $green-secondary;
    }
  }

  .order-summary-separator-gray {
    height: 1px;
    background-color: #ACACAC;
  }

  .order-summary-separator-green {
    height: 1px;
    background-color: $light-green-primary;
  }

  .order-summary-info {
    color: #ACACAC;
    font-size: $footer-primary-font-size;

    .order-summary-info-block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: $padding;
      padding-right: $padding;
      margin-top: $margin;
    }

    .order-summary-promo-input {
      position: relative;
      margin-top: $margin;
      padding-bottom: $padding - 10px;
      padding-left: $padding - 10px;
      padding-right: $padding - 10px;

      input {
        width: 100%;
        height: 67px;
        border: 1px solid #B4B4B4;
        border-radius: 5px;
        color: $green-primary;
        padding-left: 30px;
        padding-right: 180px;
      }
      input:focus {
        border: 1px solid $green-secondary;
      }

      span {
        position: absolute;
        top: 6px;
        right: $padding - 4px;
        bottom: 6px;
        width: 170px;
        height: 55px;
        line-height: 55px;
        color: #DFDFDF;
        text-align: center;
        border-radius: 5px;
      }

      .span-apply-active {
        color: $green-secondary;
        background-color: #EAFEEB;
      }
    }

    .order-summary-total-price-block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: $text-light-gray;
      padding-left: $padding;
      padding-right: $padding;
      margin: $margin 0;
    }
  }

  .order-summary-items {
    padding: $margin $padding;

    .order-summary-items-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: $footer-secondary-font-size;

      .order-summary-items-title {
        color: $text-light-gray;  
      }

      .order-summary-items-edit {
        color: $green-secondary;
      }
    }

    .order-summary-items-list {
      margin-top: $margin;
      overflow-y: scroll;
      max-height: 400px;

      .ordered-item {
        margin-bottom: $margin;
      }
    }
  }

  @media (max-width: 710px) {
    .order-summary-header {
      font-size: $regular-font-size;
      height: 70px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .order-summary-info {
      font-size: $mobile-regular-font-size;

      .order-summary-info-block {
        padding-left: 20px;
        padding-right: 20px;
      }

      .order-summary-promo-input {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;

        input {
          padding-left: 15px;
          height: 50px;
          padding-right: 80px;
        }

        span {
          right: 30px;
          line-height: 40px;
          height: 40px;
          width: 70px;
        }
      }

      .order-summary-total-price-block {
        font-size: $mobile-regular-font-size;
        font-family: 'Montserrat-Bold';
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    
    .order-summary-items {
      padding: 20px 20px;

      .order-summary-items-header {
        font-size: $regular-font-size;
      }
    }
  }
}
