@import "../../../../styles/variables/variables";

.address-input {
  .dropdown__trigger {
    display: flex;
    min-width: 123px;

    .address-input-trigger {
      font-size: $mobile-regular-font-size;
      font-family: 'CeraPro-Medium';
      color: $green-primary;
    }
  }

  .dropdown__content {
    background-color: white;
    width: 222px;
    height: 55px;
    margin-left: -90px;
    margin-top: 10px;
    animation-name: dropdown-animation;
    animation-duration: 0.5s;
    transform-origin: left top;
    z-index: $zindex-header;
    overflow: hidden;
    border: .5px solid #70707080;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.16);
    
    .div-address-input {
      display: flex;
      align-items: center;
      height: 100%;

      img {
        width: 13px;
        margin-left: 15px;
        margin-right: 8px;
      }
  
      input {
        font-size: $mobile-regular-font-size - 1.5;
      }
    }
  }
}