@import "../../../../../../styles/variables/variables";

.dropdown-list {
  padding: 12.5px 25px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;

  .dropdown-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
      color: $text-light-gray;
      font-size: $mobile-regular-font-size;
    }
  
    img {
      width: 12px;
    }
  }

  @keyframes dropdown-animation {
    from { transform: scaleY(0); }
    to { transform: scaleY(1); }
  }

  .dropdown-list-content {
    color: $text-light-gray;
    font-size: $mobile-regular-font-size;
    margin-top: 10px;
    animation-name: dropdown-animation;
    animation-duration: 0.25s;

    div {
      padding-top: 10px;
    }
    div:hover {
      color: white;
    }
  }
}