@import "../../styles/variables/variables";

.div-help-center-container {
  background-color: #EFF4F8;
  padding-bottom: 10px;
  min-height: 100vh;

  .div-help-center-banner {
    position: relative;
    height: 417px;

    .div-help-center-title {
      position: relative;
      text-align: center;
      font-size: 33px;
      font-family: 'Montserrat-SemiBold';
      top: calc(50% - 40px);
      transform: translateY(-50%);
      line-height: 40px;
      letter-spacing: 3px;
    }

    .div-help-center-subtitle {
      position: relative;
      text-align: center;
      font-size: $mobile-regular-font-size - 1;
      font-family: 'Montserrat-Medium';
      top: calc(50% - 48px);
      transform: translateY(-50%);
      line-height: 16px;

      span {
        color: #47944A;
      }
    }

    .div-help-center-search {
      position: relative;
      left: 50%;
      top: calc(50% - 23px);
      transform: translateX(-50%);
      padding: 0 30px;
      width: 544px;
      max-width: 100%;
    }    
  }

  .div-help-center {
    padding-bottom: 150px;

    .div-help-center-content {
      max-width: 1330px;
      display: flex;

      .div-tabs {
        margin-right: 20px;

        .help-tabitem {
          margin-bottom: 10px;
        }
      }

      .div-tab-contents {
        flex-grow: 1;
        background-color: white;
        padding: 55px 120px 55px 55px;

        .help-text-group {
          margin-bottom: 60px;
        }
      }
    }
  }


  @media (max-width: 710px) {
    .div-help-center-banner {
      max-height: 350px;

      .div-help-center-title {
        font-size: $regular-font-size;
        top: calc(50% - 60px)
      }
    }
  }
}
