@import "../../styles/variables/variables";

.div-help-center-container {

  .div-help-center-banner {
    position: relative;
    height: 417px;

    .div-help-center-title {
      position: relative;
      text-align: center;
      font-size: 33px;
      font-family: 'Montserrat-SemiBold';
      top: calc(50% - 40px);
      transform: translateY(-50%);
    }

    .div-help-center-subtitle {
      position: relative;
      text-align: center;
      font-size: $mobile-regular-font-size - 1;
      font-family: 'Montserrat-Medium';
      top: calc(50% - 50px);
      transform: translateY(-50%);

      span {
        color: #47944A;
      }
    }

    .div-help-center-search {
      position: relative;
      left: 50%;
      top: calc(50% - 30px);
      transform: translateX(-50%);
      padding: 0 30px;
      width: 484px;
      max-width: 100%;
    }    
  }

  .div-help-center {
    margin-top: 120px;

    .div-help-center-content {
      max-width: 1330px;

      .div-help-center-header {
        display: flex;

        .span-header-title {
          font-size: 30px;
          font-family: 'CeraPro-Bold';
          margin-right: 50px;
        }

        .div-help-center-header-tabs {
          display: flex;
          flex-grow: 1;
          border-bottom: 1px solid #1C1C1C;

          .span-tab {
            font-size: $mobile-regular-font-size;
            font-family: 'Montserrat-Medium';
            width: 80px;
            text-align: center;
            margin-top: 5px;
          }

          .span-tab-selected {
            border-bottom: 4px solid #47944A;
          }
        }
      }
    }
    

    .div-still-need-help {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
      margin-bottom: 100px;

      .span-need-help {
        font-family: 'Inkfree';
        font-size: 27px;
        color: #333333;
        margin-bottom: 25px;
      }

      .btn-need-help {
        width: 169px;
        height: 52px;
        font-size: $mobile-regular-font-size + 1;
        font-family: 'Montserrat-Medium';
        border-radius: 4px;
      } 
    }
  }


  @media (max-width: 710px) {
    .div-help-center-banner {
      max-height: 350px;

      .div-help-center-title {
        font-size: $regular-font-size;
        top: calc(50% - 60px)
      }
    }
  }
}
