@import "../../../../styles/variables/variables";

.checkout-step-form-container {
  background-color: white;
  border: 1px solid #B7CBB8;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);

  .checkout-step-form-separator {
    height: 1px;
    background-color: #B7CBB8;
  }

  .checkout-step-form-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F2FFF3;
    height: 108px;

    .img-checked, .div-step-number {
      width: 44px;
      height: 44px;
      border-radius: 22px;
      margin-left: 30px;
    }

    .div-step-number {
      color: #108915;
      border: 3px solid #06AA0D;
      background-color: white;
      text-align: center;
      line-height: 44px;
      font-size: 27px;
      font-family: 'Montserrat-Bold';
    }

    .div-step-number-inactive {
      color: white;
      border: unset;
      background-color: #ACACAC;
    }

    .div-checkout-step-title {
      color: $text-light-gray;
      font-size: 27px;
      margin-left: 15px;
    }
  }

  .checkout-step-form-header-inactive {
    background-color: white;
  }

  .checkout-step-form-body {
    .div-checkout-step-form {
      min-height: 100px;
    }

    .div-checkout-step-form-footer {
      text-align: right;

      .btn-checkout-step-form {
        height: 73px;
        margin: 30px 50px 30px 0;
        padding-left: 40px;
        padding-right: 40px;
      }
    }
    
  }
}
