@import "../../../../styles/variables/variables";

$step-number-size: 44px;
$checkout-header-height: 108px;

.checkout-step-form-container {
  background-color: white;
  box-shadow: $shadow-primary;

  .checkout-step-form-separator {
    height: 1px;
    background-color: $light-green-primary;
  }

  .checkout-step-form-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $extra-light-green;
    height: $checkout-header-height;

    .img-checked, .div-step-number {
      width: $step-number-size;
      height: $step-number-size;
      border-radius: 100px;
      margin-left: 30px;
    }

    .div-step-number {
      color: $green-secondary;
      border: 3px solid #06AA0D;
      background-color: white;
      text-align: center;
      line-height: $step-number-size;
      font-size: $footer-secondary-font-size;
      font-family: 'Montserrat-Bold';
    }

    .div-step-number-inactive {
      color: white;
      border: unset;
      background-color: #ACACAC;
    }

    .div-checkout-step-title {
      color: $text-light-gray;
      font-size: $footer-secondary-font-size;
      margin-left: 15px;
    }
  }

  .checkout-step-form-header-inactive {
    background-color: white;
  }

  .checkout-step-form-body {
    .div-checkout-step-form-footer {
      text-align: right;

      .btn-checkout-step-form {
        width: unset;
        height: 73px;
        margin: 30px 50px 30px 0;
        padding-left: 40px;
        padding-right: 40px;
      }
    }
    
  }

  @media (max-width: 710px) {
    .checkout-step-form-header {
      height: 70px;

      .img-checked, .div-step-number {
        width: 32px;
        height: 32px;
        margin-left: 15px;
      }

      .div-step-number {
        line-height: 32px;
        font-size: $regular-font-size;
      }

      .div-checkout-step-title {
        font-size: $regular-font-size;
      }
    }

    .checkout-step-form-body {
      .div-checkout-step-form-footer {
        .btn-checkout-step-form {
          margin: 25px 20px;
          padding: unset;
          width: calc(100% - 40px);
          height: 60px;
          font-size: $small-font-size;
        }
      }
    }
  }
}
