@import "../../../../styles/variables/variables";

.div-featured-menu {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: calc(100% - 40px);

  .img-featured-menu {
    height: 120px;
    border-radius: 3px;
    border: 1px solid #9D9D9D80;
    overflow: hidden;
  }

  .div-featured-menu-details {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    .div-featured-menu-name {
      text-align: left;
      font-family: 'Montserrat-Bold';
      font-size: $small-font-size - 1;
      margin-top: 10px;
    }

    .div-featured-menu-more-detail {
      display: flex;
      margin-top: 5px;
      color: $text-light-gray;
      font-size: $mobile-regular-font-size;
      text-align: left;

      .div-featured-menu-detail-column {
        margin-right: 5px;
        flex-grow: 1;
      }
    }

    .div-quick-order {
      font-size: $mobile-regular-font-size - 1;
      background-color: #EAFEEB;
      color: $green-primary;
      text-align: center;
      border-radius: 2px;
      width: 116px;
      height: 41px;
      line-height: 41px;
    }
  }
}

@media (max-width: 710px) {
  .div-featured-menu {
    margin: 15px 0px;
    height: unset;
    flex-direction: row;

    .img-featured-menu {
      height: 200px;
      max-width: 50%;
      min-width: 150px;
      margin-top: 0;
      flex-grow: 1;
    }
  
    .div-featured-menu-details {
      flex-grow: 1;
      padding: 0 10px;

      .div-featured-menu-name {
        font-size: $mobile-regular-font-size;
        margin-top: unset;
      }
  
      .div-featured-menu-more-detail {
        font-size: $minor-font-size;
        flex-direction: column;
  
        .div-featured-menu-detail-column {
          flex-grow: 1;

          div {
            margin-top: 5px;
          }
        }

        .div-quick-order {
          font-size: $mobile-small-font-size;
          background-color: #EAFEEB;
          color: $green-primary;
          text-align: center;
          border-radius: 4px;
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }
}