@import "../../../../styles/variables/variables";

.div-featured-menu {
  position: relative;
  background-color: white;
  border: 1px solid $border-gray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 20px;

  .img-featured-menu {
    height: 250px;
    margin-top: 3px;
    border-bottom: 1px solid $border-gray;
  }

  .div-featured-menu-details-order {
    display: flex;
    flex-direction: column;
    width: 100%;

    .div-featured-menu-details {
      padding: 16px;
  
      .div-featured-menu-name {
        text-align: left;
      }
  
      .div-featured-menu-more-detail {
        display: flex;
        margin-top: 10px;
        color: $text-light-gray;
        text-align: left;
  
        .div-featured-menu-detail-column-1 {
          flex-grow: 1;
        }
  
        .div-featured-menu-detail-column-2 {
          flex-grow: 1;
        }
      }
    }
  
    .div-order {
      display: flex;
      justify-content: space-between;
      height: 65px;
      padding: 5px;
      font-size: $small-font-size;
  
      .div-price {
        background-color: $bg-gray;
        color: #4c4e4c;
        text-align: center;
        line-height: 55px;
        font-family: 'Lato-Bold';
        border-radius: 4px;
        width: calc(50% - 2.5px);
      }
  
      .div-quick-order {
        background-color: #EAFEEB;
        color: $green-primary;
        text-align: center;
        line-height: 55px;
        border-radius: 4px;
        width: calc(50% - 2.5px);
      }
    }
  }
}

@media (max-width: 710px) {
  .div-featured-menu {
    margin: 15px 0px;
    flex-direction: row;

    .img-featured-menu {
      height: 200px;
      max-width: 50%;
      min-width: 150px;
      margin-top: 0;
      flex-grow: 1;
      border-bottom: unset;
      border-right: 1px solid $border-gray;
    }
  
    .div-featured-menu-details-order {
      .div-featured-menu-details {
        flex-grow: 1;
        padding: 10px;

        .div-featured-menu-name {
          font-size: $mobile-regular-font-size;
        }
    
        .div-featured-menu-more-detail {
          font-size: $minor-font-size;
          flex-direction: column;
    
          .div-featured-menu-detail-column-1 {
            flex-grow: 1;

            div {
              margin-top: 5px;
            }
          }
    
          .div-featured-menu-detail-column-2 {
            flex-grow: 1;

            div {
              margin-top: 5px;
            }
          }
        }
      }
    
      .div-order {
        display: flex;
        justify-content: space-between;
        height: 40px;
        padding: 5px;
    
        .div-price {
          background-color: $bg-gray;
          color: #4c4e4c;
          text-align: center;
          line-height: 30px;
          font-family: 'Lato-Bold';
          font-size: $mobile-small-font-size;
          border-radius: 4px;
          width: calc(50% - 2.5px);
        }
    
        .div-quick-order {
          font-size: $mobile-small-font-size;
          background-color: #EAFEEB;
          color: $green-primary;
          text-align: center;
          line-height: 30px;
          border-radius: 4px;
          width: calc(50% - 2.5px);
        }
      }
    }
  }
}