.term {
  .term-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;

    .img-down-arrow {
      display: none;
      height: 7.2px;
      margin-right: 20px;
    }
  }

  @media (max-width: 710px) {
    .term-header {
      border-top: 1px solid #D4CCCC;
      padding: 20px 0;

      .img-down-arrow {
        display: block;
      }
    }
  }
}