@import "../../styles/variables/variables";

.div-about-us-container {
  display: flex;
  flex-direction: column;

  .img-background {
    height: 487px;
    margin-bottom: 50px;
    margin-top: 15px;
  }

  .img-background-2 {
    width: 750px;
    height: 526px;
    margin: 80px auto 60px;
  }

  .container {
    max-width: 1024px;
  }

  .about-us-description {
    color: #333333;
    padding: 20px 40px 30px;

    .about-us-description-title {
      font-size: $regular-font-size + 2;
      font-family: 'Lato-Black';
      margin-bottom: 20px;
    }

    .about-us-description-content {
      font-size: $mobile-regular-font-size;
    }
  }

  .about-us-description-single {
    font-size: $small-font-size;
    font-family: 'Lato-Bold';
    padding: 0 40px;
    color: #333333;
  }

  .separator {
    height: 3px;
    background-color: $green-primary;
    margin: 80px 0;
  }

  .about-us-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 100px auto;

    .about-us-description {
      .about-us-description-title {
        text-align: center;
      }
    }

    .button {
      width: 144px;
      height: 48px;
      border-radius: 5px;
      border: 0.75px solid #3E8541;
      font-size: $mobile-regular-font-size - 1;
      font-family: 'Montserrat-Medium'; 
    }
  }
}
