@import "../../../styles/variables/variables";

.order-feedback-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 450px;
  transform: translate(-50%, -50%);
  margin-bottom: 100px;
  border: 0.5px solid #EDF0F7;
  border-radius: 3px;
  background-color: white;
  box-shadow: $shadow-primary;

  %order-feedback-section {
    background-color: #EDF0F7;
    box-shadow: $shadow-primary;
  }

  %feedback-title {
    color: #196523;
    font-size: $footer-secondary-font-size;
    font-family: 'Montserrat-Bold';
    margin-bottom: 15px;
  }

  %feedback-subtitle {
    color: #6D6D6D;
    font-size: $mobile-regular-font-size - 2;
    margin-bottom: 12px;
  }

  %button {
    width: calc(100% - 40px);
    margin: 25px 20px 0;
    height: 53px;
    border-radius: 5px;
    background-color: #FEFEFE;
    box-shadow: $shadow-primary;
    border: unset;
    font-size: $small-font-size;
    font-family: 'Montserrat-SemiBold';
    color: $text-light-gray;
  }

  .order-feedback-header-section {
    @extend %order-feedback-section;
    padding: 40px 108px 37px 32px;

    .order-feedback-title {
      @extend %feedback-title;
    }

    .order-feedback-subtitle {
      @extend %feedback-subtitle;
    }

    .rc-rate .rc-rate-star .img-star {
      width: 20px;
      height: 20px;
    }
  }

  .text-feedback {
    margin-top: 5px;
    width: 100%;
    height: 240px;
    resize: none;
    padding: 30px;
    font-size: $mobile-regular-font-size;
  }

  .order-feedback-bottom-section {
    @extend %order-feedback-section;
    padding: 32px;

    .order-feedback-check {
      display: flex;
      color: $text-light-gray;

      img {
        height: 20px;
        margin-right: 10px;
      }

      .order-feedback-check-title {
        font-size: $mobile-regular-font-size - 2;
        font-family: 'Montserrat-SemiBold';
      }

      .order-feedback-check-subtitle {
        font-size: $mobile-small-font-size;
      }
    }

    .btn-submit {
      @extend %button
    }
  }

  .share-success-content {
    background-color: #EDF0F7;
    padding: 37px 54px 32px;
    
    .share-success-title {
      @extend %feedback-title;
      text-align: center;
    }
  
    .share-success-subtitle {
      @extend %feedback-subtitle;
      text-align: center;
    }
  
    .btn-okay {
      @extend %button;
    } 
  }
}
