@import "../../../styles/variables/variables";

.order-feedback-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 417px;
  transform: translate(-50%, -50%);
  margin-bottom: 100px;
  border: 0.5px solid #EDF0F7;
  background-color: white;
  box-shadow: $shadow-primary;

  %order-feedback-section {
    background-color: #EDF0F7;
    box-shadow: $shadow-primary;
  }

  %feedback-title {
    color: #196523;
    font-size: $footer-secondary-font-size;
    font-family: 'Montserrat-Bold';
    margin-bottom: 15px;
  }

  %feedback-subtitle {
    color: #6D6D6D;
    font-size: $mobile-regular-font-size - 1;
    margin-bottom: 12px;
  }

  %button {
    width: calc(100% - 40px);
    margin: 25px 20px 0;
    height: 53px;
    border-radius: 5px;
    background-color: #FEFEFE;
    box-shadow: $shadow-primary;
    border: unset;
    font-size: $small-font-size;
    font-family: 'Montserrat-SemiBold';
    color: $text-light-gray;
    text-transform: uppercase;
  }

  .order-feedback-header-section {
    @extend %order-feedback-section;
    padding: 40px 45px 37px 28px;

    .order-feedback-title {
      @extend %feedback-title;
    }

    .order-feedback-subtitle {
      @extend %feedback-subtitle;
    }

    .rc-rate .rc-rate-star .img-star {
      width: 20px;
      height: 20px;
    }
  }

  .text-feedback {
    margin-top: 5px;
    width: 100%;
    height: 240px;
    resize: none;
    padding: 30px;
    font-size: $mobile-regular-font-size - 1;
  }

  .order-feedback-bottom-section {
    @extend %order-feedback-section;
    padding: 32px;

    .order-feedback-check {
      display: flex;
      color: $text-light-gray;

      img {
        height: 20px;
        margin-right: 10px;
      }

      .order-feedback-check-title {
        font-size: $mobile-regular-font-size - 1;
        font-family: 'Montserrat-SemiBold';
      }

      .order-feedback-check-subtitle {
        font-size: $mobile-small-font-size + 2;
      }
    }

    .btn-submit {
      @extend %button
    }
  }

  .share-success-content {
    background-color: #EDF0F7;
    padding: 37px 54px 32px;
    
    .share-success-title {
      @extend %feedback-title;
      text-align: center;
    }
  
    .share-success-subtitle {
      @extend %feedback-subtitle;
      text-align: center;
      font-size: $mobile-regular-font-size + 1;
      font-family: 'OpenSans-Regular';
      line-height: 20px;
    }
  
    .btn-okay {
      @extend %button;
    } 
  }

  @media (max-width: 710px) {
    width: calc(100% - 90px);
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: unset;
  
    .order-feedback-header-section {
      padding: 25px 45px 20px 20px;
  
      .order-feedback-title {
        font-size: $small-font-size + 1;
        margin-bottom: 8px;
      }
  
      .order-feedback-subtitle {
        font-size: $mobile-regular-font-size - 1.5;
        margin-bottom: 8px;
      }
  
      .rc-rate .rc-rate-star .img-star {
        width: 14px;
        height: 14px;
      }
    }
  
    .text-feedback {
      height: 160px;
      padding: 20px;
      font-size: $mobile-regular-font-size - 2;
    }
  
    .order-feedback-bottom-section {
      padding: 15px 20px 25px;
  
      .order-feedback-check {
        img {
          height: 16px;
          margin-right: 3px;
        }
  
        .order-feedback-check-title {
          font-size: $mobile-regular-font-size - 2;
        }
  
        .order-feedback-check-subtitle {
          font-size: $mobile-small-font-size + 1;
        }
      }
  
      .btn-submit {
        width: calc(100% - 35px);
        margin: 15px 20px 5px;
        height: 35px;
        font-size: $mobile-regular-font-size - 2;
      }
    }
  
    .share-success-content {
      background-color: #EDF0F7;
      padding: 25px 30px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .share-success-title {
        font-size: $regular-font-size;
        margin-bottom: 15px;
      }
    
      .share-success-subtitle {
        font-size: $mobile-regular-font-size - 1;
        margin-bottom: 25px;
      }
    
      .btn-okay {
        width: 134px;
        height: 35px;
        font-size: $mobile-regular-font-size - 1;
        margin: auto;
      } 
    }
  }
}
