@import "../../../../styles/variables/variables";

.giftcard-panel {
  display: flex;
  flex-direction: column;
  align-items: center;

  .gift-card {
    width: 409px;
    height: 234px;
    padding: 0 10px;
  }

  .giftcard-amount-input {
    margin-top: 15px;
  }
}
