@import "../../../styles/variables/variables";

.login-container {
  min-height: 100vh;
  margin-top: -50px;

  .div-login-form {
    position: relative;
    display: flex;
    padding-top: 100px;
    margin: 100px 30px 90px 30px;

    .container {
      max-width: 500px !important;
    }
  }

  @media (max-width: 710px) {
    .div-login-form {
      padding-top: 50px;
      margin-bottom: 40px;
    }
  }
}
