@import "../../../styles/variables/variables";

.login-container {

  .div-login-banner {
    position: relative;
    background: url('../../../assets/images/banner.png') no-repeat center/cover;
    height: 465px;

    .div-login-title {
      position: relative;
      text-align: center;
      font-size: 70px;
      font-family: 'Montserrat-SemiBold';
      top: calc(50% - 30px);
      transform: translateY(-50%);

      .div-login-subtitle {
        font-size: $regular-font-size;
        font-family: 'Montserrat-Regular';
        color: $text-light-gray;
        margin: 0 30px;
      }
    }
  }

  .div-login-form {
    position: relative;
    display: flex;
    margin: -170px 30px 90px 30px;

    .container {
      max-width: 980px !important;
    }
  }

  @media (max-width: 710px) {
    .div-login-banner {
      max-height: 350px;

      .div-login-title {
        font-size: $regular-font-size;
        top: calc(50% - 60px);

        .div-login-subtitle {
          font-size: 11px;
        }
      }
    }

    .div-login-form {
      margin-top: -180px;
      margin-bottom: 40px;
    }
  }
}
