@import "../../../../styles/variables/variables";

$thumbnail-size: 77px;

.div-thumbnails-list {
  width: $thumbnail-size;
  display: flex;
  flex-direction: column;
  
  .green-border {
    border: 2px solid $bg-green;
  }

  .gray-border {
    border: 1px solid $text-light-gray;
  }

  .img-menu-thumbnail {
    width: $thumbnail-size;
    height: $thumbnail-size;
    margin-bottom: 10px;
  }
}