@import "../../../styles/variables/variables";

.div-meal-preference-container {
  margin-top: -90px;
  margin-left: -100px;
  margin-right: -100px;

  .div-meal-preference-items {
    display: flex;
    flex-wrap: wrap;

    .meal-preference-item {
      width: calc(33.3% - 26px);
      margin: 13px;
      flex-shrink: 1;
      align-self: flex-start;
    }
  }

  @media (max-width: 1366px) {
    margin: unset;
    margin-top: -90px;
  }

  @media (max-width: 1024px) {
    .div-meal-preference-items {
      .meal-preference-item {
        width: calc(50% - 26px);
      }
    }
  }

  @media (max-width: 710px) {
    .div-meal-preference-items {
      .meal-preference-item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
