@import "../../styles/variables/variables";

.div-contact-us-container {
  background-color: $extra-light-gray;

  .div-contact-us-banner {
    position: relative;
    background: url('../../assets/images/banner.png') no-repeat center/cover;
    height: 465px;

    .div-contact-us-title {
      position: relative;
      text-align: center;
      font-size: 70px;
      font-family: 'Montserrat-SemiBold';
      top: calc(50% - 30px);
      transform: translateY(-50%);
    }
  }

  .div-contact-us {
    position: relative;
    display: flex;
    margin: -170px 36px 0 36px;
    padding-bottom: 90px;

    .container {
      max-width: 980px !important;
      box-shadow: $shadow-primary;
      background-color: white;

      .div-contact-us-form-title {
        color: $text-light-gray;
        font-size: 41px;
        font-family: 'Montserrat-Medium';
        text-align: center;
        height: 150px;
        line-height: 150px;
        background-color: $extra-light-green;
      }
  
      .div-contact-us-separator {
        background-color: #CCCCCC;
        height: 1px;
      }
  
      .div-contact-us-form {
        background-color: white;
        padding: 0 50px;
        display: flex;
        flex-direction: column;
  
        input, textarea {
          width: 100%;
          height: 80px;
          border: 1px solid $light-green-primary;
          border-radius: 4px;
          color: $text-light-gray;
          font-size: $footer-secondary-font-size;
          caret-color: $green-primary;
          margin-top: 15px;
          resize: none;
          padding: 20px;
        }
  
        input:focus {
          border: 1px solid $green-primary;
        }
  
        textarea {
          height: 300px;
        }
  
        textarea:focus {
          border: 1px solid $green-primary;
        }
  
        .div-contact-us-form-names {
          display: flex;
          flex-direction: row;
  
          .div-contact-us-form-firstname {
            flex-grow: 1;
            margin-right: 15px;
          }

          .div-contact-us-form-lastname {
            flex-grow: 1;
            margin-left: 20px;
          }
        }
  
        .div-contact-us-form-names, .div-contact-us-form-email, .div-contact-us-form-message {
          margin-top: 40px;
        }

        .div-contact-us-separator {
          margin: 50px -50px 0 -50px;
        }

        .btn-send-message {
          width: 350px;
          height: 80px;
          margin: 40px 0;
        }
      }
    }
  }

  @media (max-width: 710px) {
    .div-contact-us-banner {
      max-height: 350px;

      .div-contact-us-title {
        font-size: $regular-font-size;
        top: calc(50% - 60px)
      }
    }

    .div-contact-us {
      padding-bottom: 50px;
      margin-top: -200px;

      .container {
        .div-contact-us-form-title {
          height: 70px;
          line-height: 70px;
          font-size: $regular-font-size;
        }

        .div-contact-us-form {
          font-size: $mobile-regular-font-size;
          padding: 0 15px;

          input, textarea {
            height: 48px;
            font-size: $mobile-regular-font-size;
            margin-top: 5px;
            padding: 20px 15px;
          }

          textarea {
            height: 150px;
          }

          .div-contact-us-form-names {
            flex-direction: column;

            .div-contact-us-form-firstname {
              margin-right: 0;
            }
            .div-contact-us-form-lastname {
              margin-left: 0;
              margin-top: 15px;
            }
          }

          .div-contact-us-form-names, .div-contact-us-form-email, .div-contact-us-form-message {
            margin-top: 15px;
          }

          .div-contact-us-separator {
            margin: 20px -15px 0 -15px;
          }

          .btn-send-message {
            width: 100%;
            height: 60px;
            font-size: $small-font-size;
            margin: 20px 0;
          }
        }
      }
    }
  }
}
