@import "../../../../styles/variables/variables";

.settings-menu {
  display: flex;
  border-bottom: 1px solid #818080;

  .settings-menu-item {
    text-align: center;
    color: $text-light-gray;
    width: 25%;
    line-height: 60px;
    margin-bottom: -2px;
  }

  .settings-menu-item-underline  {
    height: 10px;
    border-radius: 5px;
    background-color: $green-primary;
  }
}