@import "../../../../styles/variables/variables";

.bottom-form {
  .bottom-form-title {
    width: 100%;
    text-align: center;
    font-family: 'Montserrat-Medium';
    font-size: $mobile-regular-font-size;
    color: #6A6D75;
  }

  .bottom-form-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    height: 56px;
    border-radius: 3px;
    border: 1px solid #E1E1E1;

    input {
      flex-grow: 1;
      height: 100%;
      padding: 0 20px;
      font-size: $mobile-regular-font-size;
      font-family: 'OpenSans-Light';
    }
  }

  .btn-start {
    width: 169px;
    height: 48px;
    font-size: $mobile-regular-font-size - 1;
    font-family: 'Montserrat-Medium';
    border-radius: 4px;
    margin-right: 3px;
  }

  .bottom-form-link {
    width: 100%;
    text-align: center;
    font-size: $mobile-regular-font-size;
    color: #6A6D75;
    margin-top: 30px;
  }
}
