@import "../../styles/variables/variables";

.div-settings-container {
  background-color: white;
  padding-top: 40px;

  .div-settings-body {
    margin-top: 100px;
    margin-bottom: 75px;

    .div-settings-menu {

    }

    .div-settings-page {
      margin-top: 120px;
    }
  }

  .div-settings-contact {
    padding: 90px 0 90px;
    text-align: center;
    background-color: #F1F1F1;
    color: $text-light-gray;
    font-size: $small-font-size - 1;
    font-family: 'OpenSans-Regular';

    span {
      color: $green-primary;
      text-decoration: underline;
    }
  }

  @media (max-width: 1024px) {
    .div-settings-body {
      margin-top: 50px;
      margin-bottom: 50px;
      max-width: calc(100% - 46px);
    }
  }

  @media (max-width: 710px) {
    .div-settings-body {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .div-settings-contact {
      padding: 50px 30px;
    }
  }
}
