@import "../../styles/variables/variables";

.div-settings-container {
  background-color: white;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .div-settings-body {
    flex-grow: 1;
    margin-top: 100px;
    margin-bottom: 75px;

    .div-settings-menu {

    }

    .div-settings-page {
      margin-top: 120px;
    }
  }

  @media (max-width: 1024px) {
    .div-settings-body {
      margin-top: 50px;
      margin-bottom: 50px;
      max-width: calc(100% - 46px);
    }
  }

  @media (max-width: 710px) {
    .div-settings-body {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}
