@import "../../styles/variables/variables";

.div-not-available-container {
  background-color: white;

  .div-banner {
    position: relative;
    height: 465px;
  }

  .div-not-available-image {
    margin: 100px 0;
    text-align: center;

    .img-not-available {
      width: 50%;
      height: auto;
    }
  }

  @media (max-width: 710px) {
    .div-banner {
      height: 350px;
    }

    .div-not-available-image {
      margin: 40px 0;
      .img-not-available {
        width: 80%;
      }
    }
  }
}
