@import "../../styles/variables/variables";

.div-meal-plans-container {
  background-color: #F1F1F1;

  .div-meal-plans-banner {
    position: relative;
    background: url('../../assets/images/banner.png') no-repeat center/cover;
    height: 465px;

    .div-meal-plans-title {
      position: relative;
      text-align: center;
      font-size: 70px;
      font-family: 'Montserrat-SemiBold';
      top: calc(50% - 30px);
      transform: translateY(-50%);
    }
  }

  .div-meal-plans {
    position: relative;
    display: flex;
    margin-top: -170px;
    padding-bottom: 90px;
    height: 500px;
  }

  .div-quote-container {
    position: relative;
    background-color: #EBECF1;
    height: 160px;

    .div-quote {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      padding: 20px;
      width: 70%;
      text-align: center;
      background-color: white;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16);
      border-radius: 6px;
    }
  }

  .div-common-question-container {
    background-color: white;
    padding-top: 80px;

    .div-common-question-title {
      font-size: $large-font-size;
      text-align: center;
    }

    .div-common-questions {
      display: flex;
      flex-direction: row;
      padding-left: 0;
      padding-right: 0;

      .div-common-questions-pannel {
        padding-left: 50px;
        padding-right: 50px;
      }

      .div-question-title {
        font-size: $footer-primary-font-size;
        font-family: 'Montserrat-SemiBold';
        margin-top: 50px;
      }

      .div-question-answer {
        margin-top: 20px;

        a {
          text-decoration: underline;
        }
      }
    }

    .div-check-faq-container {
      margin: 80px 0 80px 0;
      text-align: center;

      .div-check-faq {
        display: inline-block;
        background-color: $bg-gray;
        border: 1px solid $border-gray;
        border-radius: 6px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        padding: 0 50px;
  
        a {
          color: #108915;
          text-decoration: underline;
        }
      }
    }
  }
}