@import "../../styles/variables/variables";

.div-meal-plans-container {
  background-color: $extra-light-gray;

  .div-meal-plans-banner {
    position: relative;
    background: url('../../assets/images/banner.png') no-repeat center/cover;
    height: 465px;

    .div-meal-plans-title {
      position: relative;
      text-align: center;
      font-size: 70px;
      font-family: 'Montserrat-SemiBold';
      top: calc(50% - 30px);
      transform: translateY(-50%);
    }
  }

  .div-meal-plans {
    position: relative;
    display: flex;
    margin-top: -170px;
    padding-bottom: 90px;

    .div-meal-plans-grid {
      box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
      background-color: white;
      max-width: calc(100% - 280px);

      .div-weekly-plans-title {
        color: $text-light-gray;
        font-size: 41px;
        font-family: 'Montserrat-Medium';
        text-align: center;
        height: 150px;
        line-height: 150px;
        background-color: $extra-light-green;
      }

      .div-meal-plans-separator {
        background-color: #CCCCCC;
        height: 1px;
      }

      .div-meal-plan-wrapper {
        padding: 70px 45px;

        @media (max-width: 1400px) {
          padding-left: 30px;
          padding-right: 30px;
        }

        @media (max-width: 1199px) {
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .div-meal-plans {
      .div-meal-plans-grid {
        max-width: calc(100% - 72px);
      }
    }
  }

  @media (max-width: 710px) {
    background-color: white;

    .div-meal-plans-banner {
      height: 350px;

      .div-meal-plans-title {
        font-size: $regular-font-size;
        top: calc(50% - 60px);
      }
    }

    .div-meal-plans {
      margin-top: -200px;
      padding-bottom: 20px;

      .container {
        .div-weekly-plans-title {
          font-size: $regular-font-size;
          height: 70px;
          line-height: 70px;
        }

        .div-meal-plan-wrapper {
          padding: 15px;
        }
      }
    }

    .quote-container {
      display: none;
    }
  }
}
