@import "../../styles/variables/variables";

.selection-grid {
  background-color: white;
  border: 1px solid $text-light-gray;
  border-radius: 11px;
  height: 48px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  
  .selection-grid-cell {
    width: 48px;
    line-height: 48px;
    color: $text-light-gray;
    text-align: center;
    font-size: $small-font-size;
  }

  .selection-grid-cell-has-separator {
    border-right: 1px solid $text-light-gray;
  }

  .selection-grid-cell-selected {
    background-color: #62B266;
    color: white;
    transition: $transition-primary;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.16); 
  }

  @media (max-width: 710px) {
    height: 30px;
    border-radius: 4px;
    
    .selection-grid-cell {
      font-size: $mobile-small-font-size;
      width: 30px;
      line-height: 30px;
    }
  }
}
