@import "../../../../styles/variables/variables";

.service-feature {
  text-align: center;
  width: 340px;

  .img-service-feature {
    height: 48px;
  }

  .div-service-feature-title {
    margin-top: 60px;
    font-size: $small-font-size - 1;
    color: #2E2E2E;
  }

  .div-service-feature-description {
    color: $text-light-gray;
    font-size: $mobile-regular-font-size + 1;
    font-family: 'OpenSans-Regular';
    line-height: 20px;
    margin-top: 25px;
  }
}