@import "../../styles/variables/variables";

.button {
  width: 209px;
  height: 67px;
  font-size: $regular-font-size;
  background: $green-primary;
  border: 1px solid $green-secondary;
  border-radius: 4px;
  box-shadow: $shadow-primary;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  white-space: nowrap;
  word-break: keep-all;
}

.button:focus {
  outline: 0;
}

.button:hover {
  box-shadow: 0px 0px 6px darken($green-primary, 20%);
}

.button:active {
  box-shadow: none;
}

@media (max-width: 1024px) {
  .button {
    width: 150px;
    height: 50px;
  }
}

@media (max-width: 710px) {
  .button {
    width: 75px;
    height: 25px;
    font-size: $mobile-small-font-size;
  }
}
