@import "../../styles/variables/variables";

.button {
  width: 209px;
  height: 67px;
  font-size: $regular-font-size;
  background: $green-primary;
  border: unset;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  white-space: nowrap;
  word-break: keep-all;
}

.button:hover {
  box-shadow: $shadow-primary;
}

.button:active {
  box-shadow: none;
  background: $green-secondary;
}

@media (max-width: 1024px) {
  .button {
    width: 150px;
    height: 50px;
  }
}

@media (max-width: 710px) {
  .button {
    width: 75px;
    height: 25px;
    font-size: $mobile-small-font-size;
  }
}
