@import "../../../styles/variables/variables";

.app {
  color: $text-primary;
  font-size: $regular-font-size;
  font-family: 'Montserrat-Regular';
  flex-direction: column;
  display: flex;
  min-height: 100vh;

  .app-header {
    height: $header-height;
    background-color: white;
    border-bottom: 0.5px solid #70707080;
  }

  .app-body {
    min-height: 100vh;

    .img-banner {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
       
      img {
        object-fit: cover !important;
      }
    }
  }

  .app-footer {
    height: $footer-height;
    background-color: $bg-footer-primary;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  .responsive-app-footer {
    background-color: $bg-footer-primary;
    display: none;

    @media (max-width: 1024px) {
      display: block;
    }
  }

  .notifications-tr {
    .notification {
      .notification-message {
        font-size: $regular-font-size;
        margin: 20px 10px !important;
      }
    }

    @media (max-width: 414px) {
      width: 200px !important;
      .notification {
        .notification-message {
          font-size: $mobile-regular-font-size;
          margin: 5px 5px !important;
        }
      }
    }
  }
}

.header-fixed {
  .app-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-header;
  }
  .app-header-squizzed {
    right: 375px;
  }
  .app-body {
    margin-top: $body-top-margin;
  }
}

@media (max-width: 710px) {
  .app-header {
    position: absolute !important;
    height: $header-mobile-height !important;
  }

  .app-body {
    margin-top: 30px !important;
  }
}
