@import "../../../../../../styles/variables/variables";

.div-footer-top-section-button-container {
  color: #AFAFAF;
  display: flex;
  flex-direction: row;
  align-items: center;

  .div-footer-top-section-button {
    display: flex;
    align-items: center;
    margin: 0px 50px;

    img {
      height: 25px;
      margin-right: 12px;
    }

    @media (max-width: 1366px) {
      margin: 0px 30px;
    }

    @media (max-width: 1200px) {
      span {
        display: none;
      }

      margin: 0 80px;
    }
  }

  .div-footer-top-section-button-separator {
    font-size: $small-font-size;
  }
}