@import "../../../../../../styles/variables/variables";

.div-footer-top-section-button-container {
  color: #AFAFAF;
  display: flex;
  flex-direction: row;
  align-items: center;

  .div-footer-top-section-button {
    display: flex;
    align-items: center;
    margin: 0px 50px;

    img {
      height: 16px;
      margin-right: 10px;
    }

    span {
      font-size: $small-font-size;
    }

    @media (max-width: 1510px) {
      margin: 0px 40px;
    }
  }

  .div-footer-top-section-button-separator {
    color: white;
    font-size: $small-font-size;
  }
}