@import "../../../styles/variables/variables";

.invitation-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  top: 100px;
  transform: translate(-50%);
  margin-bottom: 100px;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  background-color: $extra-light-gray;
  padding: 35px 80px;

  width: 614px;

  .invitation-modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .span-title {
      font-size: $small-font-size;
      font-family: 'Montserrat-SemiBold';
    }

    .span-link {
      color: $text-primary;
      font-size: 11px;
      font-family: 'Montserrat-SemiBold';
      text-decoration: underline;
      margin-top: 40px;
    }

    .button {
      height: 63px;
      width: 100%;
      background-color: #515151;
      border-radius: 0;
      margin-top: 20px;
      font-size: $mobile-regular-font-size;
    }

    input {
      border: 1px solid $text-light-gray;
      background-color: transparent;
      font-size: $mobile-regular-font-size;
      padding: 0 20px;
      height: 50px;
      width: 100%;
      margin-top: 20px;
    }
  }

  .invitation-modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 25px;

    .invitation-modal-title {
      font-size: $small-font-size;
      font-family: 'Montserrat-SemiBold';
    }
    .invitation-modal-description {
      width: 60%;
      font-size: $small-font-size;
      color: $text-light-gray;
      margin-top: 10px;
      text-align: center;
    }
  }

  .img-prize {
    height: 157px;
  }
}
