@import "../../../../styles/variables/variables";

.img-feedback-user {
  width: 74px;
  height: 74px;
  border-radius: 37px;
  background-color: lightgray;
  border: 1px solid #EEEEEE;
  z-index: 1;
}

.div-feedback-box {
  background-color: $bg-gray;
  border: 1px solid $border-gray;
  border-radius: 4px;
  padding: 30px 40px 30px 25px;

  .div-feedback-star {
    display: flex;
    .img-star {
      width: 11px;
      margin: 2px;
    }
  }
}

.div-feedback {
  position: relative;
  width: 530px;
  height: 200px;
  display: inline-block;
  margin: 20px;

  .img-feedback-user {
    position: absolute;
    left: 0;
    top: 0;
  }

  .div-feedback-box {
    position: absolute;
    left: 37px;
    top: 37px;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;

    .div-feedback-name-star {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 30px;
      
      .div-feedback-name {
        color: $text-light-gray;
        font-size: $small-font-size - 1;
        font-family: 'Montserrat-Medium';
      }
    }

    .div-feedback-content {
      color: $text-light-gray;
      font-size: $mobile-regular-font-size - 1;
      overflow: hidden;
      text-align: left;
      margin: 15px 20px 0 0;
    }
  }
}

.responsive-div-feedback {
  display: none;
}

@media (max-width: 710px) {
  .div-feedback {
    display: none;
  }

  .responsive-div-feedback {
    display: block;
    position: relative;
    margin-top: 70px;

    .img-feedback-user {
      position: absolute;
      left: 50%;
      top: -38px;
      transform: translateX(-50%);
    }

    .div-feedback-box {
      width: 100%;

      .div-feedback-star {
        margin-top: 0px;
        justify-content: center;

        .img-star {
          height: 12px;
        }
      }

      .div-feedback-name {
        margin-top: 20px;
        font-size: $small-font-size - 1;
        font-family: 'Montserrat-Medium';
        text-align: center;
      }

      .div-feedback-content {
        margin-top: 20px;
        text-align: center;
        font-size: $mobile-regular-font-size - 1;
      }
    }
  }
}
