@import "../../styles/variables/variables";

.div-service-area-container {
  background-color: #F1F1F1;

  .div-service-area-banner {
    position: relative;
    height: 300px;
    
    .div-service-area-title {
      position: relative;
      text-align: center;
      color: #5B5B5B;
      font-size: 32px;
      font-family: 'Montserrat-SemiBold';
      top: calc(50% - 40px);
      transform: translateY(-50%);
    }

    .div-service-area-subtitle {
      position: relative;
      text-align: center;
      color: #5B5B5B;
      font-size: $mobile-regular-font-size;
      top: calc(50% - 55px);
      transform: translateY(-50%);
    }

    .div-service-area-search {
      position: relative;
      left: 50%;
      top: calc(50% - 30px);
      transform: translateX(-50%);
      padding: 0 30px;
      height: 45px;
      display: flex;
      justify-content: center;

      input {
        width: 115px;
        height: 100%;
        font-size: $mobile-regular-font-size;
        padding: 0 20px;
        border-radius: 4px;
        border: 1px solid #70707080;
        margin-right: 10px;
      }

      .button {
        width: 222px;
        height: 100%;
        border-radius: 4px;
        font-size: 15px;
        font-family: 'Montserrat-Medium';
      }
    }    
  }

  .div-service-areas {
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100% - 720px);

    .div-service-areas-title {
      color: #5B5B5B;
      text-align: center;
      margin: 80px 0;
    }

    .div-service-areas-grid {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: repeat(9, 1fr);
      grid-auto-columns: 270px;
    
      .service-area {
        color: $text-light-gray;
        font-size: $mobile-regular-font-size;
        height: 50px;
        line-height: 50px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .div-service-area-bottom {
    padding: 0 200px;

    .div-separator {
      height: 1px;
      background-color: #707070B0
    }

    .bottom-form {
      padding: 100px 0;
      width: 540px;
      background-color: transparent;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
}
