@import "../../styles/variables/variables";

.div-giftcards-container {
  background-color: white;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .div-giftcards-banner {
    padding-top: 120px;
    text-align: center;
    
    .div-giftcards-title {
      font-size: 34px;
      font-family: 'Montserrat-Bold';
    }

    .div-giftcards-subtitle {
      margin: 30px 20px 0;
      max-width: 550px;
      color: $text-light-gray;
      font-size: $mobile-regular-font-size;
      line-height: 33px;
    }
  }

  .div-giftcards-content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .giftcard-panel {
      width: 420px;
    }

    .gift-card-form {
      width: 420px;
      margin-top: 20px;
    }
  }

  @media (max-width: 710px) {
    display: none;
  }
}

.responsive-giftcards-container {
  display: none;

  @media (max-width: 710px) {
    display: block;

    .div-giftcards-banner {
      position: relative;
      height: 350px;

      .div-giftcards-title {
        position: relative;
        text-align: center;
        font-size: $regular-font-size;
        top: 50%;
        transform: translateY(-50%);
        font-family: 'Montserrat-Regular';

        .div-giftcards-subtitle {
          margin-top: 20px;
          color: $text-light-gray;
          font-size: $mobile-regular-font-size;
        }
      }
    }

    .div-giftcards-content {
      padding: 40px 30px 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .gift-card-form {
        width: 100%;
      }

      .link-redeem-code {
        color: $green-secondary;
        font-size: $mobile-regular-font-size;
        margin-top: 20px;
      }
    }

    .div-giftcards-bottom {
      margin: 20px 38px 60px;
      font-size: 12px;
      color: $text-light-gray;
    }
  }
}
