@import "../../styles/variables/variables";

.div-giftcards-container {
  background-color: white;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .div-giftcards-banner {
    padding-top: 120px;
    text-align: center;
    
    .div-giftcards-title {
      font-size: 34px;
      font-family: 'Montserrat-Bold';
    }

    .div-giftcards-subtitle {
      margin: 30px 20px 0;
      max-width: 550px;
      color: $text-light-gray;
      font-size: $mobile-regular-font-size + 1;
      font-family: 'OpenSans-Regular';
      line-height: 30px;
    }
  }

  .div-giftcards-content {
    width: 674px;
    margin-top: 40px;

    .giftcard-form {
      padding: 50px 120px 45px;
      border: 1px solid rgba(112, 112, 112, 0.36);
      background-color: white;

      .giftcard-form-title {
        font-size: $footer-secondary-font-size + 2;
        font-family: 'Montserrat-SemiBold';
        text-align: center;
      }

      .giftcard-panel {
        margin-top: 30px;
      }

      %input-field {
        display: block;
        width: 426px;
        border-radius: 4px;
        border: 1px solid $text-light-gray;
        padding: 12px;
        font-size: $mobile-regular-font-size;
        font-family: 'OpenSans-Regular';
        margin: 5px 0 10px;
    
        &::placeholder {
          color: #5B5B5B50;
          opacity: 1;
        }
        
        &:-ms-input-placeholder {
            color: #B7CBB8;
        }
        
        &::-ms-input-placeholder {
            color: #B7CBB8;
        }
      }
    
      .form-input {
        @extend %input-field;
        height: 46px;
      }
    
      textarea {
        @extend %input-field;
        height: 90px;
        resize: none;
      }
    
      .gift-card-form-name {
        color: $text-light-gray;
        font-size: $mobile-regular-font-size;
        font-family: 'Montserrat-Medium';
      }

      .giftcard-form-for {
        width: 167px;
        margin: 30px auto 20px;
        display: flex;
        border-bottom: 1px solid rgba(28, 28, 28, .85);
        
        span {
          width: 50%;
          padding-bottom: 15px;
          font-size: $mobile-regular-font-size;
          font-family: 'Montserrat-Medium';
          text-align: center;
        }

        .has-bottom-border {
          border-bottom: 4px solid #47944A;
        }
      }

      .gift-card-form-datepicker {
        margin-top: 10px;
    
        .gift-card-form-datepicker-title {
          color: $text-light-gray;
          font-size: $mobile-regular-font-size;
        }

        input {
          @extend %input-field;
          height: 46px;
        }
      }
    
      .gift-card-form-message {
        margin-top: 10px;
    
        .gift-card-form-message-title {
          color: $text-light-gray;
          font-size: $mobile-regular-font-size;
        }
      }

      .button {
        font-family: 'Montserrat-Medium';
        border-radius: 4px;
        padding: 0 30px;
      }
    
      .btn-checkout {
        width: 100%;
        height: 46px;
        color: white;
        margin-top: 15px;
        border: 1px solid $green-secondary;
        font-size: $mobile-regular-font-size;
      }

      .btn-next {
        margin: 30px auto 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 169px;
        height: 52px;
        background-color: #3D3D3D;
        font-size: $mobile-regular-font-size + 1;

        img {
          height: 15px;
        }
      }

      form {
        margin-top: 10px;

        .btn-next {
          margin-top: 48px;
        }
      }

      .giftcard-form-bottom {
        color: $text-light-gray;
        font-family: 'OpenSans-Regular';
        font-size: $mobile-regular-font-size - 2.5;
        margin: 10px 40px 0;
      }
    }
  }
}
