@import "../../../../styles/variables/variables";

.increment-counter {
  color: $text-light-gray;

  display: flex;
  align-items: center;

  span {
    width: 100px;
    text-align: center;
  }

  img {
    height: 15px;
  }

  @media (max-width: 710px) {
    span {
      width: 60px;
    }
  }
}
