@import "../../../../styles/variables/variables";

.menu-datepicker {
  display: flex;
  align-items: center;

  img {
    height: 24px;
  }

  .datepicker-dropdown {
    .span-datepicker {
      font-family: 'Montserrat-Medium';
      color: #3D403F;
      margin: 0 30px;
    }

    .dropdown__content {
      width: 189px;
      height: 160px;
      background-image: url('../../../../assets/images/datepicker_popup.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  
}
