$text-primary: #2D3B3A;
$text-light-gray: #707070;
$text-dark-gray: #3B3737;
$text-gray: #7E808C;
$text-black: #1B1B1B;

$green-primary: #56B05A;
$green-secondary: #108915;

$light-green-primary: #B7CBB8;

$extra-light-green: #F2FFF3;
$extra-light-gray: #F1F1F1;
$bg-gray: #F9F9F9;

$bg-footer-primary: #333333;
$bg-footer-secondary: #212122;

$border-gray: #E3E3E3;

$bg-modal: rgba(0, 0, 0, 0.44);
