@import "../../../../styles/variables/variables";

.career-filters {
  display: flex;
  align-items: center;

  .career-filters-title {
    font-size: 23px;
    font-family: 'Montserrat-SemiBold';
    color: rgba(0,0,0,0.7);
    margin-right: 35px;
  }

  .career-filter {
    margin-right: 12px;
  }
}
