@import "../../../styles/variables/variables";

.div-order-history-container {
  margin-top: -100px;  

  .div-order-history-header {
    height: 42px;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    font-family: 'Montserrat-Medium';
    font-size: 12px;
    color: #222222;
    text-align: center;
    border: 0.5px solid #98989888;
    box-shadow: $shadow-primary;

    .span-name {
      width: 33%;
      text-align: left;
      padding-left: 50px;
    }

    .span-status {
      width: 17%;
    }

    .span-date {
      width: 20%;
    }

    .span-total {
      width: 30%;
    }
  }

  .div-order-history-items {
    min-height: 300px;
    margin-top: 10px;
  }

  .btn-load-more {
    width: 177px;
    height: 51px;
    font-size: $mobile-regular-font-size + 1;
    border-radius: 26px;
    margin: 100px 0 40px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: 710px) {
    margin-top: -120px;

    .div-order-history-header {
      display: none;
    }
    
    .btn-load-more {
      margin-top: 30px;
      margin-bottom: 10px;
      width: 313px;
      height: 53px;
      border-radius: 3px;
      font-size: $small-font-size;
    }
  }
}
