@import "../../../../styles/variables/variables";

.responsive-app-footer {
  .img-logo {
    height: 23.5px;
    margin: 35px 0 10px 30px;
  }

  .div-footer-dropdown-container {
    width: calc(100% - 40px);
    margin: 20px;
    box-shadow: 0px 0px 31px rgba(0,0,0,0.16);
    background-color: #333333;

    .footer-middle-image-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
      cursor: pointer;

      .div-social-link {
        background-position: center;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        margin-right: 20px;
        transition: background-image .25s linear;
      }

      #facebook {
        background-image: url('../../../../assets/images/facebook_highlight.svg');
        background-image: url('../../../../assets/images/facebook.svg');

        &:hover {
          background-image: url('../../../../assets/images/facebook_highlight.svg');
        }
      }

      #twitter {
        background-image: url('../../../../assets/images/twitter_highlight.svg');
        background-image: url('../../../../assets/images/twitter.svg');

        &:hover {
          background-image: url('../../../../assets/images/twitter_highlight.svg');
        }
      }

      #instagram {
        background-image: url('../../../../assets/images/instagram_highlight.svg');
        background-image: url('../../../../assets/images/instagram.svg');

        &:hover {
          background-image: url('../../../../assets/images/instagram_highlight.svg');
        }
      }
    }
  }

  .div-footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: $bg-footer-secondary;
    height: 68px;
  
    .span-bottom-link {
      font-size: 11px;
      color: #AFAFAF;
    }
  }
}
