@import "../../../../../../styles/variables/variables";

.settings-dropdown {

  .dropdown__trigger {
    .settings-dropdown-trigger {
      display: flex;
      align-items: center;

      img {
        height: 24px;
      }

      span {
        font-size: $regular-font-size;
      }

      .span-highlighted {
        color: $green-primary;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }

  .dropdown__content {
    background-color: white;
    border: 0.5px solid #70707050;
    border-radius: 15px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.16);
    width: 285px;
    height: 200px;
    margin-left: -100px;
    margin-top: 5px;
    padding-top: 18px;
    animation-name: dropdown-animation;
    animation-duration: 0.5s;
    transform-origin: left top;
    overflow: hidden;

    .div-menu {
      color: $text-light-gray;
      padding: 0 24px;
      margin-bottom: 5px;
      height: 51px;
      font-size: $mobile-regular-font-size;
      display: flex;
      align-items: center;

      img {
        height: 30px;
        margin-right: 20px;
      }

      &:hover {
        background: #B5E8B7;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.16);
      }
    }
  }

  @media (max-width: 710px) {
    .dropdown__content {
      margin-left: -150px;
    }
  }

  @media (max-width: 414px) {
    .dropdown__content {
      margin-top: 10px;
      .div-menu {
        font-size: 12px;
      }
    }
  }
}
