@import "../../../../../../styles/variables/variables";

.settings-dropdown {

  .dropdown__trigger {
    .settings-dropdown-trigger {
      display: flex;
      align-items: center;

      img {
        margin-left: 5px;
        height: 9px;
      }

      span {
        font-size: $regular-font-size;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }

  .dropdown__content {
    background-image: url('../../../../../../assets/images/popup.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 243px;
    height: 289px;
    margin-left: -34px;
    margin-top: 5px;
    padding-top: 20px;
    animation-name: dropdown-animation;
    animation-duration: 0.5s;
    transform-origin: left top;

    .div-menu {
      color: $text-light-gray;
      padding: 0 20px;
      height: 45px;
      margin-top: 20px;
      font-size: $mobile-regular-font-size;
      display: flex;
      align-items: center;

      img {
        height: 30px;
        margin-right: 30px;
      }

      &:hover {
        color: white;
        background: $green-primary;
        opacity: 0.6;
        text-shadow: $shadow-primary;
        -webkit-text-stroke-width: 0.05px;
        -webkit-text-stroke-color: $text-light-gray;
      }
    }
  }
}
