.app-header {
  .img-logo {
    float: left;
    height: 55px;
    margin-left: 136px;
    margin-top: 32px;
  }

  .div-buttons {
    display: flex;
    float: right;
    align-items: center;
    margin-top: 26px;
    margin-right: 100px;

    .button {
      width: 209px;
      height: 67px;
    }

    .div-signup {
      width: 179px;
      height: 67px;
      margin: 0 10px;
      line-height: 67px;
      text-align: center;
    }
  }
}
