@import "../../../../styles/variables/variables";

.app-header {
  .img-logo {
    float: left;
    height: 55px;
    margin-left: 136px;
    margin-top: 32px;
  }

  .img-flow {
    position: absolute;
    height: 35px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .div-buttons {
    display: flex;
    float: right;
    align-items: center;
    margin-top: 26px;
    margin-right: 100px;

    .div-signup {
      width: 179px;
      height: 67px;
      margin: 0 10px;
      line-height: 67px;
      text-align: center;
    }
  }

  @media (max-width: 1024px) {
    .img-logo {
      margin-left: 40px;
    }

    .div-buttons {
      margin-right: 30px;
      margin-top: 34px;

      .div-signup {
        width: 130px;
        height: 50px;
        line-height: 50px;
      }
    }
  }

  @media (max-width: 710px) {
    .img-logo {
      margin-left: 20px;
      margin-top: 21px;
      height: 18px;
    }

    .div-buttons {
      margin-right: 15px;
      margin-top: 15px;

      .div-signup {
        width: 60px;
        height: 25px;
        line-height: 25px;
        font-size: $mobile-small-font-size;
      }
    }
  }
}
