@import "../../../../styles/variables/variables";

.app-header {
  transition: all ease-out 0.1s;

  .img-logo {
    float: left;
    height: 36px;
    margin-left: 60px;
    margin-top: 21px;
  }

  .img-flow {
    position: absolute;
    height: 35px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .img-min-flow {
    display: none;
    position: absolute;
    height: 30px;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
  }

  .div-links {
    float: left;
    display: flex;
    align-items: center;
    line-height: 100%;
    height: 100%;
    margin-left: 60px;

    span {
      color: black;
      opacity: 0.65;
      margin: 0 30px;
    }
  }

  .div-buttons {
    display: flex;
    float: right;
    align-items: center;
    margin-top: 21px;
    margin-right: 40px;
    height: 36px;

    .div-login {
      width: 179px;
      height: 36px;
      margin: 0 10px;
      line-height: 36px;
      text-align: center;
    }

    .button {
      height: 50px;
      width: 150px;
    }

    .div-cart {
      margin-left: 30px;
    }
  }

  @media (max-width: 1600px) {
    .img-flow {
      left: unset;
      right: 40px;
      transform: translateY(-50%);
    }
  }

  @media (max-width: 1200px) {
    .img-logo {
      margin-left: 40px;
    }

    .img-flow {
      height: 30px;
    }

    .div-buttons {
      margin-right: 30px;
      margin-top: 34px;
      height: 50px;

      .div-login {
        width: 130px;
        height: 50px;
        line-height: 50px;
      }
    }
  }

  @media (max-width: 1024px) {
    .img-flow {
      display: none;
    }

    .img-min-flow {
      display: block;
    }
  }

  @media (max-width: 710px) {
    .img-logo {
      margin-left: 20px;
      margin-top: 21px;
      height: 18px;
    }

    .img-min-flow {
      right: 20px;
      height: 18px;
    }

    .div-buttons {
      margin-right: 15px;
      margin-top: 15px;
      height: 25px;

      .div-login {
        width: 60px;
        height: 25px;
        line-height: 25px;
        font-size: $mobile-small-font-size;
      }
    }
  }
}
