@import "../../styles/variables/variables";

.div-auth-container {
  background-color: #F1F1F1;
  padding-top: 50px;

  .div-auth-description {
    margin-top: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .div-auth-description-title {
      font-size: $large-font-size;
      font-family: 'Montserrat-SemiBold';
    }

    .div-auth-description-text {
      color: $text-light-gray;
      margin-top: 40px;
      max-width: 570px;
    }
  }

  .div-auth-form-container {
    display: flex;
    flex-direction: row;
    margin-top: 120px;

    .div-auth-img, .div-auth-form {
      width: 50%;
      padding: 0 20px;

      .img-background {
        max-width: 100%;
      }
    }

    @media (min-width: 1440px) {
      max-width: 1440px;
    }
  }

  .div-auth-features-container {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .div-auth-help-contact-container {
    padding: 70px 0;
    text-align: center;
    background-color: $border-gray;
    border-top: 1px solid #C6C4C4;
    color: $text-light-gray;
    font-size: $small-font-size;

    span {
      color: $green-primary;
      text-decoration: underline;
    }
  }

  @media (max-width: 1200px) {
    .div-auth-form-container {
      flex-direction: column;

      .div-auth-img {
        display: none;
      }

      .div-auth-form {
        width: 100%;
      }
    }
  }

  @media (max-width: 710px) {
    .div-auth-description {
      margin: 30px 30px 0 30px;

      .div-auth-description-title {
        font-size: $regular-font-size;
      }

      .div-auth-description-text {
        font-size: $mobile-regular-font-size;
        margin-top: 20px;
      }
    }

    .div-auth-form-container {
      margin-top: 40px;

      .div-auth-form {
        padding: 0;
      }
    }

    .div-auth-features-container {
      margin-top: 60px;
      margin-bottom: 40px;
    }

    .div-auth-help-contact-container {
      padding: 50px 30px;
    }
  }
}