@import "../../../../styles/variables/variables";

.div-meal-plan {
  background-color: white;
  box-shadow: $shadow-primary;
  border-radius: 7px;
  display: flex;
  flex-direction: column;

  .div-meal-plan-title {
    font-size: 41px;
    color: #232323;
    text-align: center;
    font-family: 'Montserrat-SemiBold';
    margin-top: 40px;
  }

  .div-meal-plan-subtitle {
    color: $text-light-gray;
    font-size: $footer-secondary-font-size;
    text-align: center;
  }

  .div-meal-plan-image {
    margin-top: 40px;

    img {
      width: 100%;
    }
  }

  .div-meal-plan-recipies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    .div-meal-plan-recipies-title {
      text-align: center;
      margin-top: 20px;
      color: $text-light-gray;
      font-size: $footer-secondary-font-size;
    }
  }

  .div-meal-plan-prices {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0 27px;

    .div-menu-plan-price {
      position: relative;
      width: 33.33%;
      text-align: center;

      span {
        display: block;
      }

      .span-menu-plan-price-old-value {
        position: absolute;
        margin-top: -30px;
        left: 50%;
        transform: translateX(-50%);
        font-size: $footer-secondary-font-size;
        color: #D3D5DB;
        text-decoration: line-through;
      }

      .span-menu-plan-price-value {
        font-size: $medium-font-size;
        color: $text-light-gray;
      }

      .span-menu-plan-price-title {
        font-size: $small-font-size;
        color: #D3D5DB;
      }
    }

    .div-menu-plan-price-separator {
      background-color: $text-light-gray;
      width: 1px;
      opacity: 0.58;
      margin: 12px 0;
      box-sizing: border-box;
    }
  }

  .btn-grab-offer {
    width: calc(100% - 54px);
    height: 85px;
    margin: 27px;
  }

  @media (max-width: 710px) {
    .div-meal-plan-title {
      font-size: 13px;
      margin-top: 15px;
    }

    .div-meal-plan-subtitle {
      font-size: 9px;
    }

    .div-meal-plan-image {
      margin-top: 15px;
    }

    .div-meal-plan-recipies {
      margin-top: 15px;

      .div-meal-plan-recipies-title {
        font-size: 9px;
        margin-top: 10px;
      }
    }

    .div-meal-plan-prices {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 0 27px;
  
      .div-menu-plan-price {
        .span-menu-plan-price-old-value {
          margin-top: -10px;
          font-size: 10px;
        }
  
        .span-menu-plan-price-value {
          font-size: 10px;
        }
  
        .span-menu-plan-price-title {
          font-size: 7px;
        }
      }
  
      .div-menu-plan-price-separator {
        margin: 0;
      }
    }

    .btn-grab-offer {
      font-size: 9px;
      width: calc(100% - 20px);
      height: 32px;
      margin: 10px;
    }
  }
}