@import "../../../../styles/variables/variables";

.div-common-question-container {
  background-color: white;
  padding: 80px 0;
  box-shadow: $shadow-primary;

  .div-common-question-title {
    font-size: 31px;
    font-family: 'Montserrat-Bold';
    text-align: center;
  }

  .div-common-questions {
    display: flex;
    flex-direction: row;

    .div-common-questions-pannel {
      padding-left: 50px;
      padding-right: 50px;
    }

    .div-question-title {
      font-family: 'Montserrat-Medium';
      margin-top: 50px;
    }

    .div-question-answer {
      margin-top: 20px;
      font-size: $mobile-regular-font-size;

      a {
        text-decoration: underline;
      }
    }
  }

  .div-check-faq-container {
    margin: 80px 25px;
    text-align: center;

    .div-check-faq {
      display: inline-block;
      background-color: #FAFBFC;
      border-radius: 7px;
      border: 1px solid #DCDCDE;
      text-align: center;
      padding: 25px 33px;
      font-size: $small-font-size - 1;

      a {
        color: $green-secondary;
        text-decoration: underline;
        margin-left: 15px;
      }
    }
  }

  @media (max-width: 1024px) {
    .div-common-questions {
      .right {
        display: none;
      }
    }
  }

  @media (max-width: 710px) {
    padding-top: 20px;

    .div-common-question-title {
      font-size: $small-font-size;
    }

    .div-common-questions {
      font-size: $mobile-regular-font-size;

      .row {
        .div-common-questions-pannel {
          padding-left: 10px;
          padding-right: 10px;

          .div-question-title {
            font-size: $mobile-regular-font-size;
            margin-top: 15px;
          }

          .div-question-answer {
            margin-top: 5px;
          }
        }
      }
    }

    .div-check-faq-container {
      margin: 50px 25px;
      font-size: $mobile-regular-font-size;

      .div-check-faq {
        width: 100%;
        padding: 10px 0;
      }
    }
  }
}