@import "../../../../styles/variables/variables";

.help-recent-activity {
  color: #333333;

  .help-recent-activity-content {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;

    .help-recent-activity-question {
      display: flex;
      align-items: center;
      font-size: $small-font-size;

      img {
        height: 28px;
        margin-right: 30px;
      }

      span {
        flex-shrink: 0;
        font-family: 'Montserrat-Medium';
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .help-recent-activity-info {
      font-size: $mobile-small-font-size;
      color: #989898;
    }
  }

  .help-recent-activity-answer {
    color: #888888;
    margin-left: 70px;
    margin-top: 20px;
    max-width: 500px;
  }

  .help-recent-activity-separator {
    height: 1px;
    background-color: #232222;
    opacity: 0.85;
    margin: 35px 0;
  }
}
