@import "../../styles/variables/variables";

.numeric-counter {
  display: flex;
  flex-direction: row;
  align-items: center;

  .numeric-counter-button {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 100px;
    border: 1px solid #CFCFCF;
    font-size: $medium-font-size;
  }

  .numeric-counter-number {
    font-size: $regular-font-size;
    color: $text-light-gray;
    text-align: center;
    min-width: 20px;
    margin: 0 5px;
  }
  
  @media (max-width: 710px) {
    .numeric-counter-button {
      width: 25px;
      height: 25px;
      line-height: 25px;
      font-size: $regular-font-size;
    }

    .numeric-counter-number {
      min-width: 10px;
      font-size: $mobile-regular-font-size;
    }
  }
}