@import "../../../styles/variables/variables";

.div-menu-modal-center {
  background-color: white;
  box-shadow: $shadow-third;
  position: absolute;
  top: 120px;
  left: 50%;
  margin-bottom: 100px;
  transform: translateX(-50%);
  max-width: calc(100% - 44px);
  
  display: flex;
  flex-direction: row;

  .img-close {
    position: absolute;
    height: 20px;
    right: 20px;
    top: 20px;
    z-index: 1;
  }

  .div-menu-modal-thumbnail-image-detail {
    display: flex;
    flex-direction: row;

    .div-menu-modal-thumbnails {
      padding-top: 50px;
      padding-left: 50px;
      padding-right: 10px;
      box-sizing: content-box;
    }

    .div-menu-modal-image-detail {
      position: relative;
      padding-top: 50px;
      padding-bottom: 50px;
      box-sizing: content-box;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .img-menu {
        width: 534px;
        height: 511px;
        flex-grow: 1;
        object-fit: contain;
        border: 1px solid $border-gray;
      }

      .span-offer {
        position: absolute;
        margin-top: 20px;
        font-size: $minor-font-size;
        color: white;
        background-color: $green-primary;
        padding: 10px 25px;
      }
      

      .div-menu-info-list {
        display: flex;
        flex-direction: row;
        margin-top: 40px;

        .div-menu-info {
          display: flex;
          flex-direction: column;
          text-align: center;
          padding: 0 30px;
          width: calc(25% - 1px);

          span {
            color: $green-primary;
          }

          .span-menu-info-value {
            font-size: $medium-font-size;
          }

          .span-menu-info-title {
            font-size: $small-font-size;
          }
        }

        .div-menu-info-separator {
          background-color: $text-light-gray;
          width: 1px;
          opacity: 0.58;
          margin: 12px 0;
          box-sizing: border-box;
        }
      }
    }
  }

  .div-menu-modal-description-cart {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 50px 50px 50px;
    max-width: 760px;

    .div-menu-modal-description {
      position: relative;
      flex-grow: 1;
      max-height: 510px;
      margin-top: 50px;
      overflow-y: scroll;

      /* width */
      &::-webkit-scrollbar {
        width: 15px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #F5F5F5; 
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #747474; 
        border-radius: 100px;

        &:hover {
          background: #555; 
        }
      }

      .div-menu-title {
        font-size: $medium-font-size;
        color: $bg-footer-primary;
        opacity: 0.58;
      }

      .div-menu-specialities {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        margin-left: 10px;
        margin-bottom: 40px;

        .div-menu-speciality {
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 50px;
          margin-right: 70px;

          img {
            width: 30px;
            height: 30px;
          }

          span {
            color: $green-primary;
            font-size: $small-font-size;
            text-align: center;
            margin-top: 5px;
          }
        }
      }

      .div-ingredients-list {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 40px;

        .div-ingredients-list-title {
          color: #080808;
          margin-bottom: 10px;
          font-family: 'Montserrat-SemiBold';
        }

        .div-ingredients {
          color: $text-light-gray;
          font-size: $small-font-size;
          margin-right: 5px;
        }
      }

      .div-recipies-per-week {
        margin-top: 40px;
        margin-bottom: 20px;

        .div-recipies-per-week-title {
          color: #080808;
        }

        .div-recipies-selection-grid {
          display: flex;
          .selection-grid {
            margin-top: 20px;
          }
        }
      }

      .div-special-instructions {
        display: flex;
        flex-direction: column;
        margin: 30px 20px 0 0;

        .div-special-instructions-title {
          color: #080808;
          font-family: 'Montserrat-SemiBold';
        }

        .input-special-instructions {
          border-radius: 9px;
          border: 1px solid #A0A0A0;
          height: 120px;
          margin-top: 20px;
          padding: 15px;
          resize: none;
        }
      }
      
      .div-opacity-layer-bottom {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 84px;
        background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
      }
    }

    .div-menu-modal-cart {
      position: relative;
      display: flex;
      height: 67px;
      margin-top: 30px;

      .increment-counter {
        width: 50%;
        margin-right: 10px;
        visibility: hidden;
      }

      .btn-add-to-cart {
        width: 50%;
        margin-left: 10px;

        @media (max-width: 1024px) {
          height: 67px;
        }
      }

      .btn-add-to-cart-full {
        width: 100%;
        margin-left: 0;
      }
    }

    .div-opacity-layer-top {
      position: absolute;
      top: 50px;
      width: calc(100% - 115px);
      height: 84px;
      background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
    }
  }

  @media (max-width: 1365px) {
    .div-menu-modal-description-cart {
      max-width: 500px;
    }
  }

  @media (min-width: 1201px) {
    .div-menu-modal-description-cart {
      min-width: 500px;
    }
  }

  @media (max-width: 1200px) {
    flex-direction: column;

    .div-menu-modal-thumbnail-image-detail {
      margin-top: 20px;

      .div-menu-modal-image-detail {
        padding-right: 50px;
      }
    }

    .div-menu-modal-description-cart {
      max-width: 100%;
      margin-top: 0px;

      .div-menu-modal-description {
        margin-top: 0px;
      }

      .div-opacity-layer-top {
        top: -50px;
      }
    }
  }

  @media (max-width: 710px) {
    top: 50px;

    .img-close {
      width: 13px;
      height: 13px;
      top: 10px;
      right: 20px;
    }

    .div-menu-modal-thumbnail-image-detail {
      margin-top: 10px;

      .div-menu-modal-thumbnails {
        padding-top: 20px;
        padding-left: 20px;
      }

      .div-menu-modal-image-detail {
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;

        .img-menu {
          width: 250px;
          height: 240px;
        }

        .span-offer {
          font-size: $mobile-small-font-size;
          padding: 5px 12px;
        }

        .div-menu-info-list {
          margin-left: -45px;
          margin-right: -25px;
          margin-top: 20px;

          .div-menu-info {
            padding: 0 20px;

            .span-menu-info-value {
              font-size: $footer-primary-font-size;
            }
            .span-menu-info-title {
              font-size: $mobile-small-font-size;
            }
          }
        }
      }
    }

    .div-menu-modal-description-cart {
      padding: 0 20px 20px 20px;

      .div-opacity-layer-top {
        top: 0px;
      }

      .div-menu-modal-description {
        max-height: 300px;

        .div-menu-title {
          font-size: $regular-font-size;
        }

        .div-menu-specialities {
          margin: 20px 0 20px 0;

          .div-menu-speciality {
            margin-right: 40px;
            img {
              width: 20px;
              height: 20px;
            }
            span {
              font-size: $mobile-small-font-size;
            }
          }
        }

        .div-description-text {
          margin-right: 10px;
        }

        .div-ingredients-list {
          margin-top: 20px;
          margin-bottom: 20px;

          .div-ingredients-list-title {
            font-size: $mobile-regular-font-size;
          }
          .div-ingredients {
            font-size: $mobile-small-font-size;
          }
        }

        .div-recipies-per-week {
          margin-top: 20px;
          margin-bottom: 10px;

          .div-recipies-per-week-title {
            font-size: $mobile-regular-font-size;
          }
          .div-recipies-selection-grid {
            margin-top: 10px;

            .selection-grid {
              margin-top: 0px;
            }
          }
        }

        .div-special-instructions {
          margin: 15px 10px 0 0;

          .div-special-instructions-title {
            font-size: 14px;
          }
          .input-special-instructions {
            height: 45px;
            margin-top: 10px;
            font-size: 14px;
          }
        }
      }
      
      .div-menu-modal-cart {
        height: 45px;
        margin-top: 20px;

        .btn-add-to-cart {
          height: 45px;
          font-size: $minor-font-size;
        }
      }
    }
  }
}
