@import "../../../styles/variables/variables";

.div-menu-modal-center {
  background-color: white;
  box-shadow: $shadow-third;
  position: absolute;
  top: 120px;
  left: 50%;
  margin-bottom: 100px;
  transform: translateX(-50%);
  max-width: calc(100% - 44px);
  
  display: flex;
  flex-direction: row;

  .img-close {
    position: absolute;
    height: 20px;
    right: 20px;
    top: 20px;
    z-index: 1;
  }

  .div-menu-modal-thumbnail-image-detail {
    display: flex;
    flex-direction: row;

    .div-menu-modal-thumbnails {
      padding-top: 40px;
      padding-left: 40px;
      padding-right: 10px;
      box-sizing: content-box;
    }

    .div-menu-modal-image-detail {
      position: relative;
      padding-top: 40px;
      padding-bottom: 40px;
      box-sizing: content-box;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .img-menu {
        width: 440px;
        height: 440px;
        flex-grow: 1;
        object-fit: contain;
        border: 1px solid $border-gray;
      }

      .span-offer {
        position: absolute;
        margin-top: 13px;
        font-size: $mobile-regular-font-size - 1.5;
        color: white;
        background-color: $green-primary;
        padding: 10px 25px;
      }
      

      .div-menu-info-list {
        display: flex;
        flex-direction: row;
        margin-top: 25px;
        width: 440px;

        .div-menu-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 30px;
          width: calc(25% - 1px);

          span {
            color: $green-primary;
          }

          .span-menu-info-value {
            font-size: 30px;
          }

          .span-menu-info-title {
            font-size: $mobile-regular-font-size;
          }
        }

        .div-menu-info-separator {
          background-color: $text-light-gray;
          width: 1px;
          opacity: 0.46;
          margin: 12px 0;
          box-sizing: border-box;
        }
      }
    }
  }

  .div-menu-modal-description-cart {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 40px 40px 40px;
    max-width: 550px;

    .div-menu-modal-description {
      position: relative;
      flex-grow: 1;
      max-height: 440px;
      margin-top: 40px;
      overflow-y: scroll;

      /* width */
      &::-webkit-scrollbar {
        width: 6px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #F5F5F5; 
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #747474; 
        border-radius: 100px;

        &:hover {
          background: #555; 
        }
      }

      .div-menu-title {
        font-size: 25px;
        font-family: 'Montserrat-Bold';
        color: #545252;
      }

      .div-menu-specialities {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 20px;

        .div-menu-speciality {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 30px;

          img {
            width: 26px;
            height: 25px;
          }

          span {
            color: $green-primary;
            font-size: $mobile-regular-font-size - 1;
            text-align: center;
            margin-top: 2px;
          }
        }
      }

      .div-ingredients-list {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 20px;

        .div-ingredients-list-title {
          margin-bottom: 5px;
          font-size: $mobile-regular-font-size;
          font-family: 'Montserrat-SemiBold';
          color: #545252;
        }

        .div-ingredients {
          color: #6F6F6F;
          font-size: $mobile-regular-font-size;
          font-family: 'OpenSans-Regular';
          margin-right: 5px;
          line-height: 25px;
        }
      }

      .div-special-instructions {
        display: flex;
        flex-direction: column;
        margin: 0px 20px 20px 0;

        .div-special-instructions-title {
          font-size: $mobile-regular-font-size;
          font-family: 'Montserrat-SemiBold';
          color: #545252;
        }

        .input-special-instructions {
          font-size: $mobile-regular-font-size;
          font-family: 'OpenSans-Regular';
          border-radius: 3px;
          border: 1px solid #CECECE;
          height: 130px;
          margin-top: 30px;
          padding: 10px;
          resize: none;
        }
      }
      
      .div-opacity-layer-bottom {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 84px;
        background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
        pointer-events: none;
      }
    }

    .div-menu-modal-cart {
      position: relative;
      display: flex;
      justify-content: space-between;
      height: 54px;
      margin-top: 30px;

      .increment-counter {
        width: 50%;
        margin-right: 10px;
        visibility: hidden;
      }

      .btn-add-to-cart {
        width: 194px;
        height: 100%;
        margin-left: 10px;
        font-size: $mobile-regular-font-size;
      }
    }

    .div-opacity-layer-top {
      position: absolute;
      top: 40px;
      width: calc(100% - 115px);
      height: 84px;
      background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
      pointer-events: none;
    }
  }

  @media (max-width: 1365px) {
    .div-menu-modal-description-cart {
      max-width: 500px;
    }
  }

  @media (min-width: 1201px) {
    .div-menu-modal-description-cart {
      min-width: 500px;
    }
  }

  @media (max-width: 1200px) {
    flex-direction: column;

    .div-menu-modal-thumbnail-image-detail {
      margin-top: 20px;

      .div-menu-modal-image-detail {
        padding-right: 40px;
      }
    }

    .div-menu-modal-description-cart {
      max-width: 100%;
      margin-top: 0px;

      .div-menu-modal-description {
        margin-top: 0px;
      }

      .div-opacity-layer-top {
        top: -40px;
      }
    }
  }

  @media (max-width: 710px) {
    top: 50px;

    .img-close {
      width: 13px;
      height: 13px;
      top: 10px;
      right: 20px;
    }

    .div-menu-modal-thumbnail-image-detail {
      margin-top: 10px;

      .div-menu-modal-thumbnails {
        padding-top: 20px;
        padding-left: 20px;
      }

      .div-menu-modal-image-detail {
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;

        .img-menu {
          width: 250px;
          height: 240px;
        }

        .span-offer {
          font-size: $mobile-small-font-size;
          padding: 5px 12px;
        }

        .div-menu-info-list {
          // margin-left: -45px;
          margin-right: -25px;
          margin-top: 20px;
          width: 100%;

          .div-menu-info {
            padding: 0 20px;

            .span-menu-info-value {
              font-size: $footer-primary-font-size;
            }
            .span-menu-info-title {
              font-size: $mobile-small-font-size;
            }
          }
        }
      }
    }

    .div-menu-modal-description-cart {
      padding: 0 20px 20px 20px;

      .div-opacity-layer-top {
        top: 0px;
      }

      .div-menu-modal-description {
        max-height: 350px;
        overflow-y: scroll;

        .div-menu-title {
          font-size: $regular-font-size;
        }

        .div-menu-specialities {
          margin: 20px 0 20px 0;

          .div-menu-speciality {
            margin-right: 40px;
            img {
              width: 20px;
              height: 20px;
            }
            span {
              font-size: $mobile-small-font-size;
            }
          }
        }

        .div-description-text {
          margin-right: 10px;
        }

        .div-ingredients-list {
          margin-top: 20px;
          margin-bottom: 20px;

          .div-ingredients-list-title {
            font-size: $mobile-regular-font-size;
          }
          .div-ingredients {
            font-size: $mobile-small-font-size;
          }
        }

        .div-recipies-per-week {
          margin-top: 20px;
          margin-bottom: 10px;

          .div-recipies-per-week-title {
            font-size: $mobile-regular-font-size;
          }
          .div-recipies-selection-grid {
            margin-top: 10px;

            .selection-grid {
              margin-top: 0px;
            }
          }
        }

        .div-special-instructions {
          margin: 15px 10px 0 0;

          .div-special-instructions-title {
            font-size: 14px;
          }
          .input-special-instructions {
            height: 100px;
            margin-top: 10px;
            font-size: 14px;
          }
        }
      }
      
      .div-menu-modal-cart {
        height: 45px;
        margin-top: 20px;

        .btn-add-to-cart {
          height: 45px;
          font-size: $minor-font-size;
        }
      }
    }
  }
}
