@import "../../../styles/variables/variables";

.order-feedback-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 720px;
  transform: translate(-50%, -50%);
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  background: white;
  border: 0.5px solid $text-light-gray;
  border-radius: 30px;
  box-shadow: $shadow-secondary;
  padding: 30px 60px 40px;
  color: $text-light-gray;

  .order-feedback-close {
    .img-close {
      height: 35px;
      float: right;
    }
  }

  .order-feedback-title {
    color: $text-light-gray;
    margin-left: 5px;
  }

  .order-feedback-rates {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .order-feedback-rate {
      .order-feedback-rate-title {
        font-size: $small-font-size;
        margin-bottom: 10px;
      }
    }
  }

  .order-feedback-special-request {
    margin-top: 40px;

    .order-feedback-special-request-title {
      font-size: $mobile-regular-font-size;
    }

    textarea {
      width: 100%;
      height: 140px;
      font-size: $small-font-size;
      border: 1px solid $green-primary;
      border-radius: 2px;
      color: $text-light-gray;
      caret-color: $green-primary;
      resize: none;
      padding: 10px;
      margin-top: 10px;
    }

    .order-feedback-special-request-hint {
      font-size: $mobile-small-font-size;
      margin-top: 5px;
    }
  }
  
  .div-submit {
    margin-top: 30px;

    .btn-submit {
      float: right;
      width: 129px;
      height: 53px;
      border-radius: 100px;
      font-size: $small-font-size;
    }
  }
}
