@import "../../../../styles/variables/variables";

.meal-preference-option {
  display: flex;
  align-items: center;

  .meal-preference-option-circle {
    width: 17px;
    height: 17px;
    border-radius: 9px;
    background-color: white;
    border: 1px solid $text-light-gray;
    box-shadow: $shadow-secondary;
  }

  .meal-preference-option-text {
    font-size: $mobile-regular-font-size;
    color: #707070;
    margin-left: 5px;
  }

  .meal-preference-option-selected {
    background-color: $green-primary;
  }
}
