@import "../../../../styles/variables/variables";

.forgot-password-form {
  background-color: white;
  border: 1px solid #B7CBB8;
  color: $text-light-gray;
  box-shadow: $shadow-primary;

  .forgot-password-form-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;

    .forgot-password-form-header-title {
      width: 100%;
      line-height: 100px;
      font-family: 'Montserrat-Bold';
      font-size: 28px;
      text-align: center;
      color: $text-primary;
    }
  }

  .forgot-password-form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;

    .forgot-password-form-instruction {
      font-size: $mobile-regular-font-size + 1;
      font-family: 'OpenSans-Regular';
      color: #535353;
      width: 60%;
    }

    .forgot-password-form-instruction-bold {
      font-family: 'OpenSans-Bold';
      font-size: $mobile-regular-font-size + 1;
      color: #4B4B4B;
      width: 60%;
      text-align: center;
    }

    .forgot-password-help-link {
      font-size: $mobile-regular-font-size + 1;
      font-family: 'OpenSans-Regular';
      text-align: center;
      width: 60%;
      color: #535353;
      margin-top: 20px;

      a {
        color: $green-secondary;
      }
    }

    .forgot-password-form-input {
      margin-top: 20px;
      padding: 0 28px;
      width: 100%;
      
      span {
        font-size: $mobile-regular-font-size;
        font-family: 'Montserrat-Medium';
      }

      input {
        width: 100%;
        height: 56px;
        margin-top: 5px;
        padding: 0 10px;
        border: 1px solid $light-green-primary;
        border-radius: 4px;
        font-size: $small-font-size;
        caret-color: $green-primary;
      }

      input:focus {
        border: 1px solid $green-primary;
      }
    }

    .btn-reset {
      margin: 15px 28px 0;
      width: calc(100% - 56px);
      height: 56px;
      border-radius: 4px;
      font-size: $mobile-regular-font-size;
      font-family: 'Montserrat-Medium';
    }

    span {
      width: calc(100% - 56px);
      margin-top: 10px;
    }
  }

  .forgot-password-form-links {
    display: flex;
    align-items: center;
    margin: 30px 0;

    a {
      font-size: $mobile-regular-font-size;
      color: $text-light-gray;
      text-decoration: underline;
    }

    .div-separator {
      width: 1px;
      height: 14px;
      background-color: #707070;
      margin: 0 20px;
    }
  }

  @media (max-width: 710px) {
    .forgot-password-form-header {
      height: 80px;
      line-height: 80px;

      .forgot-password-form-header-title {
        font-size: $regular-font-size;
        font-family: 'Montserrat-Regular';
        color: $text-primary;
      }
    }

    .forgot-password-form-inputs {
      .forgot-password-form-instruction, .forgot-password-form-instruction-bold {
        width: calc(100% - 40px);
        font-size: $mobile-regular-font-size;
      }

      .forgot-password-form-input {
        margin-top: 15px;
        padding: 0 20px;
        font-size: $mobile-regular-font-size;
  
        input {
          height: 50px;
          font-size: $mobile-regular-font-size;
          padding: 20px 15px;
        }
      }

      .btn-reset {
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
        height: 50px;
        font-size: $mobile-regular-font-size;
      }

      span {
        width: calc(100% - 40px);
        font-size: $mobile-regular-font-size;
        height: 50px;
      }
    }

    .forgot-password-form-links {
      margin: 20px 0;
      a {
        font-size: $mobile-regular-font-size;
      }

      .div-separator {
        height: 10px;
        margin: 0 10px;
      }
    }
  }
}
