@import "../../../../styles/variables/variables";

.simplified-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 73px;
  background-color: rgb(33,33,33);

  .simplified-footer-left {
    margin-left: 70px;
    display: flex;
    align-items: center;

    .img-logo {
      height: 31.4px;
    }

    .simplified-footer-links {
      margin-left: 155px;
      display: flex;
      align-items: center;

      .link {
        color: #AFAFAF;
        font-size: $mobile-regular-font-size;
      }

      .separator {
        height: 10px;
        width: 1px;
        background-color: white;
        margin: 0 15px;
      }
    }    
  }

  .simplified-footer-right {
    margin-right: 65px;

    .img-globe {
      height: 18px;
    }
  }

  @media (max-width: 710px) {
    height: 91px;
    justify-content: center;

    .simplified-footer-left {
      margin-left: unset;
      .img-logo {
        display: none;
      }

      .simplified-footer-links {
        margin: unset;

        .link {
          font-size: $mobile-small-font-size + 2;
          line-height: 91px;
          margin: 0 15px;
        }

        .separator {
          display: none;
        }
      }
    }

    .simplified-footer-right {
      display: none;
    }
  }
}
