@import "../../../../styles/variables/variables";

.simplified-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background-color: rgb(33,33,33);

  .simplified-footer-left {
    margin-left: 60px;
    display: flex;
    align-items: center;

    .img-logo {
      height: 42px;
    }

    .simplified-footer-links {
      margin-left: 170px;
      display: flex;
      align-items: center;

      .link {
        color: #AFAFAF;
        font-size: $small-font-size;
      }

      .separator {
        height: 10px;
        width: 1px;
        background-color: white;
        margin: 0 20px;
      }
    }    
  }

  .simplified-footer-right {
    margin-right: 75px;

    .img-globe {
      height: 25px;
    }
  }
}
