@import "../../../../styles/variables/variables";

.side-cart-summary {
  color: #242222;
  padding: 0 40px;

  .side-cart-summary-separator {
    height: 1px;
    background-color: $text-light-gray;
    margin: 20px 0;
  }

  .side-cart-summary-recommended {
    margin-top: 20px;

    .side-cart-summary-recommended-title {
      display: flex;
      align-items: center;
      margin-left: 20px;
      margin-bottom: 10px;

      span {
        font-size: 12px;
      }

      img {
        height: 16px;
        margin-left: 5px;
      }
    }
  }

  .side-cart-summary-preferences {
    a {
      color: $green-primary;
      font-size: $mobile-regular-font-size - 2;
    }
    
    text-align: center;
  }

  .side-cart-summary-free-delivery {
    font-size: $mobile-regular-font-size;
    font-family: 'Montserrat-Light';
    color: #545954;
    background-color: $extra-light-green;
    text-align: center;
    height: 57px;
    line-height: 57px;
    margin: 15px -40px 0 -40px;
  }
  
  .side-cart-summary-prices {
    padding: 40px 10px 20px 10px;

    .side-cart-summary-price {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
    }
  }

  .btn-checkout {
    width: 100%;
    height: 52px;
    font-size: $small-font-size;
    border-radius: 8px;
  }

  .side-cart-summary-bottom-link {
    margin: 20px 0;
    font-size: $mobile-small-font-size;
    span {
      font-family: 'Montserrat-Bold';
      color: #242222;
    }
  }

  @media (max-width: 414px) {
    padding: 0 20px;

    .side-cart-summary-separator {
      background-color: #D4CDCD;
      margin: 0 -20px;
    }

    .side-cart-summary-prices {
      padding-top: 20px;
      margin-bottom: 20px;

      .side-cart-summary-price-title {
        visibility: hidden;
      }
    }

    .btn-checkout {
      display: none;
    }
  }
}
