@import "../../../../styles/variables/variables";

.career-search-bar {
  border-radius: 3px;
  display: flex;
  height: 60px;
  background-color: white;
  overflow: hidden;

  input {
    height: 100%;
    padding: 0 20px;
    flex-grow: 1;
    font-size: $mobile-regular-font-size + 1;
  }

  .btn-search {
    margin: 2px;
    height: calc(100% - 4px);
    width: 169px;
    border-radius: 4px;
    font-family: 'Montserrat-Bold';
    font-size: $small-font-size - 1;
  }
}
