@import "../../styles/variables/variables";

.div-cart {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 12px;
  border: 1px solid $green-primary;
  border-radius: 10px;

  img {
    height: 24px;
    margin-right: 10px;
  }

  span {
    color: $green-primary;
    font-size: $mobile-regular-font-size - 1;
    font-family: 'Montserrat-Bold';
  }

  @media (max-width: 414px) {
    padding: 4px 10px;
    border-radius: 4px;
    
    span {
      font-size: $mobile-small-font-size;
    }
    img {
      height: 20px;
      margin-right: 5px;
    }
  }
}

.div-cart-highlighted {
  border: unset;
  background-color: $green-primary;

  span {
    color: white;
  }

  @media (max-width: 414px) {
    padding: 10px 20px;
    border-radius: 8px;

    img {
      height: 15px;
    }

    span {
      font-size: 11px;
    }
  }
}
