@import "../../styles/variables/variables";

.div-cart {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  border: 1px solid $green-primary;
  border-radius: 10px;

  img {
    height: 14px;
    margin-right: 15px;
  }

  span {
    color: $green-primary;
    font-size: $mobile-regular-font-size;
    font-family: 'Montserrat-Bold';
  }

  // @media (max-width: 710px) {
  //   img {
  //     height: 19px;
  //   }

  //   span {
  //     width: 14px;
  //     height: 14px;
  //     line-height: 14px;
  //     font-size: $mobile-small-font-size;
  //     left: 12px;
  //     top: -2px;
  //     border: 1px solid white;
  //   }
  // }
}

.div-cart-highlighted {
  border: unset;
  background-color: $green-primary;

  span {
    color: white;
  }
}
