@import "../../../../styles/variables/variables";

.div-location-search-container {
  background-color: white;
  border: 1px solid #E1E1E1;
  border-radius: 3px;
  height: 80px;
  margin-top: 50px;
  padding: 5px;

  display: flex;
  flex-direction: row;

  input {
    flex-grow: 100;
    padding: 0 16px;
    font-size: $small-font-size;
    font-family: 'Lato-Bold'; 
    caret-color: $green-primary;
  }

  .button {
    max-width: 180px;
  }

  .btn-locate-me {
    text-align: center;
    background-color: $bg-gray;
    border: 1px solid $border-gray;
    border-radius: 4px;
    margin-right: 6px;
    

    img {
      width: 19.25px;
      height: 19.25px;
      margin-right: 5px;
    }

    span {
      font-family: 'Lato-Bold';
      font-size: $small-font-size;
      color: $text-gray;
      line-height: 66px;
    }
  }

  @media (max-width: 1024px) {
    height: 64px;
  
    .btn-locate-me {
      span {
        line-height: 45px;
      }
    }
  }

  @media (max-width: 710px) {
    height: 45px;
  
    .button {
      height: 33px !important;
    }
  
    input {
      font-size: $mobile-small-font-size;
      min-width: 0px;
    }
  
    .btn-locate-me {
      img {
        width: 8px;
        height: 8px;
      }
      
      span {
        line-height: 30px;
        font-size: $mobile-small-font-size !important;
      }
    }
  }
}
