@import "../../../../styles/variables/variables";

.div-location-search-container {
  background-color: white;
  border: 1px solid #E1E1E1;
  border-radius: 3px;
  height: 60px;
  margin-top: 50px;
  padding: 3px;

  display: flex;
  flex-direction: row;

  input {
    flex-grow: 100;
    padding: 0 20px;
    font-size: $small-font-size - 2;
    font-family: 'OpenSans-Regular'; 
    caret-color: $green-primary;
  }

  .button {
    max-width: 170px;
    height: 51px;
    font-size: $small-font-size - 2;
    border-radius: 3px;
  }

  .btn-locate-me {
    text-align: center;
    background-color: $bg-gray;
    border: 1px solid $border-gray;
    margin-right: 6px;
    max-width: 150px;
    
    img {
      width: 16.5px;
      height: 16.5px;
      margin-right: 5px;
    }

    span {
      font-family: 'OpenSans-SemiBold';
      font-size: $small-font-size - 2;
      color: $text-gray;
      line-height: 40px;
    }
  }

  @media (max-width: 710px) {
    height: 45px;
  
    .button {
      height: 37px !important;
      font-size: $mobile-small-font-size;
    }
  
    input {
      font-size: $mobile-small-font-size;
      min-width: 0px;
      padding: 0 10px;
    }
  
    .btn-locate-me {
      img {
        width: 8px;
        height: 8px;
      }
      
      span {
        line-height: 35px;
        font-size: $mobile-small-font-size !important;
      }
    }
  }
}
