@import "../../styles/variables/variables";

.div-meal-plans-container {

  .div-meal-plans-banner {
    position: relative;
    background-image: linear-gradient(to bottom, #F2FFF3, white);
    height: 465px;

    .div-meal-plans-title {
      position: relative;
      max-width: 600px;
      text-align: center;
      font-size: 28px;
      font-family: 'Montserrat-SemiBold';
      color: #5D5D5D;
      left: 50%;
      top: 50px;
      transform: translate(-50%);
    }

    .div-meal-plans-subtitle {
      position: relative;
      max-width: 700px;
      text-align: center;
      font-size: $mobile-regular-font-size;
      color: $text-light-gray;
      left: 50%;
      top: 60px;
      transform: translate(-50%);
    }
  }

  .div-meal-plans {
    position: relative;
    display: flex;
    margin-top: -330px;

    .div-meal-plans-grid {
      max-width: calc(950px);
      .div-meal-plan-wrapper {
        padding: 70px 40px;

        @media (max-width: 1400px) {
          padding-left: 30px;
          padding-right: 30px;
        }

        @media (max-width: 1199px) {
          padding-top: 70px;
          padding-bottom: 30px;
        }
      }
    }
  }

  .div-meal-plans-info {
    display: flex;
    justify-content: space-evenly;
    background-color: #EBECF1;
    border: 1px solid #EBE2E2;
    height: 228px;
    align-items: center;

    .div-meal-plans-info-text {
      display: flex;
      flex-direction: column;
      width: 228px;

      .div-meal-plans-info-title {
        font-size: 25px;
        font-family: 'Montserrat-Medium';
        color: #393838;
      }
      .div-meal-plans-info-content {
        font-size: $small-font-size;
        color: $text-light-gray;
      }
    }

    .div-meal-plans-info-image {
      img {
        width: 180px;
      }
    }
  }

  @media (max-width: 1024px) {
    .div-meal-plans {
      .div-meal-plans-grid {
        max-width: calc(100% - 72px);
      }
    }
  }

  @media (max-width: 710px) {
    background-color: white;

    .div-meal-plans-banner {
      height: 350px;

      .div-meal-plans-title {
        font-size: $regular-font-size;
        padding: 0 20px;
      }

      .div-meal-plans-subtitle {
        padding: 0 40px;
      }
    }

    .div-meal-plans-grey-space {
      height: 100px;
    }

    .div-meal-plans {
      margin-top: -220px;

      .container {
        .div-meal-plan-wrapper {
          padding: 15px;
          margin-top: 40px;
        }
      }
    }

    .quote-container {
      display: none;
    }
  }

  @media (max-width: 414px) {
    .div-meal-plans-banner {
      .div-meal-plans-subtitle {
        font-size: $mobile-small-font-size;
      }
    }

    .div-meal-plans {
      margin-top: -260px;
    }
  }
}
