@import "../../styles/variables/variables";

.div-meal-plans-container {

  .div-meal-plans-banner {
    position: relative;
    background-color: #f3f4f8;
    height: 465px;

    .div-meal-plans-title {
      position: relative;
      max-width: 600px;
      text-align: center;
      font-size: 31px;
      font-family: 'Montserrat-SemiBold';
      left: 50%;
      top: 80px;
      transform: translate(-50%);
    }

    .div-meal-plans-subtitle {
      position: relative;
      max-width: calc(100% - 60px);
      text-align: center;
      font-size: $mobile-regular-font-size;
      color: $text-light-gray;
      left: 50%;
      top: 90px;
      transform: translate(-50%);
    }
  }

  .div-meal-plans {
    position: relative;
    display: flex;
    margin-top: -270px;
    background-color: #f3f4f8;
    box-shadow: $shadow-primary;

    .div-meal-plans-grid {
      max-width: calc(950px);
      .div-meal-plan-wrapper {
        padding: 10px 40px 50px;

        @media (max-width: 1400px) {
          padding-left: 30px;
          padding-right: 30px;
        }

        @media (max-width: 1199px) {
          padding-top: 70px;
          padding-bottom: 30px;
        }
      }
    }
  }

  .div-meal-plans-info {
    display: flex;
    justify-content: space-evenly;
    background-color: #FAFBFC;
    align-items: center;

    .quote-container {
      max-width: 340px;
      padding: 40px;
    }
  }

  @media (max-width: 1024px) {
    .div-meal-plans {
      .div-meal-plans-grid {
        max-width: calc(100% - 72px);
      }
    }
  }

  @media (max-width: 710px) {
    background-color: white;

    .div-meal-plans-banner {
      height: 350px;

      .div-meal-plans-title {
        font-size: $regular-font-size;
        padding: 0 20px;
      }

      .div-meal-plans-subtitle {
        max-width: calc(100% - 40px);
      }
    }

    .div-meal-plans-grey-space {
      height: 100px;
    }

    .div-meal-plans {
      margin-top: -180px;

      .container {
        .div-meal-plan-wrapper {
          padding: 15px;
          margin-top: 40px;
        }
      }
    }

    .quote-container {
      display: none;
    }
  }

  @media (max-width: 414px) {
    .div-meal-plans-banner {
      .div-meal-plans-subtitle {
        font-size: $mobile-small-font-size;
      }
    }

    .div-meal-plans {
      margin-top: -200px;
    }
  }
}
