@import "../../../../../styles/variables/variables";

.payment-method-info {
  width: 539px;
  height: 102px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px 0 25px;

  .div-image-wrapper {
    width: 60px;
    
    .img-payment-method {
      width: 30px;
    }

    .img-payment-method-long {
      width: 60px;
    }
  }

  .div-secret-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;

    .img-password {
      width: 33px;
      margin-right: 10px;
    }

    span {
      font-size: $mobile-regular-font-size - 1;
      font-family: 'Montserrat-Medium';
      color: #5A5858;
    }
  }
}

.blue {
  background-image: linear-gradient(to right, #28496C, #2684BD);

  .div-secret-form span {
    color: white;
  }
}

.gray {
  background-color: #F9F9F9;
  border: 1px solid $text-light-gray;
}

.black {
  background-image: linear-gradient(to right, #3B3B3B, #686565);

  .div-secret-form span {
    color: white;
  }
}
