@import "../../../../../styles/variables/variables";

.payment-method-info {
  width: 660px;
  height: 180px;
  border-radius: 17px;
  border: 1px solid #C7C7C7;
  overflow: hidden;

  .blue {
    background-color: rgba(1, 93, 175, 0.74);
  }

  .orange {
    background-color: #F79F1A;
  }

  .cyan {
    background-color: #009CDE;
  }

  .payment-method-info-title {
    height: 90px;

    span {
      line-height: 90px;
      font-size: $footer-primary-font-size;
      margin-left: 30px;
      color: white;
    }
  }

  .payment-method-info-content {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    .div-image-wrapper {
      width: 80px;
      text-align: center;
      
      .img-payment-method {
        width: 40px;
      }
  
      .img-payment-method-long {
        width: 80px;
      }
    }

    .div-secret-form {
      display: flex;
      align-items: center;
      flex-grow: 1;
      margin-left: 40px;

      .img-password {
        width: 40px;
        margin-right: 30px;
      }

      span {
        margin-right: 30px;
        font-size: $small-font-size;
        font-family: 'Montserrat-Medium';
      }
    }
    

    .span-remove {
      text-decoration: underline;
      font-size: $small-font-size;
      color: $text-light-gray;
    }
  }
}