@import "../../../styles/variables/variables";

.div-edit-profile-container {
  display: flex;
  justify-content: center;
  
  .div-profile-info {
    color: $text-light-gray;
    display: flex;
    margin-right: 100px;

    .div-profile-info-title-list {
      margin-right: 240px;
      .div-profile-info-title {
        margin-bottom: 50px;
        text-align: right;
      }
    }
    .div-profile-info-text-list {
      .div-profile-info-text {
        margin-bottom: 50px;
      }
    }
  }

  .div-profile-edit {
    .img-profile-edit {
      height: 32px;
    }
  }
}
