@import "../../../styles/variables/variables";

.div-edit-profile-container {
  margin-top: -50px;

  .div-profile-info {
    width: 380px;
    margin: 0 auto;
    padding: 35px 60px;
    box-shadow: $shadow-primary;

    .div-title {
      color: #4BCC25;
      font-family: 'Montserrat-SemiBold';
      font-size: $small-font-size + 1;
      margin-bottom: 25px;
    }

    .div-profile-input {
      font-size: $mobile-regular-font-size;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      .span-input-title {
        color: #B2B2B2;
      }

      .span-input-value, input {
        font-family: 'Montserrat-SemiBold';
        color: #747474;
        margin-top: 5px;
      }

      .span-input-value { 
        line-height: 25px;
      }

      input {
        border: unset;
        height: 25px;
      }
    }
  }

  .button {
    font-size: $mobile-regular-font-size - 2;
    font-family: 'Montserrat-Medium';
    width: 132px;
    height: 42px;
    border-radius: 21px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    background-color: #525252;
    box-shadow: unset;
  }
}
