@import "../../../styles/variables/variables";

.div-edit-profile-container {
  width: 630px;
  margin: 0 auto;

  .div-profile-info {
    flex-grow: 1;
    color: $text-light-gray;
    display: flex;

    .div-profile-info-title-list {
      margin-right: 110px;
      flex-shrink: 0;

      .div-profile-info-title {
        height: 70px;
        font-family: 'Montserrat-Bold';
        font-size: $small-font-size;
      }
    }
    .div-profile-info-text-list {
      .div-profile-info-text {
        height: 70px;
        font-size: $small-font-size;
      }

      .clickable {
        color: $green-primary;
        font-size: $small-font-size;
      }
    }

    .div-profile-info-input-list {
      margin-top: -15px;

      input {
        width: 100%;
        height: 50px;
        border: 1px solid rgba(112, 112, 112, 0.38);
        box-shadow: $shadow-primary;
        padding: 0 15px;
        font-size: $small-font-size;
        color: $text-light-gray;
        margin-bottom: 20px;
      }

      .div-profile-info-double-input {
        display: flex;
        justify-content: space-between;

        input {
          width: calc(50% - 5px);
        }
      }
      
      .div-profile-info-input {

      }
    }
  }

  .btn-edit {
    border-radius: 3px;
    background-color: #525252;
    font-size: $mobile-regular-font-size;
    font-family: 'Montserrat-Medium';
    width: 150px;
    height: 48px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 90px;
  }
}
