@import "../../../../styles/variables/variables";

.help-delivery-panel {

  .help-delivery-section {
    display: flex;
    margin-top: 50px;

    img {
      width: 120px;
      height: 120px;
      margin-left: 50px;
      margin-right: 95px;
    }

    .help-delivery-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .help-text {
        width: calc(50% - 50px);
        margin-bottom: 40px;
      }
    }
  }
}
