@import "../../../styles/variables/variables";

.div-career-position-container {
  background-color: $extra-light-gray;
  padding-bottom: 10px;

  .div-career-position-header {
    position: relative;
    height: 204px;
    background-color: white;

    .div-career-position-header-content {
      position: absolute;
      width: 720px;
      top: calc(50% - 40px);
      left: 50%;
      transform: translate(-50%);

      font-family: 'Montserrat-SemiBold';
      color: black;

      .div-career-position-title {
        font-size: 33px;
        font-family: 'Montserrat-SemiBold';
        opacity: 0.7;
      }
      .div-career-position-subtitle {
        font-size: $mobile-regular-font-size;
        opacity: 0.6;
        margin-top: 16px;
      }
    }
  }

  .div-career-position-content {
    width: 720px;
    margin: 40px auto;
    font-size: $mobile-regular-font-size + 1;
    color: black;

    .div-career-position-content-heading {
      font-family: 'OpenSans-Bold';
      margin: 50px 0 20px;
    }

    .div-career-position-content-paragraph {
      font-family: 'OpenSans-Regular';
    }

    .div-career-position-apply {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 80px;

      .btn-apply {
        width: 222px;
        height: 52px;
        border-radius: 4px;
        border: .75px solid #3E8541;
        color: white;
        font-size: $mobile-regular-font-size + 1;
        font-family: 'Montserrat-Medium';
      }
    }
  }
}
