@import "../../../../styles/variables/variables";

.help-recent-activity-list {
  .help-recent-activity-list-title {
    font-size: 45px;
    font-family: 'Montserrat-SemiBold';
    opacity: 0.8;
    color: #333333;
    text-align: center;
    margin-bottom: 5px;
  }

  .help-recent-activity-list-subtitle {
    color: #333333;
    text-align: center;
    margin-bottom: 40px;
  }
}
