@import "../../../../styles/variables/variables";

.app-footer {
  display: flex;
  flex-direction: column;
  font-size: $footer-primary-font-size;
  
  .div-footer-top-container {
    height: 90px;
    display: flex;
    flex-direction: row;
    z-index: 1;

    .language-dropdown {
      background-color: $bg-footer-secondary;
      margin-left: auto;
    }
  }

  .div-footer-separator-line {
    height: 1px;
    background-color: white;
  }

  .div-footer-middle-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    .div-footer-middle-logo {
      margin-right: 60px;
      img {
        height: 55px;
        margin: 60px 0 0 69px;
      }

      @media (max-width: 1700px) {
        margin-top: -20px;
      }

      @media (max-width: 1510px) {
        margin-right: 20px;
        margin-top: -30px;
        img {
          margin-left: 30px;
          height: 40px;
        }
      }
    }

    .div-footer-middle-links-group {
      display: flex;
      flex-direction: column;
      margin: 50px 70px 0px 70px;

      .footer-middle-links-header {
        font-size: $footer-secondary-font-size;
        color: #7C7C7C;
        font-family: 'Montserrat-SemiBold';
      }

      .footer-middle-link {
        color: #AFAFAF;
        margin-top: 10px;
        cursor: pointer;
      }
      .footer-middle-link:hover {
        text-decoration: underline;
      }

      .footer-middle-image-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        cursor: pointer;

        a {
          margin-right: 20px;

          img {
            height: 35px;
          }
        }
      }

      @media (max-width: 1700px) {
        margin: 30px 50px 0 50px;
      }

      @media (max-width: 1510px) {
        margin: 30px 40px 0 40px;
      }

      @media (max-width: 1300px) {
        margin: 20px 25px 0 25px;
      }
    }
  }

  .div-footer-bottom-container {
    height: 90px;
    background-color: $bg-footer-secondary;
    display: flex;
    flex-direction: row;
    position: relative;

    .div-footer-bottom-links {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      .footer-bottom-link {
        color: #AFAFAF;
        margin-left: 68px;
        cursor: pointer;
      }
    }
  }
}