@import "../../../../styles/variables/variables";

.app-footer {
  display: flex;
  flex-direction: column;
  font-size: $footer-primary-font-size;

  .container {
    max-width: 1366px;
  }
  
  .div-footer-top-container {
    height: 73px;
    display: flex;
    flex-direction: row;
    z-index: 1;

    .language-dropdown {
      margin-left: auto;
    }

    @media (max-width: 1366px) {
      padding-left: 20px;
    }
  }

  .div-footer-separator-line {
    height: 1px;
    background-color: #212122;
  }

  .div-footer-middle-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    .div-footer-middle-logo {
      margin-right: 77px;
      img {
        height: 34px;
        margin: 38px 0 0 0;
      }

      @media (max-width: 1700px) {
        margin-top: -10px;
      }

      @media (max-width: 1510px) {
        margin-right: 20px;
        margin-top: -10px;
        img {
          margin-left: 20px;
        }
      }
    }

    .div-footer-middle-links-group {
      display: flex;
      flex-direction: column;
      margin: 38px 60px 0px 60px;

      .footer-middle-links-header {
        font-size: $small-font-size + 1;
        color: #7C7C7C;
        font-family: 'Montserrat-SemiBold';
        margin-bottom: 10px;
      }

      .footer-middle-link {
        font-size: $mobile-regular-font-size + 1;
        color: #AFAFAF;
        margin-top: 10px;
        cursor: pointer;
      }
      .footer-middle-link:hover {
        text-decoration: underline;
      }

      .footer-middle-image-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        cursor: pointer;

        .div-social-link {
          background-position: center;
          background-repeat: no-repeat;
          width: 24px;
          height: 24px;
          margin-right: 15px;
          transition: background-image .25s linear;
        }
  
        #facebook {
          background-image: url('../../../../assets/images/facebook_highlight.svg');
          background-image: url('../../../../assets/images/facebook.svg');
  
          &:hover {
            background-image: url('../../../../assets/images/facebook_highlight.svg');
          }
        }
  
        #twitter {
          background-image: url('../../../../assets/images/twitter_highlight.svg');
          background-image: url('../../../../assets/images/twitter.svg');
  
          &:hover {
            background-image: url('../../../../assets/images/twitter_highlight.svg');
          }
        }
  
        #instagram {
          background-image: url('../../../../assets/images/instagram_highlight.svg');
          background-image: url('../../../../assets/images/instagram.svg');
  
          &:hover {
            background-image: url('../../../../assets/images/instagram_highlight.svg');
          }
        }
      }

      @media (max-width: 1700px) {
        margin: 30px 50px 0 50px;
      }

      @media (max-width: 1510px) {
        margin: 30px 40px 0 40px;
      }

      @media (max-width: 1300px) {
        margin: 30px 25px 0 25px;
      }
    }
  }

  .div-footer-bottom-container {
    height: 73px;
    background-color: $bg-footer-secondary;
    display: flex;
    flex-direction: row;
    position: relative;

    .div-footer-bottom-links {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);

      .footer-bottom-link {
        color: #AFAFAF;
        margin-right: 68px;
        cursor: pointer;
        font-size: $small-font-size - 2;
      }

      @media (max-width: 1366px) {
        padding-left: 20px;
      }
    }
  }
}