@import "../../../../styles/variables/variables";

.help-text-group {
  .help-text-group-header {
    display: flex;
    align-items: center;

    img {
      height: 50px;
      margin-right: 10px;
    }

    span {
      font-family: 'Montserrat-Bold';
      font-size: 32px;
    }
  }

  .help-text-group-date {
    margin-top: 10px;
    margin-left: 60px;
    font-size: $mobile-regular-font-size + 1;
    color: #9F9F9F;
  }

  .help-text-group-content {
    padding-left: 50px;
  }

  @media (max-width: 1200px) {
    .help-text-group-content {
      padding-left: unset;
    }

    .help-text-group-header {
      img {
        margin-right: 5px;
      }
  
      span {
        font-size: $mobile-regular-font-size;
        font-family: 'Montserrat-SemiBold';
        margin-top: -8px;
      }
    }
  
    .help-text-group-date {
      margin-top: -15px;
      margin-left: 55px;
      font-size: $mobile-regular-font-size - 2;
    }
  }
}
