@import "../../../../styles/variables/variables";

.meal-preference-item {
  display: flex;
  border: 0.3px solid $text-light-gray;
  border-radius: 5px;
  box-shadow: $shadow-secondary;
  background-color: white;
  color: $text-light-gray;
  padding: 20px 36px;
  margin: 20px;

  .meal-preference-item-image {
    width: 230px;
    height: 154px;
    border-radius: 8px;
    box-shadow: $shadow-secondary;
  }

  .meal-preference-item-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;

    .meal-preference-item-name {
      font-size: $mobile-regular-font-size;
    }

    .img-star {
      width: 16px;
      height: 16px;
    }

    .meal-preference-item-detail {
      flex-grow: 1;
      font-size: 11px;
      margin-left: 10px;
      margin-top: 10px;
    }

    .meal-preference-item-edit {
      margin-top: 20px;
      span {
        float: right;
        text-decoration: underline;
        font-size: 11px;
      }
    }
  }
}
