@import "../../../../styles/variables/variables";

.meal-preference-item {
  border-radius: 9px;
  border: 1px solid rgba(112, 112, 112, 0.36);
  display: flex;
  flex-direction: column;
  padding: 54px 38px 24px;
  overflow: hidden;
  
  .img-item {
    margin: 0 -38px;
    height: 325px;
  }

  .meal-preference-item-name {
    display: flex;
    justify-content: space-between;
    padding: 38px 0 15px;

    .span-name {
      max-width: 50%;
      font-size: $small-font-size;
      color: #616060;
      font-family: 'Montserrat-SemiBold';
    }

    .img-flag {
      height: 30px;
    }
  }

  .meal-preference-item-description {
    font-size: $mobile-regular-font-size;
    color: #616060;
    padding-bottom: 10px;
  }

  .separator {
    height: 1px;
    background-color: #818080;
  }

  .span-edit {
    padding-top: 10px;
    color: #72BD75;
  }

  .meal-preference-item-edit-section {
    .span-description {
      font-family: 'Montserrat-Light';
      font-size: $mobile-regular-font-size - 2;
      color: #616060;
      padding-bottom: 5px;
    }

    .meal-preference-item-edit-options {
      padding: 24px 12px 12px;
      
      .meal-preference-item-edit-options-title {
        font-size: $small-font-size;
        color: $text-light-gray;
      }

      .meal-preference-item-edit-options-grid {
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;

        .meal-preference-option {
          width: 50%;
          padding: 2px;
        }
      }
    }

    .meal-preference-item-edit-notes {
      margin-left: 50%;
      transform: translateX(-50%);
      margin-bottom: 15px;
      border-radius: 7px;
      resize: none;
      font-size: $mobile-small-font-size;
      width: 251px;
      height: 65px;
      padding: 10px 7px;
      background-color: #F9F9F9;
      box-shadow: $shadow-secondary;
      border: unset;
      color: #707070;

      &:focus {
        box-shadow: unset;
        border: 0.5px solid #70707080;
        background-color: transparent;
      }
    }

    .meal-preference-item-edit-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      
      .button {
        width: 115px;
        height: 35px;
        margin: 0 5px;
        border-radius: 3px;
        box-shadow: $shadow-secondary;
        font-size: $small-font-size - 1;
      }

      .btn-cancel {
        background-color: #F6F6F6;
        color: $text-light-gray;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 0 15px 25px;

    .img-item {
      margin: 0 -15px;
    }
  }

  @media (max-width: 710px) {
    .img-item {
      height: 315px;
    }

    .meal-preference-item-name {
      padding-top: 28px;

      .img-flag {
        height: 20px;
      }

      .span-name {
        font-size: $mobile-regular-font-size;
      }
    }

    .meal-preference-item-description {
      font-size: $mobile-small-font-size;
      line-height: 20px;
    }

    .span-edit {
      font-size: $mobile-regular-font-size;
    }

    .meal-preference-item-edit-section {
      .span-description {
        font-size: $mobile-small-font-size;
        line-height: 15px;
      }
  
      .meal-preference-item-edit-options {
        padding: 15px 5px 5px;
        
        .meal-preference-item-edit-options-title {
          font-size: $mobile-regular-font-size;
        }
  
        .meal-preference-item-edit-options-grid {
          margin-left: 10px;
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
