@import "../../../../styles/variables/variables";

.meal-preference-item {
  border-radius: 9px;
  border: 1px solid rgba(112, 112, 112, 0.36);
  display: flex;
  flex-direction: column;
  padding: 25px 50px 28px 40px;
  overflow: hidden;

  .meal-preference-item-name {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    color: #616060;
    font-family: 'Montserrat-Bold';
    margin-bottom: 15px;
  }

  .meal-preference-item-description {
    font-size: $mobile-regular-font-size;
    color: #616060;
    margin-bottom: 35px;
  }

  .separator {
    height: 1px;
    background-color: #818080;
  }

  .span-edit {
    padding-top: 20px;
    color: $green-primary;
    font-family: 'Montserrat-Medium';
    font-size: $regular-font-size + 2;
  }

  .span-edit-description {
    font-size: $mobile-regular-font-size - 2;
    font-family: 'Montserrat-Light';
    color: #616060;
    width: 90%;
  }

  .meal-preference-item-edit-section {
    margin-top: 18px;

    .meal-preference-item-edit-options {
      margin: 35px -15px 25px;
      
      .meal-preference-item-edit-options-title {
        font-size: $regular-font-size + 1;
        color: $text-light-gray;
        margin-left: 15px;
        margin-bottom: 25px;
      }

      .meal-preference-item-edit-options-grid {
        .meal-preference-slider {
          margin-bottom: 35px;
        }
      }
    }

    .meal-preference-item-edit-notes {
      margin-left: 50%;
      transform: translateX(-50%);
      border-radius: 7px;
      border: 0.5px solid #70707080;
      resize: none;
      font-size: $mobile-regular-font-size - 2;
      width: calc(100% - 40px);
      height: 160px;
      padding: 20px;
      color: #707070;
    }

    .meal-preference-item-edit-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      
      .button {
        width: 115px;
        height: 35px;
        margin: 0 5px;
        border-radius: 3px;
        box-shadow: $shadow-secondary;
        font-size: $small-font-size - 1;
      }

      .btn-cancel {
        background-color: #F6F6F6;
        color: $text-light-gray;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 0 15px 25px;
  }

  @media (max-width: 710px) {
    .meal-preference-item-name {
      padding-top: 28px;

      font-size: $mobile-regular-font-size;
    }

    .meal-preference-item-description {
      font-size: $mobile-small-font-size;
      line-height: 20px;
    }

    .span-edit {
      font-size: $mobile-regular-font-size;
    }

    .span-description {
      font-size: $mobile-small-font-size;
      line-height: 15px;
    }

    .meal-preference-item-edit-section {
      .meal-preference-item-edit-options {
        padding: 15px 5px 5px;
        
        .meal-preference-item-edit-options-title {
          font-size: $mobile-regular-font-size;
        }
  
        .meal-preference-item-edit-options-grid {
          margin-left: 10px;
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
