@import "../../../styles/variables/variables";

.edit-profile-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 570px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  background: white;
  border: 0.5px solid $text-light-gray;
  border-radius: 6px;
  box-shadow: $shadow-secondary;
  padding: 40px 45px 36px;
  color: $text-light-gray;

  .edit-profile-close {
    position: absolute;
    right: 20px;
    top: 20px;

    .img-close {
      height: 16px;
    }
  }

  .edit-profile-title {
    color: $text-light-gray;
    margin-top: 3px;
  }

  .separator {
    height: 1px;
    background-color: #70707050;
    margin-top: 15px;
  }

  .form-inputs {
    .form-input {
      margin-top: 20px;
      font-size: $mobile-regular-font-size;

      %form {
        width: 100%;
        margin-top: 5px;
        padding: 10px;
        border: 1px solid $light-green-primary;
        border-radius: 2px;
        caret-color: $green-primary;

        &:focus {
          border: 1px solid $green-primary;
        }
      }

      input {
        @extend %form;
        height: 43px;
      }

      textarea {
        @extend %form;
        height: 107px;
        resize: none;
        border-radius: 6px;
      }
    }

    .form-double-inputs {
      display: flex;

      #input_firstname {
        margin-right: 15px;
        width: 50%;
      }
      #input_lastname {
        margin-left: 15px;
        width: 50%;
      }

      #input_street {
        width: 60%;
        margin-right: 5px;
      }

      #input_apartment {
        width: 40%;
        margin-left: 5px;
      }

      #input_city {
        width: 60%;
        margin-right: 5px;
      }

      #input_state {
        position: relative;
        width: 20%;
        margin-left: 5px;
        margin-right: 5px;

        .select-us-state {
          margin-top: 5px;
          padding-left: 10px;
          padding-right: 20px;
          border: 1px solid $light-green-primary;
          background-color: white;
          outline: none;
          width: 100%;
          height: 43px;
          color: $text-light-gray;
          -webkit-appearance: none;
          -moz-appearance: none;
        }

        img {
          position: absolute;
          height: 5px;
          right: 8px;
          bottom: 18px;
        }
      }

      #input_zip {
        width: calc(20% - 10px);
        margin-left: 5px;
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 40px;

      .button {
        width: 115px;
        height: 35px;
        border-radius: 3px;
        font-size: $small-font-size - 1;
        box-shadow: $shadow-secondary;
      }

      .btn-save {
        margin-right: 10px;
      }

      .btn-cancel {
        background-color: #F6F6F6;
        color: $text-light-gray;
      }
    }
    
  }

  @media (max-width: 710px) {
    .form-inputs { 
      .form-input {
        input {
          padding: 20px 15px;
        }
      }

      .form-double-inputs {
        #input_firstname {
          margin-right: 5px;
        }
        #input_lastname {
          margin-left: 5px;
        }
      }
    }
  }
}