@import "../../../../../../styles/variables/variables";

.language-dropdown {
  .div-footer-language-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    height: 100%;
  
    .img-globe {
      width: 25px;
      height: 25px;
      margin-right: 50px;
      background-image: url('../../../../../../assets/images/globe.svg');
      background-position: center;
      background-repeat: no-repeat;
      transition: all .25s linear;
  
      @media (max-width: 1440px) {
        margin-right: 30px;
      }
  
      @media (max-width: 1200px) {
        margin-left: 30px;
      }
    }
  
    span {
      color: #AFAFAF;
      margin: 0 30px;
      transition: all .25s linear;
      font-size: $small-font-size + 1;
    }

    &:hover {
      .img-globe {
        background-image: url('../../../../../../assets/images/globe_highlight.svg');
      }

      span {
        color: #F3F3F3;
      }
    }
  }

  .dropdown__content {
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
    background-color: #212122;
    color: #AFAFAF;

    .main-language-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      padding: 0 40px;
      cursor: pointer;
      font-size: $small-font-size + 1;

      img {
        height: 24px;
      }

      &:hover {
        background-color: white;
        color: black;
      }
    }

    .sub-language-menus {
      background-color: #2D2D2D;
      padding-top: 10px;

      .sub-language-menu {
        display: flex;
        align-items: center;
        height: 40px;
        padding-left: 70px;
        cursor: pointer;
        font-size: $small-font-size + 1;
        font-family: 'Montserrat-Medium';

        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }
}
