@import "../../../../styles/variables/variables";

.help-search-bar {
  position: relative;
  
  .input-help-search {
    position: absolute;
    width: 100%;
    height: 48px;
    border-radius: 3px;
    border: 0.5px solid rgba(25,25,25,0.55);
    padding: 0 20px 0 45px;
    font-size: $mobile-regular-font-size - 2;

    &:focus {
      border: 3px solid $green-primary;
    }
  }

  .img-search {
    position: absolute;
    height: 14px;
    left: 20px;
    top: 17px;
  }
}
