@import "../../styles/variables/variables";

.div-side-cart-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .div-side-cart-header {
    height: $header-height;
    border-bottom: 0.5px solid #70707080;
    display: flex;
    align-items: center;

    .div-cart {
      margin-left: 37px;
    }

    .div-side-cart-header-title {
      position: absolute;
      width: 100%;
      font-family: 'Brandon-Medium';
      color: $text-light-gray;
      text-align: center;
    }
  }

  .div-side-cart-header-no-border {
    border-bottom: unset;
  }

  .div-clear-all {
    color: #2F7E0E;
    font-size: $mobile-regular-font-size - 2;
    text-align: right;
    padding: 8px 20px 0 0;
  }

  .div-side-cart-empty {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    .img-empty-cart {
      height: 176px;
    }
    .span-empty-title {
      font-size: $regular-font-size;
      font-family: 'Brandon-Medium';
      color: #A7A7A7;
      opacity: 0.65;
      margin-top: 20px;
    }
    .span-empty-subtitle {
      font-family: 'Brandon-Regular';
      font-size: $regular-font-size;
      color: #272727;
      opacity: 0.84;
    }
  }

  .div-side-cart-items {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 0 20px;
  }

  @media (max-width: 414px) {
    .div-side-cart-header {
      height: 60px;

      .div-side-cart-header-title {
        font-size: $small-font-size;
        flex-grow: 1;
        text-align: center;
        margin-left: unset;
      }
    }

    .div-side-cart-items {
      padding: 0 20px;
    }
  }
}
