@import "../../styles/variables/variables";

.div-side-cart-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .div-side-cart-header {
    height: $header-height;
    border-bottom: 0.5px solid #70707080;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .div-side-cart-header-left {
      display: flex;
      align-items: center;
      margin-left: 40px;

      .div-side-cart-header-title {
        margin-left: 20px;
        font-family: 'Montserrat-Medium';
        color: $text-light-gray;
      }
    }

    .div-side-cart-header-right {
      margin-right: 20px;
      img {
        height: 20px;
      }
    }
  }

  .div-side-cart-header-no-border {
    border-bottom: unset;
  }

  .div-side-cart-empty {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    .img-empty-cart {
      height: 206px;
    }
    .span-empty-title {
      font-size: $regular-font-size;
      font-family: 'Montserrat-Medium';
      color: #A7A7A7;
      opacity: 0.65;
      margin-top: 20px;
    }
    .span-empty-subtitle {
      font-size: 12px;
      color: #272727;
      opacity: 0.84;
      margin-top: 5px;
    }
  }

  .div-side-cart-items {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 0 40px;
  }

  @media (max-width: 414px) {
    .div-side-cart-header {
      height: 60px;

      .div-side-cart-header-left {
        flex-grow: 1;
        margin-left: 20px;

        .div-side-cart-header-title {
          font-size: $small-font-size;
          flex-grow: 1;
          text-align: center;
          margin-left: unset;
        }
      }
    }

    .div-side-cart-items {
      padding: 0 20px;
    }
  }
}
