@import "../../styles/variables/variables";

.div-side-cart-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .div-side-cart-header {
    height: $header-height;
    border-bottom: 0.5px solid #70707080;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .div-side-cart-header-left {
      display: flex;
      align-items: center;
      margin-left: 40px;

      .div-side-cart-header-title {
        margin-left: 20px;
        font-family: 'Montserrat-Medium';
        color: $text-light-gray;
      }
    }

    .div-side-cart-header-right {
      margin-right: 20px;
      img {
        height: 26.5px;
      }
    }
  }

  .div-side-cart-items {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 0 40px;
  }

  .div-side-cart-bottom {
  }
}
