@import "../../../../styles/variables/variables";

.help-text {
  padding: 35px 0;

  .help-text-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .help-text-title {
      font-size: $small-font-size + 1;
      font-family: 'Montserrat-Medium';
      margin-left: 25px;
    }

    .img-triangle {
      height: 25px;
    }
  }
  

  .help-text-content {
    width: 60%;
    font-family: 'OpenSans-Regular';
    font-size: $mobile-regular-font-size + 1;
    margin: 20px 0 20px;

    a {
      color: $green-secondary;
      text-decoration: underline;
    }
  }

  @media (max-width: 1200px) {
    padding: 20px 0;

    .help-text-header {
      .help-text-title {
        font-size: $mobile-regular-font-size + 1;
        margin-left: 15px;
      }
  
      .img-triangle {
        height: 25px;
      }
    } 
  
    .help-text-content {
      width: 100%;
      font-size: $mobile-regular-font-size - 2;
      margin: 10px 20px 10px 0;
    }
  }
}

.help-text-underlined {
  border-bottom: 1px solid #CBC7C7;
}
