@import "../../styles/variables/variables";

.div-order-confirm-container {
  background-color: #F1F1F1;
  min-height: 100vh;
  display: flex;

  .div-order-confirm-form {
    margin: 120px auto;
    width: 494px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.16);

    .separator {
      width: calc(100% - 70px);
      height: 1px;
      margin: 0 auto;
      background-color: #B7CBB8;
    }

    .div-order-confirm-form-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 160px;

      span {
        max-width: 230px;
      }

      .span-title {
        font-family: 'Brandon-Bold';
        font-size: 25px;
        text-align: center;
        line-height: 30px;
        margin-bottom: 20px;
      }

      .span-subtitle {
        font-family: 'OpenSans-Regular';
        font-size: $mobile-regular-font-size;
        color: $text-light-gray;
        text-align: center;
      }
    }

    .div-order-confirm-form-detail {
      padding: 35px;

      .order-delivery-date {
        font-family: 'Montserrat-Bold';
        font-size: $mobile-regular-font-size;
        line-height: 20px;
        margin-bottom: 20px;
      }

      .order-info-list {
        margin-left: 25px;

        .order-info {
          margin-bottom: 25px;
          display: flex;
          align-items: flex-start;

          img {
            margin-top: 4px;
            margin-right: 10px;
            width: 12px;
          }

          span {
            font-family: 'OpenSans-Regular';
            font-size: $mobile-regular-font-size;
            color: $text-light-gray;
            line-height: 20px;

            &.name{
              font-family: 'OpenSans-Bold';
            }
          }

          div {
            display: flex;
            flex-direction: column;
          }
        }
      }

      .order-history-link {
        font-size: $mobile-regular-font-size - 1;
        font-family: 'Montserrat-Medium';
        margin-left: 20px;

        a {
          color: $green-primary;
        }
      }
    }
  }

  .div-order-confirm-share {
    margin-top: 30px;
    padding: 0 35px;

    .order-share-title {
      font-family: 'Montserrat-Bold';
      font-size: $mobile-regular-font-size;
      line-height: 20px;
      margin-bottom: 25px;
    }

    .order-share-description {
      line-height: 17px;
      font-size: $mobile-regular-font-size;
      font-family: 'OpenSans-Regular';
      color: $text-light-gray;
      margin-bottom: 30px;
    }

    .order-referral-link {
      .order-referral-link-title {
        font-size: $mobile-regular-font-size;
        color: $text-light-gray;
        font-family: 'Montserrat-Bold';
        text-align: center;
        margin-bottom: 20px;
      }

      .order-referral-link-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 62px;
        border: 1px solid #F3F3F3;
        padding: 0 25px 0 18px;
        margin-bottom: 34px;

        input {
          font-size: $mobile-regular-font-size;
          font-family: 'OpenSans-Regular';
          color: $text-light-gray;
          flex-grow: 1;
        }

        img {
          height: 20px;
        }
      }
    }

    .btn-share {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% + 70px);
      height: 61px;
      margin-left: -35px;
      background-color: #515151;
      font-size: $mobile-regular-font-size - 1;
      font-family: 'Montserrat-SemiBold';
      border-radius: unset;

      img {
        height: 18px;
        margin-right: 15px;
      }
    }
  }
}
