@import "../../../../styles/variables/variables";

.gift-datepicker {
  position: relative;

  // input {
  //   width: 100%;
  // }

  .react-datepicker-wrapper {
    width: 100%;

    .react-datepicker__input-container {
      width: 100%;

      .gift-datepicker-input {
        display: flex;

        .input-month {
          width: 50%;
          margin-right: 10px;
        }

        .input-day {
          width: 25%;
          margin-right: 10px;
          margin-left: 10px;
        }

        .input-year {
          width: 25%;
          margin-left: 10px;
        }
      }
    }
  }

  .react-datepicker-input {
    .gift-datepicker-input {
      height: 36px;
    }
  }

  @media (max-width: 710px) {
    .react-datepicker-input {
      .gift-datepicker-input {
        height: 21px;
      }
    }
  }
}
