@import "../../../../styles/variables/variables";

.gift-datepicker {
  position: relative;

  input {
    color: #B7CBB8;
  }

  .react-datepicker-wrapper {
    position: absolute;
    right: 20px;
    top: 22px;

    .gift-datepicker-input {
      height: 36px;
    }
  }

  .react-datepicker-popper {
    left: -200px !important;
    .react-datepicker__triangle {
      left: calc(100% - 30px) !important;
    }
  }

  @media (max-width: 710px) {
    .react-datepicker-wrapper {
      top: 8px;
      .gift-datepicker-input {
        height: 21px;
      }
    }
  }
}
