@import "../../../../styles/variables/variables";

.div-how-it-works {
  display: flex;
  flex-direction: row;
  margin-top: 50px;

  .div-how-it-works-left, .div-how-it-works-right {
    position: relative;
    width: 50%;
    height: 800px;
  }
}

.responsive-div-how-it-works {
  display: none;
}

.div-how-it-works-center {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;

  .div-how-it-works-step {
    font-size: $medium-font-size;
    text-align: left;
  }

  .div-how-it-works-title {
    font-size: $extra-font-size;
    color: $text-black;
    text-align: left;
  }

  .div-how-it-works-description {
    font-size: $footer-secondary-font-size;
    color: $text-light-gray;
    text-align: left;
  }

  .btn-learn-more {
    background-color: transparent;
    border: 1px solid #18AD1F;
    color: $green-primary;
    font-family: 'Montserrat-Medium';
    width: 236px;
    height: 64px;
    border-radius: 32px;
    box-shadow: unset;
    margin-top: 30px;

    &:active {
      box-shadow: $shadow-primary;
    }
  }
}  

.img-how-it-works {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 800px;
  max-width: 90%;
}

.div-how-it-works-left {
  .div-how-it-works-center {
    left: 50%;
  }

  .img-how-it-works {
    left: 50%;
  }
}

.div-how-it-works-right {
  .div-how-it-works-center {
    left: 50%;
  }

  .img-how-it-works {
    left: 50%;
  }
}

.div-how-it-works-view-all-products {
  text-align: left;
  margin-top: 30px;

  .btn-all-products {
    width: 294px;
    height: 69px;
    border-radius: 8px;
    font-size: $regular-font-size;
    
    img {
      width: 26px;
      height: 26px;
      margin-left: 20px;
    }
  }

  @media (max-width: 710px) {
    width: 100%;

    .btn-all-products {
      font-size: $small-font-size;
      height: 60px;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .div-how-it-works {
    display: none;
  }

  .responsive-div-how-it-works {
    display: block;
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    .div-how-it-works-center {
      position: relative;
      left: 50%;
      width: calc(100% - 80px);
      top: unset;
      transform: translateX(-50%);

      .div-how-it-works-step, .div-how-it-works-title, .div-how-it-works-description, .div-how-it-works-view-all-products {
        text-align: center;
      }

      .div-how-it-works-title {
        font-size: 42px;
      }

      .div-how-it-works-description {
        font-size: $small-font-size;
        margin-top: 20px;
      }

      .btn-learn-more {
        width: 100px;
        height: 30px;
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }

    .img-how-it-works {
      position: relative;
      top: unset;
      transform: translateX(-50%);
      width: 60%;
      margin-left: -5%;
    }
  }
}
