@import "../../../../styles/variables/variables";

.menu-filter {
  .dropdown__trigger {
    .menu-filter-dropdown-trigger {
      border: .5px solid #70707080;
      border-radius: 3px;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.16);
      background-color: white;
      width: 103px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;

      .img-filter {
        width: 20px;
        height: 20px;
      }

      .span-title {
        font-size: $mobile-regular-font-size - 1;
        font-family: 'CeraPro-Medium';
        color: $text-light-gray;
        margin-left: 7px;
      }

      .highlighted {
        color: $green-primary;
      }
    }
  }

  .dropdown__content {
    background-image: url('../../../../assets/images/menu_filter_popup.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 191px;
    height: 386px;
    margin-left: -40px;
    padding: 10px 0px 30px 7px;
    animation-name: dropdown-animation;
    animation-duration: 0.5s;
    transform-origin: left top;
    z-index: $zindex-header;
    overflow: hidden;

    .div-menu {
      color: $text-light-gray;
      margin-top: 15px;
      padding: 0 15px 0 6px;
      height: 47px;
      font-size: $mobile-regular-font-size;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .img-icon {
        width: 42px;
      }

      .img-check {
        width: 10px;
      }

      &:hover {
        background: #B5E8B7;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.16);
      }
    }

    .div-menu-clear {
      font-size: $mobile-regular-font-size - 2;
      text-decoration: underline;
      color: $text-light-gray;
      text-align: right;
      margin-top: 15px;
      margin-right: 24px;
    }
  }

  @media (max-width: 710px) {
    .dropdown__trigger {
      .menu-filter-dropdown-trigger {
        height: 31px;
      }
    }

    .dropdown__content {
      margin-left: -20px;
    }
  }
}