@import "../../../../styles/variables/variables";

.menu-filter {
  .dropdown__trigger {
    .menu-filter-dropdown-trigger {
      .img-filter {
        width: 69px;
        height: 37px;
        // background-image: url('../../../../assets/images/filter_button.svg');
        // background-repeat: no-repeat;
        // background-position: center;
        
        // &:active {
        //   background-image: url('../../../../assets/images/filter_button_highlight.svg');
        // }
      }
    }
  }

  .dropdown__content {
    background-image: url('../../../../assets/images/menu_filter_popup.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 225px;
    height: 436px;
    margin-left: -40px;
    padding: 30px 2px 0 7px;
    animation-name: dropdown-animation;
    animation-duration: 0.5s;
    transform-origin: left top;
    z-index: $zindex-header;
    overflow: hidden;

    .div-menu {
      color: $text-light-gray;
      margin-top: 10px;
      padding: 0 10px;
      height: 52px;
      font-size: $small-font-size;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .img-icon {
        width: 50px;
      }

      .img-check {
        height: 10px;
      }

      &:hover {
        background: #B5E8B7;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.16);
      }
    }

    .div-menu-clear {
      font-size: $mobile-regular-font-size;
      text-decoration: underline;
      color: $text-light-gray;
      text-align: right;
      margin-top: 25px;
      margin-right: 20px;
    }
  }

  @media (max-width: 710px) {
    .dropdown__trigger .menu-filter-dropdown-trigger .div-filter {
      width: 46px;
      height: 31px;
    }

    .dropdown__content {
      margin-left: -20px;
    }
  }

  @media (max-width: 414px) {
    .dropdown__content {
      width: 160px;
      height: 309px;
      margin-left: -12px;
      padding-top: 20px;

      .div-menu {
        height: 37px;
        font-size: 12px;
        padding-left: 10px;
        padding-right: 20px;
      }

      .div-menu-clear {
        font-size: 12px;
        margin-top: 10px;
      }
    }
  }
}