@import "../../../../../styles/variables/variables";

$thumbnail-size: 77px;
$mobile-thumbnail-size: 36px;

.div-thumbnails-list {
  width: $thumbnail-size;
  display: flex;
  flex-direction: column;
  
  .green-border {
    border: 2px solid $green-primary;
  }

  .gray-border {
    border: 1px solid $border-gray;
  }

  .img-menu-thumbnail {
    width: $thumbnail-size;
    height: $thumbnail-size;
    margin-bottom: 10px;
  }

  @media (max-width: 710px) {
    width: $mobile-thumbnail-size;

    .img-menu-thumbnail {
      width: $mobile-thumbnail-size;
      height: $mobile-thumbnail-size;
      margin-bottom: 5px;
    }
  }
}