@import "../../styles/variables/variables";

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0s;
  opacity: 1;
  transition: opacity 0.5s;
  z-index: $zindex-overlay-spinner;
}

.overlay--hidden {
  opacity: 0;
  visibility: hidden;
}

.overlay--absolute {
  position: absolute;
}

.overlay__text {
  font-size: $regular-font-size;
  font-family: 'Montserrat-Medium';
}