.recommended-menu-slider {
  display: flex;
  align-items: center;
  width: 100%;

  .img-arrow {
    width: 9px;
  }

  .img-recommended {
    height: 51px;
    margin: 0 5px;
    padding: 0 10px;
  }

  .slick-slider {
    flex-grow: 1;
    width: calc(100% - 18px);
  }
}