@import "../../../../styles/variables/variables";

.div-meal-plan {
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.16);
  border-radius: 3px;
  border: 1px solid #9D9D9D;
  display: flex;
  flex-direction: column;

  .div-meal-plan-title {
    font-size: $small-font-size;
    font-family: 'Montserrat-Bold';
    text-align: center;
    margin-top: 20px;
  }

  .div-meal-plan-subtitle {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
    .span-subtitle {
      font-size: $mobile-regular-font-size + 1;
      font-family: 'Montserrat-Medium';
      color: $text-light-gray;
    }
  }

  .div-meal-plan-image {
    margin-top: 15px;
    img {
      width: 100%;
    }
  }

  .div-meal-plan-prices {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: calc(100% - 96px);
    margin: 30px auto;

    .div-meal-plan-price {
      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .span-price-title {
        font-size: $mobile-small-font-size + 2;
        color: #B2B4BC;
        margin-top: 5px;
      }

      .span-price-value {
        font-size: $small-font-size - 1;
        color: $text-light-gray;
        font-family: 'Montserrat-Medium';
      }
    }

    .has-separator {
      border-left: 1px solid $text-light-gray;
      border-right: 1px solid $text-light-gray;
    }
  }

  .btn-grab-offer {
    width: calc(100% - 96px);
    height: 46px;
    margin: 0 auto 30px;
    font-size: $mobile-regular-font-size - 1;
    font-family: 'Montserrat-Medium';
    border-radius: 4px;
    border: .75px solid #3E8541;
  }

  @media (max-width: 710px) {
    .div-meal-plan-prices {
      width: calc(100% - 20px);
      margin: 15px auto;
    }

    .btn-grab-offer {
      font-size: $mobile-small-font-size;
      width: calc(100% - 20px);
      height: 32px;
      margin: 10px;
    }
  }
}