@import "../../../../styles/variables/variables";

.div-meal-plan {
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.16);
  border-radius: 3px;
  display: flex;
  flex-direction: column;

  .div-meal-plan-title {
    font-size: 16px;
    font-family: 'Montserrat-Bold';
    text-align: center;
    margin-top: 20px;
  }

  .div-meal-plan-subtitle {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .span-subtitle1 {
      font-size: 7px;
      color: #9D9D9D;
      margin-right: 5px;
      margin-top: 2px;
    }

    .span-subtitle2 {
      font-size: $mobile-regular-font-size - 1;
      color: $text-light-gray;
    }
  }

  .div-meal-plan-image {
    margin-top: 20px;
    img {
      width: 100%;
    }
  }

  .div-meal-plan-start-price {
    color: $text-light-gray;
    font-size: $mobile-regular-font-size;
    text-align: center;
    margin-top: 30px;
  }

  .div-meal-plan-total-price {
    color: $text-light-gray;
    font-size: $mobile-regular-font-size + 2;
    text-align: center;
    margin-top: 20px;
  }

  .btn-grab-offer {
    width: calc(100% - 96px);
    height: 46px;
    margin: 24px 43px 43px;
    font-size: $mobile-regular-font-size;
    border-radius: 6px;
  }

  @media (max-width: 710px) {
    .btn-grab-offer {
      font-size: $mobile-small-font-size;
      width: calc(100% - 20px);
      height: 32px;
      margin: 10px;
    }
  }
}