@import "../../../../styles/variables/variables";

.order-history-subitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;

  .order-history-subitem-info {
    display: flex;

    .img-subitem {
      width: 70px;
      height: 70px;
      border-radius: 35px;
      overflow: hidden;
      flex-shrink: 0;
    }

    .order-history-subitem-detail {
      display: flex;
      flex-direction: column;

      color: #707070;
      margin-left: 15px;
      margin-top: 20px;

      .span-subitem-name {
        font-size: $small-font-size;
      }

      .span-subitem-options, .span-subitem-quantity {
        font-size: $mobile-regular-font-size;
        font-family: 'Montserrat-SemiBold';
        margin-left: 15px;
      }

      .span-subitem-rate {
        display: none;
        margin-top: 5px;
      }
    }
  }

  .btn-rate {
    width: 70px;
    height: 30px;
    border-radius: 0;
    font-size: $mobile-regular-font-size;
  }

  @media (max-width: 710px) {
    flex-direction: column;
    align-items: flex-start;

    .order-history-subitem-info {
      .img-subitem {
        width: 76px;
        height: 76px;
        border-radius: 38px;
      }

      .order-history-subitem-detail {
        margin-top: 0;
        line-height: 20px;

        .span-subitem-name {
          font-size: $mobile-regular-font-size;
        }

        .span-subitem-options, .span-subitem-quantity {
          margin-left: 0;
          font-size: $mobile-regular-font-size - 2;
        }

        .span-subitem-rate {
          display: block;
          color: $green-primary;
          font-size: $mobile-regular-font-size;
        }
      }
    }

    .btn-rate {
      display: none;
    }
  }
}
