@import "../../../styles/variables/variables";

.card-info-modal {
  position: absolute;
  width: 450px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background: white;
  border: 0.5px solid $text-light-gray;
  border-radius: 6px;
  box-shadow: $shadow-secondary;
  padding: 40px 45px 36px;

  .card-close {
    .img-close {
      height: 18px;
      float: right;
      margin-right: -30px;
    }
  }
  

  .card-info-title {
    color: $text-light-gray;
  }

  .separator {
    height: 1px;
    background-color: #70707050;
    margin-top: 15px;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    span {
      font-size: $mobile-regular-font-size;
    }

    .input-name {
      height: 43px;
      border: 1px solid $light-green-primary;
      border-radius: 2px;
      color: $text-light-gray;
      font-size: $mobile-regular-font-size;
      caret-color: $green-primary;
      margin-top: 5px;
      padding: 10px;
    }

    .card-input-wrapper {
      .input {
        border: 1px solid $light-green-primary;
        height: 43px;
        label {
          flex-grow: 1;
          input {
            border: none;
            margin-top: 5px;
            padding: 0;
            font-size: $mobile-regular-font-size;
          }
          .credit-card-input {
            min-width: unset;
          }
        }

        &:focus {
          border: 1px solid $green-primary;
        }
      }
    }
  }

  .card-info-save {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;

    .button {
      width: 115px;
      height: 35px;
      border-radius: 3px;
      font-size: $small-font-size - 1;
      box-shadow: $shadow-secondary;
    }

    .btn-save {
      margin-right: 10px;
    }

    .btn-cancel {
      background-color: #F6F6F6;
      color: $text-light-gray;
    }
  }
}