@import "../../../../styles/variables/variables";

.quote-container {
  display: flex;
  flex-direction: column;
  color: $text-light-gray;
  font-size: $mobile-regular-font-size;

  .quote-stars {
    display: flex;
    img {
      height: 11px;
      margin-right: 4px;
    }
  }

  .quote-text {
    margin-top: 10px;
  }

  .quote-author {
    margin-top: 20px;
    font-family: 'Montserrat-SemiBold';
  }
}
