@import "../../../../styles/variables/variables";

.job {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .job-detail {
    color: black;

    .job-title {
      font-size: 23px;
      font-family: 'Montserrat-SemiBold';
      opacity: 0.75;
    }

    .job-location {
      margin-right: 100px;
      font-size: $mobile-regular-font-size + 1;
    }

    .job-time {
      opacity: 0.5;
      font-size: $mobile-regular-font-size + 1;
    }
  }

  .btn-apply {
    width: 118px;
    height: 39px;
    font-family: 'Montserrat-Medium';
    font-size: $mobile-regular-font-size - 1;
    border-radius: 4px;
  }
}
