@import "../../styles/variables/variables";

.radio-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  .img-radio-button {
    height: 25px;
    margin-right: 10px;
  }

  span {
    color: #1A1A1A;
    font-size: $footer-primary-font-size;
  }

  @media (max-width: 710px) {
    .img-radio-button {
      height: 20px;
    }

    span {
      font-size: 14px;
    }
  }
}
