@import "../../../../styles/variables/variables";

.side-cart-item {
  margin-top: 20px;

  .side-cart-item-content {
    display: flex;
    align-items: center;
    
    .img-item {
      width: 133px;
      height: 90px;
      border-radius: 3px;
      flex-shrink: 0;
    }

    .side-cart-item-info {
      color: #242222;
      margin-top: 2px;
      margin-left: 10px;
      flex-grow: 1;
      height: 90px;

      .side-cart-item-title {
        font-size: $mobile-regular-font-size - 1.5;
        font-family: 'Montserrat-SemiBold';
      }

      .side-cart-item-price, .side-cart-item-quantity {
        font-size: $mobile-regular-font-size - 1;
        font-family: 'OpenSans-Regular';
      }

      .side-cart-item-price {
        margin-top: 5px;
      }
      .side-cart-item-quantity {
        margin-top: -2px;
      }
    }

    .img-remove {
      height: 24px;
    }
  }

  .side-cart-item-separator {
    height: 1px;
    background-color: $text-light-gray;
    opacity: 0.5;
    margin: 20px -20px;
  }

  @media (max-width: 414px) {
    margin-top: 15px;

    .side-cart-item-separator {
      background-color: #D4CDCD;
    }
  }
}
